[2020-02-04 19:35] awallin opened #939 "Stop alias"
Add alias for "stop" to stop playing music/video.

- "stop playing music"
- "stop music"
- "stop playing video"
- "stop video"

[2020-02-04 20:23] emceeaich opened #940 "Alow user to specify music service."

[2020-02-04 20:28] #922 closed

[2020-02-04 20:34] awallin commented on #940
@emceeaich Thanks for the feedback. We certainly have this feature in mind. Initially it will likely require enabling each service individually. Do you have a preferred music service you want to see implemented?

How do you envision setting/configuring the service? Once set do you envision asking to play a song or artists ("play green day") would also use the preferred music service?

Related to #

[2020-02-04 20:35] ianb opened #942 "[wakeword] Set a default wakeword"
We currently have a wakeword preference, but no default wakeword, and if you turn on wakewords without any specific words, then nothing will work.

Here's the list (I've removed most but not all the colors, which are part of a Porcupine demo):

<img width="190" alt="image" src="https://user-images.githubusercontent.com/44390/73784685-852aeb80-475b-11ea-8d32-d7b94deff0ed.png">

[2020-02-04 20:35] ianb opened #943 "[wakeword] Don't enable wakeword when there's no specific word"
If you turn on the wakeword but have no words specified, it shouldn't try to start the detector. Should be a simple change to wakeword.js (`updateWakeword()`)

[2020-02-04 20:37] ianb opened #944 "[wakeword] Show wakeword indicator"
We don't have anything to show that a wakeword is enabled (and which wakewords). Probably we should on the recorder page and also the popup.

[2020-02-04 20:37] #859 closed

[2020-02-04 20:37] awallin commented on #943
Is the wakeword enabled on the settings screen? Can we prevent it from being enabled without the selection of a specific word?

[2020-02-04 20:38] ianb opened #945 "[wakeword] [telemetry] Include wakeword in Telemetry"
At least an indicator that it was started with a wakeword. Maybe which wakeword (if we think we'll keep supporting multiple words, but if this is just temporary then we shouldn't bother).

We should include both a boolean if the wakeword is enabled, and if the wakeword was used for the one intent.

[2020-02-04 21:21] ianb opened #946 "[wakeword] Add sensitivity setting"
Right now we default to an 0.5 sensitivity. This worked fine for me with the Python version, but now in WASM it seems less sensitive. We might want to change the default, but also add a sensitivity setting to the options. We should still use the same sensitivity for all keywords.

[2020-02-04 21:28] ianb opened #947 "[wakeword] Open recorder page when wakeword is active"
The wakeword is implemented on the recorder page (which is how it should be). But the recorder page is opened lazily, so the wakeword only becomes available once you use the popup once.

If you have a wakeword enabled we should open the recorder page proactively. If someone closes it I think that's okay, though maybe we should have a confirmation message.

Arguably we should have a pref for this.

[2020-02-04 21:30] ianb opened #948 "[wakeword] Wakeword closes popup if it's open"
If the popup is open, then the wakeword just closes it. It should close and open it (i.e., reset it), or just reload it (also resetting it in place)

[2020-02-04 23:08] #946 closed

[2020-02-04 23:20] ianb opened #950 "[wakeword] Raise window when wakeword is given"
Since now the wakeword works when Firefox is in the background, it can often be strange to be working with the background browser. Ideally we'd raise the window.

Maybe sometimes this isn't desirable, I'm not sure.

One of [these window.update parameters](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/windows/update) might do the trick, though I suspect not. If not, the

[2020-02-05 08:19] maitrella commented on #937
@ianb I don't know whether to change intent or intentParser. Maybe the second option is more aggressive.

[2020-02-05 08:25] maitrella commented on #920
@awallin I think the last one is already supported.

[2020-02-05 08:43] maitrella commented on #938
@awallin  "Scroll to botton", "Scroll to top" are already supported.

[2020-02-05 16:08] #938 closed

[2020-02-05 16:09] #920 closed

[2020-02-05 16:11] ianb commented on #937
@maitrella I think changing the intent is probably the better way to go – the intentParser substitutions could get really out of hand if we add too many. Ideally I'd want to use them mostly for commonly-misheard words, and words that can be removed entirely.

[2020-02-05 16:13] ianb commented on #943
The logic gets a little complicated and annoying if we try to keep people from getting into this particular state. Adding a default wakeword (#942) will keep this from happening too often.

[2020-02-05 16:14] ianb commented on #928
If "go to X" goes to x.com, then after we've discovered that (the first time you've said it) in later times it will focus an x.com tab if one is available. I believe if the active tab is x.com, it will appear to do nothing. Maybe we want an error message in that case?

[2020-02-05 16:16] ianb commented on #489
FWIW, we're probably going to double-down on the pinned tab because we're trying out a wakeword, which requires keeping the mic open.

[2020-02-05 16:35] ianb opened #954 "Scrolling (etc) doesn't work on a PDF page"
For instance, load [this](https://www.cs.rochester.edu/research/cisd/pubs/2007/allen-et-al-plow-aaai2007.pdf) and try to scroll down. You'll get a missing host permission.

I think if we add a permission for `"resource://pdf.js/"` to manifest.json.ejs that it will fix this.

[2020-02-05 16:43] ianb opened #955 ""Lookup link" intent"
It could be interesting to have a lookup command, that would search for something, load it in a hidden tab, take a screenshot and preview it in the popup. _Then_ you have to do something with it, if we had followup commands you might say "copy that link" or "copy markdown link" or whatever. Since we don't... maybe we'd just always copy the link? Or we'd keep track that a page had been looked up, a

[2020-02-05 16:44] ianb opened #956 ""Copy markdown link" includes a semicolon"
For instance, if I use it here I get:

[code]

Probably this is a simple typo.

[2020-02-05 16:48] ianb commented on #930
A couple things we'll have to figure out:

## What field do we type into?

The `paste` intent has some heuristics for this currently. Basically if a text field is focused (input, textarea, or something with contenteditable) then we just type into that. But if not, then it tries to find a proper field. It prefers textarea and contenteditable to an input field, mostly because search fields are commo

[2020-02-05 16:54] ianb opened #957 "Review Ubiquity commands"
The page [Labs/Ubiquity/Commands In The Wild - MozillaWiki](https://wiki.mozilla.org/Labs/Ubiquity/Commands_In_The_Wild) links to lots of commands for Ubiquity (see also [UbiquityWE](https://gchristensen.github.io/ubiquitywe/)).

I think we should read through them for ideas. A bunch are wonky or niche, or wouldn't translate well to speech (Ubiquity was typing-based), but some will. We can probabl

[2020-02-05 16:57] jofish commented on #957
Yeah, cbeard was really excited about that stuff and sent me that page last all hands. I think command line interface stuff is going to be really interesting for power users.

[2020-02-05 16:59] awallin commented on #938
@maitrella Can you add "scroll all the way down" looks like that was the intent a user tried recently.

[2020-02-05 17:06] ianb opened #958 "Set the opener when creating a tab"
Right now we create tabs somewhat blindly. By setting `openTabId` (which typically would be the active tab) some things will work better. E.g., I can be in the middle of my tab strip, do a search, close that search tab, and then it will take me back to my original tab.

[2020-02-05 17:20] dholbert commented on #489
Cool. With a wake word, the persistent mic-active indicator is less surprising/ creepy, I think.

[2020-02-05 17:38] jtaylor113 commented on #930
@ianb - The focus problem is why I mentioned the possibility of right-clicking within the field and choosing dictate from a context menu. You would not lose focus on the text box you are entering text into.

[2020-02-05 18:15] maitrella commented on #938
@awallin let me double check tomorrow but I think is already supported.

[2020-02-05 18:18] maitrella commented on #937
@ianb ok.

[2020-02-05 19:06] ianb opened #960 "Put "translate selection" results in the popup"
It seems like the short text that's likely to be selected can probably fit just fine in a popup.

This might act kind of like how we handle cards, or some other background worker translate page with extraction into the popup.

[2020-02-05 19:33] ianb commented on #957
From the wiki list. Links were lost in my copying, but almost all links are dead. I tried to be inclusive...

Interesting as it has a slightly different flow than what we do.

Similar to #955 (which I think I thought of after reading this item)

Very specific of course, but "what is playing?" seems like a valid question that we could answer.

This would be a simple addition to the clipboard stuff

[2020-02-05 19:50] ianb commented on #957
From UbiquityWE:

[2020-02-05 19:55] ianb commented on #957
In summary: there might be some interesting things to pull out of here, but I'm a little surprised at how limited the Ubiquity commands I've found are. Tons of simple site integrations (mostly a reminder of how few of the sites from that era remain!) and strangely few general-purpose or composable commands.

[2020-02-05 20:07] awallin commented on #938
Yup. Looks like it works already.

[2020-02-05 20:12] ianb commented on #918
This is an intent parser bug that I kind of fixed, but not enough. Punctuation gets eliminated, but in this case we don't want that.

#728 would fix this, but we can also probably fix it in a more expedient way by not removing punctuation that stands alone (in this case "-" with no letters near it).

[2020-02-05 20:13] ianb commented on #913
We may have problems implementing this due to this specific functionality having to be launched from a user-initiated event.

[2020-02-05 20:15] ianb commented on #914
This could be done with the [bookmarks.create()](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/bookmarks/create)

I think simpler is better, so we can use these phrases to create a simple bookmark placed in no specific location. The `pageMetadata.js` handler can get a good title and URL.

[2020-02-05 20:16] ianb commented on #905
Do we want to have any confirmation step on these?

[2020-02-05 20:17] ianb commented on #901
Note this will require a webexperient API (similar to openPopup).

[2020-02-05 20:19] ianb opened #961 "Add "find [query] in tabs" intent"
I experimented with this before, doing a text search across all open tabs. It seemed a bit interesting. There's no particularly obvious way to display the results though. A series of screenshots around the selected text...?

[2020-02-05 20:25] ianb commented on #80
Effectively fixed, because the Google cards handle this nicely.

[2020-02-05 20:25] #80 closed

[2020-02-05 20:40] ianb commented on #915
Maybe the simplest way is to use the same technique that the bookmarklet does:

[code]

Available on [this page](https://getpocket.com/add/?ep=1) but only if you aren't in Firefox.

Note that code has to be run in the page content as a content script.

[2020-02-05 20:41] ianb commented on #926
I'm not sure I understand, but probably it would be best to intercept this intent in the launcher and generate an Android Intent that will open Spotify. If I understand the question...

[2020-02-05 21:55] ianb opened #962 "Allow followup questions"
In some cases we want to ask for followup from the user (usually "yes" or "no", but maybe "next" or some other phrase). Right now they'd have to start the intent all over.

For this ticket we'd allow an intent to specify that it would like to receive another response from the user, and that would get fed back in. If the user closes the popup then it's cancelled.

[2020-02-05 21:58] ianb commented on #908
These are additional phrases for the `navigation.navigate` intent

[2020-02-05 21:59] ianb commented on #912
This might require some guidance, but if someone wants to add Soundcloud support as a new music service, please reply here and I can give pointers.

[2020-02-05 22:07] ianb opened #963 "Put in stub intent to catch known missing features"
We have missing features like #919 that are very clear. Having these open up a search page is not helpful.

We could make one big bucket "we know what you wanted to do, but we aren't doing it" intent that captures these.

We should be sure this shows up well in Telemetry, and that it has feedback buttons.

While this seems somewhat involved, I think it's actually reasonably simple. We'll create a

[2020-02-05 22:10] ianb commented on #931
We're going to survey everyone on what music services they are interested in. We have some tickets for specific services (e.g., #912), but we'll make more tickets for the other services when those results come in.

Contributions will also be welcome.

I think it will be easier to track these tickets individually, so I'm going to close this ticket.

[2020-02-05 22:10] #931 closed

[2020-02-05 22:12] ianb commented on #940
Closing it as a duplicate of the other services tickets. Though if there's a specific intent or phrase that you had in mind, please open this and indicate what you tried and what you wanted.

[2020-02-05 22:12] #940 closed

[2020-02-05 22:18] ianb commented on #942
We'll default to "americano" for now. We'll do something more branded before we promote this feature.

[2020-02-05 22:31] Sav22999 opened #964 "Add Deezer (music service)"
I've seen on issues and nobody asked to add Deezer as music service.

[2020-02-05 22:31] Sav22999 commented on #302
+1

[2020-02-06 09:27] maitrella commented on #954
@ianb fix missing host permission but scroll intent doesn't work. Did I do something wrong?

[2020-02-06 12:36] maitrella commented on #919
@ianb [window.close](https://developer.mozilla.org/en-US/docs/Web/API/Window/close) "Scripts may not close windows that were not opened by script".  Maybe is impossible to implement a close browser intent.

[2020-02-06 14:58] #937 closed

[2020-02-06 14:58] #956 closed

[2020-02-06 15:01] ianb commented on #919
I think this is intended to close the entire program, so there's no easy API to do it.

[2020-02-06 15:19] ianb commented on #954
Well... it's possible there's more than one bug here. The first being the permission issue, and the second that the PDF viewer is a bit weird and the scroll intent might not work on it.

I tried opening up the console on the PDF page and running `window.scrollTo(0, 1000)` and it doesn't do anything. Looking into it a bit, this file seems to handle some of the scrolling: https://github.com/mozilla/

[2020-02-06 15:33] ianb commented on #942
Now that I’ve turned sensitivity up Americano is getting triggered by American or even America. Maybe it’s not the best. I’m going to try Grasshopper.

[2020-02-06 15:33] maitrella commented on #954
The element id is viewerContainer.

Proof of concept:
`document.getElementById("viewerContainer").scrollBy(0, 500)`

[2020-02-06 15:37] ianb opened #968 ""Read title" intent"
This intent seems a bit weird and overly minimal, but I've wanted it a few times lately. Often the title of the page is not clear, especially when it is scrolled down. This happens most often when I'm returning to a tab that is scrolled down. That includes issue numbers in GitHub, or a comment thread where the title indicates what the comments are about.

Of course we'd need to figure out our spee

[2020-02-06 15:41] maitrella commented on #919
In my mind: "If you close all the open windows them firefox closes too" XDDDD

[2020-02-06 15:43] ianb opened #969 "Templated copy intent"
This isn't an intent you'd normally speak, it would only make sense to first type it, then give it a nickname.

The idea is to copy some text to the clipboard based on a template. For instance:

[code]

We'd have to clean up the intent parsing punctuation issue (same as #918, or via #728), as I believe punctuation would be important in this case.

[2020-02-06 15:59] #942 closed

[2020-02-06 16:05] ianb commented on #913
It looks like the `state` property makes this pretty easy using [windows.update()](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/windows/update);

[2020-02-06 16:11] #948 closed

[2020-02-06 16:13] ianb commented on #950
Using `browser.windows.update(win.id, {focused: true})` unfortunately does not work – it focuses one window among the other Firefox windows, but does not itself bring Firefox to the front.

Implementing this will be more complicated than I hoped as a result. Pushing this to the backlog as a result.

[2020-02-06 16:13] ianb commented on #919
True, on Windows it probably does – on Mac it just leaves the app open with no windows.

[2020-02-06 21:11] #106 closed

[2020-02-07 08:14] maitrella commented on #954
As a proof of concept I change scrollHelper.js with this code to experiment scrolling only with pdf files and seems to work despite not understanding very well scrollHeight and clientHeight.

[code]

[2020-02-07 08:48] maitrella commented on #968
Just for fun
[code]

[2020-02-07 18:21] Sav22999 opened #974 ""Read this page" command doesn't work properly"
If you say "Read this page" in a webpage which is abled to Read mode, it returns the below error after loaded the Reading page
![immagine](https://user-images.githubusercontent.com/32335378/74054779-f0382480-49de-11ea-9c91-7f90db4ee1b0.png)

[2020-02-07 18:22] Sav22999 opened #975 "Add voice command "Open Firefox Settings""
Now, if you say "Open settings" it opens "Firefox Voice settings".
If you say "Open Firefox Settings" it opens webpage result -> it should open Firefox Settings

[2020-02-07 18:24] Sav22999 opened #976 "Add voice command "Open NAME extension""
I think it's a good idea add a voice command to open an extension just with the voice.
For example. I installed uBlock. If I want to open it, i should click the icon on address bar.
So, why don't add "Open uBlock extension" voice command to do the same thing?

[2020-02-07 18:25] Sav22999 opened #977 "Add "Search NAME on addons""
Add the command voice "Search NAME on Addons" to search the addon specified on Firefox Addons website easily.

[2020-02-07 22:41] ianb commented on #954
Note that with  #965 it no longer gives a host permission error, but the actually scrolling still needs to be fixed.

[2020-02-07 22:46] michael-mml opened #978 "Development setup for Windows 10 WSL"
Hi, I'm currently trying to follow the development guide for WSL, but the process seems incomplete.
Running npm start fails and I cannot find a way to install Firefox Nightly on WSL; I've tried the direct method and extracting the tar.

System: Ubuntu 18.04 on WSL, Windows 10 19041.21

[code]

[2020-02-09 19:17] SeburoSUMO opened #979 "[Mobile] Does not complete search, stops at "Executing...""
Steps to reproduce:

1. Select Mozilla Assistant from Android home screen.
2. On application opening, speak a search term.
3. Term is correctly recognised and the option is presented to open search term in browser (Fenix Nightly).
4. Browser is selected and the page opens.

The page that opens is:

https://mozilla.github.io/firefox-voice/assets/execute.html?text=Berlin that displays as "Executing.

[2020-02-09 19:19] SeburoSUMO opened #980 "[Mobile] (Feature request) Settings/about menu"
A three line (or three dot) menu so that users can see information such as

1. Version information.
2. Privacy notice.
3. Link to the GH repo.
4. Ability to clear app information ("clear browsing history").
5. Link to Mozilla page for more information.

[2020-02-09 19:20] SeburoSUMO opened #981 "[Mobile] (Feature request) Icon background colour"
To help "fit in" with the style of Fenix, Send and Lockwise, recommend changing the background of the app icon as displayed on the Android home screen from white to black.

[2020-02-10 13:03] maitrella commented on #954
@ianb best way to detect the pdf is open with pdf.js?.

[2020-02-10 19:07] awallin opened #983 "[Dashboard] 7 day retention average"
Add average (or medium) retention percentage to the rolling second day retention graph.

[2020-02-10 21:26] SeburoSUMO commented on #979
Thank s could be a user error.  I was searching using Fenix, which would not have the extension that is available for Fennec.  Using the extension, searches complete correctly.

This may not therefore be an issue, but worth noting that Fennec is soon not going to be available.

[2020-02-11 08:28] maitrella commented on #913
@ianb for "make full screen" and "full screen" windows.update works. For "full screen video" maybe Fullscreen API will be an option. [https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API](url)

[2020-02-11 21:12] awallin commented on #643
Before release wakeword we will need to include privacy details in the FAQ.

[2020-02-11 21:13] awallin opened #986 "[Settings] Enable wakeword"
Improve settings design for enabling wakeword.

- A switch should enable wakeword. By default the wakeword is "Hey Firefox"
- An alternative wakeword "Hey computer" (Need further discussion on exact word) is available.
- Learn more links to privacy FAQ #643

![settings](https://user-images.githubusercontent.com/428245/74279694-41426400-4cd0-11ea-89b5-20e68ca2689d.jpg)

[2020-02-11 21:16] awallin opened #987 "[Settings] Design for keyboard shortcut"
Implement cleaned up Keyboard shortcut configuration in settings.

Changing keys should involve the following steps
1. Clicking into the input box
2. Pressing desired keys to change
3. Setting auto saved when un-focus occurs.

![settings](https://user-images.githubusercontent.com/428245/74279942-ad24cc80-4cd0-11ea-880d-02d4e6a21683.jpg)

[2020-02-11 22:38] awallin opened #988 "[Mobile] Phone call intent"
On Android requests to make a phone call should open and execute in the phone app.

Intents such as:
* Call Mom
* Call John Smith
* Call (415) 857-5309

Depending on interface with the phone app Firefox Voice may need to lookup names and phone numbers from the Contacts.

[2020-02-11 22:42] awallin opened #989 "[Mobile] Text message intent"
On Android requests to compose and send a text message should open and execute in the phone app.

Intents such as:

    Text Mom
    Write a text to John Smith saying see you at the market
    Text Be home in 5 minutes to (415) 857-5309

Depending on interface with the SMS app Firefox Voice may need to lookup names and phone numbers from the Contacts.

@awallin TODO further UX design for various c

[2020-02-11 23:49] vibhuti019 commented on #843
Please explain about the feature. I want to work on this.

[2020-02-12 17:35] awallin opened #990 "[Telemetry] 14 day retention"
To compare Firefox Voice retention to know retention rates from other products we should add a metric to the dashboard showing usage between 7-14 days post installation.

@jofish Are there specific details you want to include to define this metric?

[2020-02-12 20:12] awallin commented on #843
@vibhuti019 This feature would allow for a text voice search of the active web page. For example  saying something like:

* "find 'water' on this page"
* "search this page for 'water'"

Would open the find menu (also accessible via Command + F) and search for 'water'

[2020-02-13 18:21] awallin commented on #862
Screenshot as reported in https://github.com/mozilla/firefox_voice_community/issues/258

![image](https://user-images.githubusercontent.com/428245/74465603-8db1af00-4e4a-11ea-8c9a-75445d8c1792.png)

[2020-02-13 18:21] jofish commented on #862
The exact error text is

**events.mozilla.og**
The add-on could not be downloaded because of a connection failure. [OK!]

This is a shot of the Console log during this error condition.

![49489772722_9123177237_o](https://user-images.githubusercontent.com/582167/74465525-68bd3c00-4e4a-11ea-87a1-cc249410f4dc.jpg)

[2020-02-13 19:42] MLCoco commented on #551
I'm working on this bug right now and I'm wondering what would be a good way to detect the error message?
Right now, the DOM contains an element that links to Spotify's DRM support page, so I can select that.

[2020-02-13 20:24] ianb opened #992 "Enable jest in CI"
I had to disable jest testing (`npm run jest`) in CI (by removing it from `npm test`), because CI couldn't handle the module rewrites. These work for me locally (Node v13.8.0), but CI is acting differently. I _don't_ want any module rewriting when actually using the extension (where the browser has native module support), and especially I don't want it for the old-style modules (including jsx file

[2020-02-13 20:28] ianb opened #993 "Convert modules to ECMA modules"
I'd like to switch things to use ECMA modules (with `import` and `export` and whatnot). This works in the background and pages (using `<script type="module">`).

For content scripts we'd need to use some bundler. I like `browserify` for its simplicity (and we use it a little for importing freezeDry.js). But we might be able to handle content scripts separately, there's only a couple shared modules

[2020-02-13 20:34] #728 closed

[2020-02-13 20:34] #913 closed

[2020-02-13 22:15] espertus commented on #929
Thanks for calling these to my attention. Please test this APK when you get a chance: https://github.com/espertus/mozilla-assistant/blob/34f6c54cb59059aec76d854e35a85360e1a43b17/app/build/outputs/apk/debug/app-debug.apk?raw=true

[2020-02-14 01:04] jofish commented on #862
The more I dig into this, the more I see this showing up as a persistent problem.

Like, here's 1Password with their klunky workaround for it: https://support.1password.com/firefox-connection-failure/

Here's BetterTTV: https://www.reddit.com/r/firefox/comments/8l8hy1/the_addon_could_not_be_downloaded_because_of_a/

I see complaints in the comments of this blog entry: https://blog.mozilla.org/addo

[2020-02-14 04:37] paulZhongym commented on #914
@ianb Hi, are there any other features needed in this?

[2020-02-14 14:18] #993 closed

[2020-02-14 14:20] ianb commented on #914
I think this is fixed with #967. It would be possible to add some new phrases that set the bookmarks title and such, but I'm not sure that kind of input is accurate enough to work well.

[2020-02-14 14:20] #914 closed

[2020-02-14 14:22] ianb opened #995 "Intent to make videos fullscreen"
#913 (PR #985) added a full screen intent, but sometimes what's intended is to make the _video_ fullscreen, not the browser/page.

I think this should look at the active tab, and probably use the services infrastructure (e.g., `extension/services/youtube/youtube.js`). I'm not sure if there's actually a general way to make a video full screen.

[2020-02-14 14:22] ianb commented on #913
Yeah, full screen video makes sense too, I opened #995 as a followup.

[2020-02-14 14:32] ianb commented on #954
`tab.url` should show `resource://pdf.js/` I believe, though from the content script it's less clear – it appears `location.href` still shows the original URL.

I'm going to ask around though about better ways to handle these. Ideally we just want "scroll down" to do the same thing the PageDown key does (maybe even fire a pagedown)

[2020-02-14 14:46] ianb commented on #977
Right now we're deferring to duckduckgo to setup site-specific searches, but we should also handle some ourselves.

"addons" (and "addons.mozilla.org", "extensions", "firefox extensions", "amo") should go in `serviceList.js` in `SERVICE_BANG_ALIASES` and then we'll need another list of our own search providers. E.g., addons would use `https://addons.mozilla.org/en-US/firefox/search/?q=%s`

This in

[2020-02-14 16:17] ianb opened #996 "Use window.docShell.doCommand() for more"
We can do things ([like in this file](https://dxr.mozilla.org/mozilla-central/source/editor/libeditor/tests/test_selection_move_commands.html)) like `cmd_scrollPageDown`, and this is going to act exactly like hitting the Page Down button (which is different than `window.scrollBy()`).

It should enable a bunch of simple commands with very little code.

[This search](https://dxr.mozilla.org/mozilla-

[2020-02-14 16:54] caitmuenster commented on #862
Can you file this bug to https://bugzilla.mozilla.org/enter_bug.cgi?product=WebExtensions? It would be good if we could get the info from `about:support` from affected users in the bug as well.

[2020-02-14 17:20] awallin opened #997 "Play/pause video on active page"
Saying "play" or "pause" should control the video on any active page if there is a video available.

If more than one video is available the first visible video should be played.

[2020-02-14 17:22] awallin opened #998 "Close lightbox"
When a lightbox overlays the active page saying 'close' should close the lightbox revealing the primary page content.

[2020-02-14 17:25] #968 closed

[2020-02-14 19:12] ianb opened #999 "Use SpaCy stopwords"
In `extension/background/language/english.js` we have a list of stopwords. SpaCy [has a bigger list](https://github.com/explosion/spaCy/blob/e0cf4796a505bd26e8fcb95d23b89fd7eca3be0a/spacy/lang/en/stop_words.py) and maybe we should use that.

[2020-02-14 19:18] ianb opened #1001 "Add automated tests of intent phrases"
With #1000 we can write a jest test that tries all the phrases, and tests that they resolve appropriately.

Some of the examples are currently in the wrong place and need to be moved.

[2020-02-14 19:20] ianb opened #1002 "Watch for .toml file changes"
Right now if you have the browser running and edit a `.toml` file (from #1000), it won't get updated. If you run `npm run build:intent-metadata` then the right file will be regenerated and reloaded.

We're using `babel --watch` but maybe we need to use another watcher and have it run an npm build command. I think it's fine if a change to a jsx or toml file triggers both of them being rebuilt.

[2020-02-14 19:21] #885 closed

[2020-02-14 20:39] jofish commented on #862
Done.

See https://bugzilla.mozilla.org/show_bug.cgi?id=1615712

Thanks

[2020-02-14 22:36] ianb commented on #990
Here's an example query from another project:

[code]

[2020-02-17 06:25] jofish commented on #990
Sean suggested:I've been having conversations with several of you about what success looks like for some of our product experiments.  Hadn't heard this number specifically before but saw a note in the mobile OKR efforts that said day 7 retention of 20% was industry standard for successful new product. I can imagine that's different when there's a different cadence or use case both worth considerin

[2020-02-17 10:35] maitrella opened #1004 "After click on mic icon "Doorhanger" opens and closes immediately"
STR:
    Click on the mic icon from the browser toolbar.

Expected result:
"Doorhanger" opens

Actual result:
"Doorhanger" opens and closes immediately

Notes: Reproduced on Ubuntu 19.10 with 74.0a1 (2020-02-09) (64-bit)

![Peek 17-02-2020 11-22](https://user-images.githubusercontent.com/5709917/74646005-4b091300-5179-11ea-99e2-f541b096a924.gif)

[2020-02-17 11:09] maitrella commented on #1004
Same happens with 75.0a1 (2020-02-14) (64-bit)

[2020-02-17 17:15] eirhardt opened #1006 "[Windows 10] Floating Microphone Button Disable"
Please give us a way to disable [this](https://imgur.com/a/clDvGfV) button.

[2020-02-17 20:01] ianb opened #1007 ""Copy image" intent"
This intent would find the "best" image on the page, and copy it. Probably the image that is visible in the viewport (50%) that has the largest area.

[2020-02-18 12:46] alexandra-martin commented on #1004
I am experiencing a similar issue, if I install the add-on from the "Install dev version" link. If I click normally on the mic icon nothing happens, but on Firefox 73.0 if I click very fast several times I see a little bit of the doorhanger.
Tried it on Windows 10x64 with Firefox 73.0 and 75.0a1 (2020-02-17).
The add-on installed from the "Install production version" link, works fine, but don't kn

[2020-02-18 12:51] maitrella commented on #1004
The problem appears with the latest code in master branch.

[2020-02-18 16:45] awallin commented on #929
Visual are looking good.

[2020-02-18 16:45] #929 closed

[2020-02-18 16:59] awallin opened #1008 "[Settings] Unresponsive checkboxes"
In the latest dev built (0.19.3886) checkboxes in the settings menu are unresponsive (unable to click).

[2020-02-18 18:17] ianb opened #1009 "[localize] Find and fix English-oriented services"
There are a few services that include implied expectations of English:

- [ ] Translate intents default to translating _to_ English. They should translate to the preferred language.
- [ ] Spotify and maybe YouTube look for English phrases. Ideally these would be fixed to be language-neutral (so that someone can use Firefox Voice in English, yet view Spotify in Polish).

[2020-02-18 18:17] #979 closed

[2020-02-18 18:24] ianb opened #1010 "[localize] Create language preference setting"
One of the first things we'll want is a preference for the preferred language.

Note this goes in `settings.js` and `optionsView.js`. We should probably hide this option for production, using the same technique we use to hide Intent Viewer on that page. Then it will only show up for people developing Firefox Voice. Once there's a little functionality we can enable it with big scary "experimental/i

[2020-02-18 18:24] ianb opened #1011 "[localize] Localize text output"
Output should be localized, including onboarding, text in the popup, etc.

We should use [Fluent](https://projectfluent.org/), and specifically [Fluent React](https://github.com/projectfluent/fluent.js/wiki/React-Bindings).

We'll also need to compile the Fluent .ftl files into JSON for use with the WebExtension [i18n](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/i18n

[2020-02-18 18:29] ianb opened #1012 "[localize] Localize language/compiler"
Right now we have some lists of words in [english.js](https://github.com/mozilla/firefox-voice/blob/master/extension/background/language/english.js). We also have some routines that should perhaps be localized, specifically `normalize` and word-splitting (these should perhaps be moved into `english.js`).

It's possible we should create some class that is instantiated with the language, that will h

[2020-02-18 18:39] ianb opened #1013 "[localize] Create localized phrase definitions"
Once #1012 is done, we'll want to create new phrases in other languages.

I think the best way would be to put them in the existing `.toml` files. So for instance we have:

[code]

And maybe we'd add (pardon my translation):

[code]

Then in [parse-intent-toml.js](https://github.com/mozilla/firefox-voice/blob/master/bin/parse-intent-toml.js) we'd fix this up into... something appropriate. For TOML

[2020-02-18 18:42] ianb opened #1014 "[localize] Setup Pontoon for Firefox Voice"
Only when we have #1011 done, we should ask about getting our project up on [Pontoon](https://pontoon.mozilla.org/). This will allow community members to translate our strings.

I don't _think_ we should ask people to translate the phrases (#1013) (since there's at least some syntax involved), though maybe I'm wrong, or maybe we could just engage people in brainstorming phrases we should match.

W

[2020-02-18 18:45] ianb opened #1015 "[localize] Provide Firefox Voice in other languages"
This is a meta bug, listing tickets in the order I think they should be tackled:

- [ ] Create language preference setting #1010
- [ ] Localize language/compiler #1012
- [ ] Create localized phrase definitions #1013
- [ ] Localize text output #1011
- [ ] Setup Pontoon for Firefox Voice #1014
- [ ] Find and fix English-oriented services #1009

[2020-02-18 19:00] awallin opened #1016 "[Mobile] "Go to..." request not executed"
On Android when making a request such as "Go to the BBC" or "Go to the 49ers on ESPN" the action is not executed.

Steps to reproduce:
* Trigger FxVoice helper app
* Say "Go to the BBC"
* App indicates processing and then switches to Firefox browser.
* In Firefox browser the last viewed tab is visible and no other action occurs.

Add on version: 0.19.3886
Mozilla Assistant version 1.0

[2020-02-18 19:02] awallin opened #1017 "[Mobile] Transcription of utterance not displayed"
On the latest version the Mozilla Assistant app a transcription of the utterance is no longer displayed before switched to the Firefox browser. This used to be visible before processing to make it clear to the user what the app heard.

[2020-02-18 19:25] ianb commented on #1004
@mairella @alexandra-martin I'm not able to reproduce it here. Is there any error message in the Browser Console?

[2020-02-18 20:37] maitrella commented on #1004
I'll check tomorrow morning. To test a new branch (or master) before npm install, npm run format and npm start I erase node_modules and Firefox profile directories. Doing this I can always reproduce the issue with code in master branch.

[2020-02-18 20:51] maitrella commented on #1004
@ianb don't take into account my comment  I wrote it before your PR.

[2020-02-18 21:00] ianb opened #1020 "Review use of "browser.windows""
Android doesn't support `browser.windows`, and we should double-check that it is not being used.

[This](https://sentry.prod.mozaws.net/operations/firefox-voice/issues/7127338/?query=is:unresolved) (not public) is an example error.

Also [this](https://sentry.prod.mozaws.net/operations/firefox-voice/issues/7127337/?query=is:unresolved) is more helpful: `moz-extension://firefox-voice/browserUtil.js

[2020-02-18 21:02] ianb opened #1021 "Investigate zero volume error"
[This](https://sentry.prod.mozaws.net/operations/firefox-voice/issues/7140931/?query=is:unresolved) error is occurring a lot. It appears to be the zero volume error, with no recorder tab. Not sure what's going on there.

Also [this error](https://sentry.prod.mozaws.net/operations/firefox-voice/issues/7106692/?query=is:unresolved)

[2020-02-18 21:06] ianb opened #1022 "Investigate "result is not defined" in optionsController"
See [this](https://sentry.prod.mozaws.net/operations/firefox-voice/issues/7302385/?query=is:unresolved) report

[2020-02-18 21:08] ianb opened #1023 "Investigate "errorIncorrect argument types for tabs.sendMessage.""
Traceback:

[code]

See [this](https://sentry.prod.mozaws.net/operations/firefox-voice/issues/6895853/?query=is:unresolved) report.

[2020-02-18 21:11] ianb opened #1024 "Investigate "card is undefined""
Error is at `moz-extension://firefox-voice/intents/search/search.js in pollForCard/cardPollTimeout< at line 164:11`

See [this report](https://sentry.prod.mozaws.net/operations/firefox-voice/issues/6833037/?query=is:unresolved)

[2020-02-18 21:16] ianb commented on #855
This is the `applications.settings.intl.acceptLanguages` value that is already present in the Telemetry pings.

[2020-02-18 21:16] #855 closed

[2020-02-18 21:20] ianb commented on #393
This was fixed, we now have `localHour`

[2020-02-18 21:20] #393 closed

[2020-02-18 21:23] awallin commented on #1010
Firefox has a language setting in preferences. We won't have every language as we're adding support one-by-one. But, we might be able to set the default language for voice if it's available?

[2020-02-18 21:31] ianb commented on #945
Schema changed in: https://github.com/mozilla-services/mozilla-pipeline-schemas/pull/507

[2020-02-18 21:31] ianb commented on #587
Schema changed in: https://github.com/mozilla-services/mozilla-pipeline-schemas/pull/507

[2020-02-18 21:31] ianb commented on #574
Schema changed in: https://github.com/mozilla-services/mozilla-pipeline-schemas/pull/507

[2020-02-18 21:32] ianb commented on #588
Schema changed in: https://github.com/mozilla-services/mozilla-pipeline-schemas/pull/507

[2020-02-18 21:33] #1004 closed

[2020-02-18 21:34] espertus commented on #1016
@ianb Does the release version of the add-on support execute.html links? Here's what happens when I try.
![Screenshot_20200218-094944 (1)](https://user-images.githubusercontent.com/661056/74779961-706a4f80-5253-11ea-9123-a0a10ca805a3.png)

[2020-02-18 21:42] awallin commented on #1010
Mockup for language preference.

![preferences-with-language](https://user-images.githubusercontent.com/428245/74780461-7f053680-5254-11ea-85cf-2732879aba7d.jpg)

[2020-02-18 22:06] ianb commented on #1010
Especially because our initial language support will be partial, I think we should default to English until we really believe we can support another language well.

[2020-02-18 22:15] ianb commented on #1016
Only the special Android build supports those links, but I'm guessing this must be that version because other versions aren't installable on Android.

But if just this one intent is broken, then it probably isn't a problem with execute.html.

I suspect this is #1020

[2020-02-18 22:23] ianb opened #1025 "Intent: "Copy everything like X""
This intent would find the given text, then try to copy that and everything that "looked" like that. This might be items in a list or other structured items.

Typical heuristics are sibling elements, where the element is left-justified with the original element, and of roughly the same size.

The "original" element would be nearest blockish ancestor node that contains the text and not too much mor

[2020-02-18 22:58] #1020 closed

[2020-02-18 22:59] ianb commented on #1016
I've fixed #1020, we should reverify this bug.

[2020-02-18 23:39] #1021 closed

[2020-02-19 16:39] #999 closed

[2020-02-19 16:59] ianb opened #1031 "[Android] Use encryption on EXECUTE_INTENT_URL"
I'm not sure when we'll have a better communication method than the EXECUTE_INTENT_URL approach. We should probably try to secure it.

If we could sign the URL (including some timestamp to avoid replay) then that could mostly work. Managing the keys is a little unclear, as we don't have a place for secure key storage in the launcher or extension, though it's probably better to try to use the launc

[2020-02-19 17:19] awallin commented on #919
Another feature request came in asking for "exit Firefox" / "quit firefox" / "shutdown firefox"

https://github.com/mozilla/firefox_voice_community/issues/292

[2020-02-19 17:44] awallin commented on #1017
![Transcript](https://user-images.githubusercontent.com/428245/74859743-5df82080-52fc-11ea-9fee-2555c8cb8e59.jpg)

[2020-02-19 20:12] #900 closed

[2020-02-19 20:34] #945 closed

[2020-02-19 20:34] #587 closed

[2020-02-19 20:34] #588 closed

[2020-02-19 20:36] ianb opened #1034 "[telemetry] Monitor errors"
We have a report for errors, we should be sure we are monitoring that with the new changes (especially #1033).

Notably we have 34 errors of `/payload/feedback` and 333 of `/payload/extensionInstallDate`, which I think are all due to an old bug, but we shouldn't see those numbers going up.

[2020-02-19 20:40] #574 closed

[2020-02-19 22:05] ianb commented on #1008
This was fixed recently.

[2020-02-19 22:05] #1008 closed

[2020-02-19 22:26] ianb commented on #976
This is going to be hard on a couple levels – invoking another extension isn't clear, but it probably means click the accompanying toolbar button. That's not something that we easily have access to. But then once you've done that you have a popup, and an extension popup is impossible for us to control at all, so you would be forced to continue interacting with your mouse and not your voice.

Becau

[2020-02-19 22:26] #976 closed

[2020-02-19 22:27] ianb commented on #975
We'll have to work out the permissions for this. It should just open `about:preferences` but that will have to happen in `api.js`

[2020-02-19 22:28] ianb commented on #974
Duplicate of #706

[2020-02-19 22:28] #974 closed

[2020-02-20 16:24] alexandra-martin commented on #1016
With Add-on version 0.19.4008 and Mozilla Assistant version 1.0 I can still reproduce the issue.

[2020-02-20 17:41] espertus commented on #1017
Fixed.

[2020-02-20 17:41] #1017 closed

[2020-02-20 18:22] ianb opened #1036 "[wakeword] Wakeword pref change doesn't always start recorder"
I've noticed when enabling the wakeword that the recorder doesn't always start listening. Reloading the recorder page fixes it.

[2020-02-20 18:30] ianb opened #1037 "[wakeword] Enable wakeword"
This is a meta ticket for doing a wakeword:

- [ ] Wakeword pref change doesn't always start recorder · Issue #1036
- [ ] Don't enable wakeword when there's no specific word · Issue #943
- [ ] [Settings] Design for enable wakeword · Issue #986
- [ ] Open recorder page when wakeword is active · Issue #947
- [ ] [wakeword] Show wakeword indicator · Issue #944

And some optional tickets:

- [ ] [wake

[2020-02-20 18:32] ianb commented on #986
Until we have our own wakeword, we're going to use "Grasshopper" as the main wakeword, with "Porcupine" as a secondary wakeword.

Maybe we should have a third wakeword, as we'll want to ship with a wakeword that doesn't contain the word "Firefox" (because while that's probably fine for most people, but it happens to be a problem for Mozilla employees, who actually say "Firefox" frequently).

[2020-02-20 18:40] espertus commented on #927
Could you let me know what types of requests you'd like handled, such as:

- Navigate to 345 Spear St.
- What restaurants are nearby?
- How would I get to SFO?

[2020-02-20 19:52] awallin commented on #927
Those are all good. These are others we should handle:

* Address only: "331 E Evelyn Ave, Mountain View"
* "Directions to 331 E Evelyn Ave, Mountain View"
* "Map <address/attraction/location/store name>"
* "Where's the nearest sushi restaurant"
* "Where's a good place to get pizza"
* "open maps"
* What's the fastest way to get to Disneyland"
* Might not be possible but if we have access to a 'hom

[2020-02-20 20:41] ianb opened #1038 "[wakeword] Update Porcupine library"
I believe the npm package is out of date, and instead we should be installing it from source

[2020-02-20 21:05] espertus commented on #927
@awallin @ianb Any suggestions how to recognize an address?

[2020-02-20 21:37] ianb commented on #600
I'm still not able to reproduce this. I tried throttling the search page, and the popup waited for the page to load and displayed the card, despite it taking 20 seconds to load. I tried doing overlapping requests (initiating a search, then a new search while the old one was still loading) and it worked fine as well.

[2020-02-20 21:41] ianb opened #1039 "Onboarding sometimes displays without accepting opt-in/out"
I've gotten it into a situation where I start from a new profile, the opt-in page comes up, and I somehow get to the normal onboarding page. I'm not sure how I do this, maybe by accepting or rejecting the mic permission? I've tried to reproduce but failed so far.

This gets confusing when you click the popup again and it just stays on the onboarding page that no longer shows the query.

We could f

[2020-02-20 22:14] awallin commented on #927
A couple of ideas:

* Try to match an existing set of addresses? Maybe that's contacts on the local phone, maybe an external library or maps API? If match is true pass request to maps app. Maybe we limit to matching to some local area (city, state) for faster/more accuracy?

* Look for city or zip code matches or use of "street", "avenue", "boulevard"

[2020-02-20 22:20] espertus commented on #927
I don't think matching a raw address is very practical. Using an API would take time and/or cost money. I don't know how likely it is that an address would be in contacts and how long it would take to search for it, but that would really slow things down.

There are regular expressions that would catch most addresses. I'll add one of @ianb thinks it's a good idea.

FWIW, even Google Voice Assistan

[2020-02-20 22:38] awallin commented on #927
If we could catch most addresses that'd be great. Doesn't have to be 100%.

FWIW, Siri does a pretty good job with just a number and a street name.

![IMG_3C8FF3837A78-1](https://user-images.githubusercontent.com/428245/74986726-806a6680-53ee-11ea-983b-a0f95a34c8b9.jpeg)

[2020-02-20 22:59] ianb commented on #825
Here's the phrases I catch:

[code]

It only follows links. I add a pinkish highlight to the link for a moment before following it (background-color `rgba(255, 0, 0, 0.3)`). Other styles would be possible, I just made something up.

We might consider supporting `<button>` as well, maybe using two slightly different phrases (I think "follow" shouldn't select buttons, but "click" should do anchors o

[2020-02-20 22:59] #825 closed

[2020-02-20 23:05] ianb commented on #978
@MLCoco I don't know WSL very well, but I would hope that it could connect with your normal Windows Firefox.

To force the startup to use a particular installation of Firefox, you can do:

[code]

I'm kind of guessing what the right path is, you should of course adjust it for your system.

[2020-02-20 23:10] ianb opened #1041 ""close that" should close tab"
Maybe just add it to the phrase.

[2020-02-20 23:14] ianb opened #1042 "Match phrase "search""
If you just say "search" (no query) it acts kind of weird.

It should open your default search engine. This can be done with `browser.search.search({query: ""})`

This should be a new intent in `search.js`

[2020-02-20 23:16] ianb opened #1043 "Handle phrase "what commands can you follow""
Not sure exactly how we should match this, but it should go to the lexicon.

[2020-02-20 23:20] ianb opened #1044 "Handle repeated words in one-word phrases"
An example is "next next" should match "next".

We could potentially do this automatically in `Word.matchUtterance()`. I think it's common if you aren't sure if it's listening.

[2020-02-20 23:20] ianb opened #1045 "Phrase: "hi""
Should mean the same as "hello"

[2020-02-20 23:21] ianb opened #1046 "Phrase: allow "resume" for "play"/"unpause""
E.g., "resume video" should do the right thing.

[2020-02-20 23:22] ianb opened #1047 "Phrase: "copy page screenshot""
Should probably get the full page screenshot.

[2020-02-20 23:24] ianb opened #1048 "Phrase: "scroll page""
Should act the same as "scroll down". Probably "scroll" should also mean "Scroll down"

[2020-02-20 23:26] ianb opened #1049 "Phrase: "text" alias for "next""
In english.js

[2020-02-20 23:30] ianb opened #1050 "Phrase: "close the current top""
We already alias "top" to "tab", but I think "current" is getting in the way.

[2020-02-20 23:34] ianb opened #1051 "Phrase: "hello how are you""
Should open lexicon I guess

[2020-02-21 00:46] espertus commented on #927
There's a first version that should do everything except for a raw address. It has not been extensively tested. https://github.com/espertus/mozilla-assistant/blob/issue927/app/build/outputs/apk/debug/app-debug.apk?raw=true

The phrases can be seen in this file https://github.com/espertus/mozilla-assistant/blob/issue927/app/src/main/java/mozilla/voice/assistant/intents/maps/Maps.kt

More later.

[2020-02-21 08:47] alexandra-martin commented on #1017
Verified on Android 10 with Mozilla Assistant version 1.0 and Add-on version 0.19.4034.

![20200221_103418](https://user-images.githubusercontent.com/54401091/75018342-63d63900-5497-11ea-8ada-5cfe2ce7505d.gif)

[2020-02-21 09:53] alexandra-martin commented on #600
I haven't reproduce the issue since returning. You can close the bug report and if I reproduce it again, I will file another bug or reopen this one.

[2020-02-21 12:10] alexandra-martin opened #1052 "[Desktop] "Internal error: ReferenceError: serviceList is not defined" error when doing services related commands"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (in case of new profile)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Search" co

[2020-02-21 12:35] alexandra-martin opened #1053 "[Desktop] “Internal error: ReferenceError: exports is not defined” error for music related commands"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (in case of new profile)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a music relat

[2020-02-21 15:27] alexandra-martin commented on #860
While testing on Mac, at some point no audio was captured and then I couldn't make any audio commands. Had to reopen the browser in order for the add-on to work properly again. Managed to get the error from the Browser Console and the telemetry information. What other information should I look at, if I reproduce this again?

![02 21 voice](https://user-images.githubusercontent.com/54401091/7504693

[2020-02-21 16:08] #600 closed

[2020-02-21 16:13] ianb opened #1054 "Phrase alias: "pooping" as "open""
I think "open" is much more likely. In english.js

[2020-02-21 17:37] awallin commented on #825
Great feature. I've had some issues getting the syntax right. Words like 'open' and 'click' seem to have frequent transcription errors. We'll have to keep our eyes on that.

Would be great to use a highlight style that matches the Zap. We could copy the style FPN uses for their navigation.

<img width="760" alt="Screen Shot 2020-02-21 at 9 36 24 AM" src="https://user-images.githubusercontent.com/4

[2020-02-21 17:41] awallin commented on #825
We've also used this css during onboarding for the zap.

`display: block;
content: "";
height: 5px;
background-image: linear-gradient(to right,
#6173ff, #f10366, #ff9100);`

[2020-02-21 18:34] awallin opened #1055 "'Back' as alias for 'Go back'"
Add an alias of 'back' for 'Go back' action.

[2020-02-21 19:00] awallin opened #1057 "Add examples"
Add the following examples to the rotation.

* Click on link for proper way to drink whisky (opens link on active page)
* Translate selection to French (will translate highlighted text)
* Go back
* Scroll down
* Scroll all the way down
* Bookmark this page
* Full screen
* Go to the first tab
* Go to the last tab
* Go to right tab
* Previous tab

[2020-02-21 20:16] ianb commented on #55
We have some jest tests, though they don't test the startup of the test. A basic Selenium test still might make sense.

[2020-02-21 22:13] awallin commented on #862
Another report:
https://github.com/mozilla/firefox_voice_community/issues/305

[2020-02-21 22:15] #1001 closed

[2020-02-21 22:15] #508 closed

[2020-02-21 22:15] #1052 closed

[2020-02-21 22:15] #1041 closed

[2020-02-21 22:15] #1043 closed

[2020-02-21 22:15] #1053 closed

[2020-02-21 22:15] #1055 closed

[2020-02-21 22:15] #1044 closed

[2020-02-21 22:15] #1045 closed

[2020-02-21 22:15] #1046 closed

[2020-02-21 22:15] #1047 closed

[2020-02-21 22:15] #1048 closed

[2020-02-21 22:15] #1049 closed

[2020-02-21 22:15] #1050 closed

[2020-02-21 22:15] #1051 closed

[2020-02-21 22:15] #1054 closed

[2020-02-21 22:43] ianb opened #1059 "Use URL cleaner for pageMetadata"
[Neat URL](https://github.com/Smile4ever/Neat-URL) is an extension, but presumably it has some bits of code (probably [this function](https://github.com/Smile4ever/Neat-URL/blob/master/background.js#L456-L590)) we can use to just to do cleaning. We could add that to pageMetadata.

[2020-02-21 22:53] ianb commented on #927
Detecting addresses is just too hard for us at this time, it's like its own sub-language. If we send bare addresses to search/google.com, then Google will detect the address and show a map, and you can click that to get through to the Maps app. This seems like fairly good behavior to me.

[2020-02-22 06:07] MLCoco commented on #978
You're right about the `$FIREFOX` variable.
I actually got it figured it out for WSL2 and going to make a PR to update the docs.

[2020-02-24 12:24] alexandra-martin commented on #1053
Verified on Windows 10x64 and Mac 10.14 with Firefox Release 73.0.1 and Nightly 75.0a1 (2020-02-23).

![2](https://user-images.githubusercontent.com/54401091/75151963-9d65a900-5710-11ea-89be-d5bbf614c064.gif)

[2020-02-24 12:24] alexandra-martin commented on #1052
Verified on Windows 10x64 and Mac 10.14 with Firefox Release 73.0.1 and Nightly 75.0a1 (2020-02-23).

![1](https://user-images.githubusercontent.com/54401091/75151383-398eb080-570f-11ea-8f85-2a5ad7da5d7a.gif)

[2020-02-24 16:07] #978 closed

[2020-02-24 18:24] espertus opened #1061 "Port changed intent parser to Android helper app"

[2020-02-24 19:27] espertus commented on #927
I've merged these changes into master. As always, the APK can be found at https://github.com/espertus/mozilla-assistant/blob/master/app/build/outputs/apk/debug/app-debug.apk?raw=true

You can see the intents here: https://github.com/espertus/mozilla-assistant/blob/master/app/src/main/java/mozilla/voice/assistant/intents/maps/Maps.kt

[2020-02-24 20:20] ianb commented on #909
This was fixed amid some of the other phrase updates

[2020-02-24 20:20] #909 closed

[2020-02-24 20:22] ianb commented on #908
I'm going to actually call this an alias for "find" (we already have "bring me to" for find)

[2020-02-24 20:25] ianb commented on #906
"Screenshot" is a bit vague, but I'm going to treat it as "copy screenshot" since that's the least intrusive default.

[2020-02-24 21:01] #911 closed

[2020-02-24 21:01] #939 closed

[2020-02-24 21:01] #906 closed

[2020-02-24 21:01] #908 closed

[2020-02-24 21:50] ianb commented on #737
Note the easiest way to reproduce this is by breathing into the mic, so there's not silence but there's also not a voice.

[2020-02-24 21:54] #737 closed

[2020-02-24 22:04] #86 closed

[2020-02-24 22:31] espertus opened #1066 "Move aliases and stop words from english.js to a text file"

[2020-02-24 23:19] #706 closed

[2020-02-24 23:22] #71 closed

[2020-02-24 23:23] ianb commented on #503
With #86 this doesn't seem so important.

[2020-02-24 23:23] #503 closed

[2020-02-24 23:25] #907 closed

[2020-02-24 23:33] #142 closed

[2020-02-24 23:39] awallin commented on #927
Tested it out. Works great. I like how you support biking and walking directions.

Can you add support for the phrase "directions to <address>"?

[2020-02-24 23:50] espertus commented on #927
That would be an easy addition. Hang on.

[2020-02-25 00:06] espertus commented on #927
Done.

[2020-02-25 00:06] #927 closed

[2020-02-25 12:42] alexandra-martin opened #1071 "Written commands can't be made"
### Prerequisites:
Mic permission are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked. (in case of first installation)
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (in case of new profile)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar

[2020-02-25 15:14] #1066 closed

[2020-02-25 15:17] ianb commented on #807
This is how we display simple messages right now:

<img width="411" alt="image" src="https://user-images.githubusercontent.com/44390/75260595-790cd980-57af-11ea-91b2-adf9577bc69d.png">

It doesn't seem right, but entirely replacing the utterance with a message also doesn't seem right. @awallin thoughts?

[2020-02-25 16:49] ianb opened #1074 "Settings page should try to acquire microphone"
Because the recorder page is gone, the settings page is now the way that we should expect people to change their microphone settings. But since we don't ask for microphone permission, you can remove but not add microphone permissions.

If we ask for the microphone (but don't record) it should put up a permission prompt.

[2020-02-25 17:02] awallin commented on #1074
Should we have a link in the settings page to change mic permissions which would open a new page that tried to acquire microphone permissions and displayed instructions? That way we don't need mic permissions every time settings is opened.

[2020-02-25 18:37] #930 closed

[2020-02-25 18:37] ianb commented on #930
Something has landed (#930):

- "Enter text this is a test"
- "Focus username field"
- "Focus next/previous"

It directly modifies the values of input fields, and appends, so it won't respect cursor position. An alternative would have been to paste. But I also wanted to handle whitespace cleanly (so entering text multiple times won't run words together), which pasting doesn't really work for eithe

[2020-02-25 19:52] #867 closed

[2020-02-25 20:41] #921 closed

[2020-02-25 20:48] #779 closed

[2020-02-25 21:27] awallin commented on #981
@espertus Can you change the background color to #202340 to match the app icon Firefox.

[2020-02-25 21:43] ianb opened #1081 "Next/previous window intents"
In #1078 we got tab switching intents, we could have the same kind of intents for windows.

For example, "switch to next window". This would use the same phrases as tabs, but with "window"

[2020-02-25 21:46] ianb opened #1082 "Select tab by number"
We have next/previous/first/last tabs (implemented in #1078). We could also support numbers, like "go to tab 23" or "go to second tab".

It would probably be good to extend the `smallNumber` type in `entityTypes.js` (in a new type), and include cardinals (first, second, third, etc).

[2020-02-25 21:49] ianb opened #1083 "Submit form intent"
The submit form intent might simulate an Enter key, or could try to find the most plausible form to submit and call `.submit()` (though Enter would be better).

Should match at least `submit (form |)`, but maybe there's other phrases too.

This would be a new intent in `forms.js`

[2020-02-25 23:29] #1002 closed

[2020-02-25 23:33] ianb opened #1085 "Organize content libraries"
There's more overlap between content scripts, and the loader doesn't handle it all that well. They should be organized better. We can't use formal imports, unless we wanted to use a bundler, which I don't think we do.

[2020-02-25 23:38] ianb commented on #785
Note that though we have a "previous tab" command now, it goes to the tab to the left. This would change that behavior to be the previously active tab.

[2020-02-25 23:40] #565 closed

[2020-02-26 03:14] ianb commented on #1074
If they already given the permissions that are required then the settings page should be able to get the mic permission without any problem. It's only if they've removed the permission and reload that it will pop up the permission prompt.

[2020-02-26 03:31] ianb opened #1086 "Intent: Collect tabs"
Maybe the simplest form would be "collect these tabs" which would get all tabs from the same domain and cluster them around the current tab. E.g., if I ran it right now it would take every github.com tab and move it around here (since I'm on the last tab, they would all be immediately before my active tab).

An extended form would be "collect all [query] tabs" which would do a search for the query

[2020-02-26 03:33] ianb opened #1087 "Allow "shortcut" alias for "nickname" intents"
The naming/nicknaming intents could also be called shortcuts.

This would happen in `nicknames.toml`

[2020-02-26 03:44] ianb opened #1088 "Design for highlighting an element"
There's a few cases when we want to highlight elements:

- Following a link
- Focusing a field
- Entering text into a field

Maybe others. For following links it was suggested we use a colored underline, but for a bunch of these cases the element is a field, or a multi-line link, or some other thing. Right now I put a low-opacity red background on the element for a moment, but we could probably do

[2020-02-26 03:58] ianb opened #1089 "Evaluate search libraries"
We're using [Fuse](https://fusejs.io/) but I don't know if it's the best option. [Flexsearch](https://github.com/nextapps-de/flexsearch) has some library comparisons.

For our uses we're creating somewhat small indexes on the fly and searching them once. Good search results and quick setup are most important to us.

[2020-02-26 09:21] alexandra-martin commented on #1071
Verified on Mac 10.14.6 and Win10x64 with Firefox Release 73.0.1 and Nightly 75.0a1 (2020-02-25).

#### Updated Actual result:
After around 6 seconds after the first typed key, the type input will not visible anymore and the doorhanger freezes on  the "One second..." message.

#### Notes:
Written command works as intended, if made in the 6 seconds span.

![1](https://user-images.githubusercontent.

[2020-02-26 09:33] alexandra-martin commented on #565
Verified again on Mac 10.14.6 and Win10x64 with Firefox Release 73.0.1 and Nightly 75.0a1 (2020-02-25) and it works as intended.

[2020-02-26 12:25] alexandra-martin commented on #706
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 75.0a1 (2020-02-25), German, French, Italian, English (US) versions.

![2](https://user-images.githubusercontent.com/54401091/75344685-cd918100-58a3-11ea-968c-baf64bf6d9c2.gif)

[2020-02-26 13:18] alexandra-martin opened #1090 ""Translate selection" not functional if made after a "Translate webpage" command"
### Prerequisites:
Mic permission are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed.
A page that can be translated is opened and made the active tab, e.g. https://en.wikipedia.org/wiki/Lion.

### STR:
1. Use the shortcut

[2020-02-26 13:35] alexandra-martin opened #1091 ""Translate web page to French" displays Google card in the doorhanger"
### Prerequisites:
Mic permission are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed.
A page that can be translated is opened and made the active tab, e.g. https://en.wikipedia.org/wiki/Lion.

### STR:
1. Use the shortcut

[2020-02-26 16:38] ianb commented on #918
I thought the search was the problem, but apparently Google has opinions on whitespace itself. [This search](https://www.google.com/search?safe=active&ei=Sp1WXsjPJsO4tQayhb3wAw&q=5-2&oq=5-2&gs_l=psy-ab.3..0i67j0j0i67j0j0i7i30l2j0j0i7i30j0l2.3002.3722..3922...1.0..0.85.227.3......0....1..gws-wiz.......0i273.k-7-NViGwxQ&ved=0ahUKEwjInNCM0u_nAhVDXM0KHbJCDz4Q4dUDCAo&uact=5) (for `5-2`) gives a calcula

[2020-02-26 16:38] #1071 closed

[2020-02-26 16:49] ianb commented on #489
Fixed in #86/#1064

[2020-02-26 16:49] #489 closed

[2020-02-26 16:50] ianb commented on #79
Duplicate of #785

[2020-02-26 16:50] #79 closed

[2020-02-26 17:01] #918 closed

[2020-02-26 18:54] awallin opened #1095 "[New intent] Increase/decrease volume"
Users should be able to increase or decrease the volume of audio with utterances such as:
* Increase volume
* Decrease volume
* Turn up the volume
* Turn down the volume
* Make it louder
* Make if softer
* Louder

[2020-02-26 18:55] awallin opened #1096 "[alias] Private window"
Add alias for opening a new private window

- "activate private mode"

[2020-02-26 18:57] jofish commented on #1095
Also

Shut up
Be quiet
Silence

[2020-02-26 18:57] awallin opened #1097 "[New intent] Downloads menu"
Users are requesting an action to open the downloads menu.
- "Show downloads"
- "Open downloads menu"
- "Downloads menu"

[2020-02-26 19:06] awallin opened #1098 "Start typing intent"
As an variant of #930 "start typing" and "type" should begin text entry into the first input field.

[2020-02-26 20:12] ianb commented on #785
I've changed (#1099) "previous tab" to now go to the most recently activated tab (where "activated" also must be activated for 1.5 seconds).

As a result it if it's invoked over and over it'll swap between those two tabs. It feels like sometimes there would be a better way to handle this, but I'm not sure.

[2020-02-26 20:13] #785 closed

[2020-02-26 20:30] #414 closed

[2020-02-26 20:43] ianb opened #1101 "Intent: close selected tabs"
To trace my thought process: I imagined a query "close [query] tabs", e.g., "close github tabs". It would do a search, probably only against the URL and title (not content, i.e., not the same as find.js), and then close those tabs. But closing all those tabs probably requires confirmation, and we don't have a pattern for that – including how to present the action, or adjust it.

Instead we could u

[2020-02-26 20:45] ianb opened #1102 "Intent: move selected tabs to new window"
Like #1101, except moving them to a new window. "Move selected tabs to new window"

[2020-02-26 20:45] ianb opened #1103 "Intent: combine all windows"
This would move all tabs from other windows into the current window.

Suggested phrase:

[code]

[2020-02-26 23:08] ianb commented on #954
Possible approach is to use document.activeElement, maybe walking up until you get to something scrollable. [Here's an answer about detecting if an element is scrollable]. Notably, I believe if you try to scroll down, and the nearest active element is already scrolled all the way down, then it should keep going up the tree.

[2020-02-27 12:32] alexandra-martin commented on #1071
Verified on Mac 10.14.6 and Win10x64 with Firefox Release 73.0.1 and Nightly 75.0a1 (2020-02-26).

![1](https://user-images.githubusercontent.com/54401091/75445371-f7af7580-596d-11ea-88d9-3a5f8781f6c7.gif)

[2020-02-27 14:55] alexandra-martin commented on #862
Bugzilla bug has been updated with the screenshots of the case where the bug was reproduced.

[2020-02-27 15:33] ianb commented on #99
Error messages for this case removed in #1063

[2020-02-27 15:33] #99 closed

[2020-02-27 15:37] #224 closed

[2020-02-27 15:37] #259 closed

[2020-02-27 15:48] ianb commented on #435
Right now this seems to be taking you to Google Calendar, which is OK I guess.

[2020-02-27 15:48] #435 closed

[2020-02-27 15:48] alexandra-martin opened #1104 "[Mobile] Mozilla Assistant not functional on Android 5"
### Prerequisites:
Have an Android 5 device that allows setting Mozilla Assistant as a default app.
Firefox is installed and set as the default browser.
Installation of apps from unknown sources is enabled.
The Firefox extension and Mozilla Assistant are installed.
Mozilla Assistant is set as the default assist app.

### STR:
1. Long press the "Home" button.
2. Without taking the finger from the s

[2020-02-27 15:49] ianb commented on #488
Fixed in #694

[2020-02-27 15:49] #488 closed

[2020-02-27 17:55] #644 closed

[2020-02-27 17:56] #1091 closed

[2020-02-27 17:56] #1096 closed

[2020-02-27 17:57] #833 closed

[2020-02-27 19:40] ianb opened #1109 "Intent: turn selection into link"
This would take the current selection and turn it into a link. If the selection is in a contenteditable then it will be a proper HTML link, otherwise a Markdown link.

The link would be calculated first by looking at the other open tabs, and then if nothing matched it would be a Google I'm Lucky search.

[2020-02-27 19:43] ianb opened #1110 "Intent: look this up on archive.org"
For getting to a page when it's now 404'd, or just viewing the history of a page.

Inspired by and could take inspiration from the [Wayback Machine](https://addons.mozilla.org/en-US/firefox/addon/wayback-machine_new/) extension.

[2020-02-27 19:45] ianb opened #1111 "Intent: what's playing"
This would look at the tab currently making sound, and maybe give its title, or a screenshot, or... something.

Question: does Spotify and other services set the title based on the currently playing song? If not we might have to add something to the services framework to get the currently playing item. We should still fall back to title and/or screenshot.

You can use `browser.tabs.query()` to fin

[2020-02-27 19:49] ianb opened #1112 "Intent: citation format clipboard actions"
This would be like "copy citiation of this page".

I don't actually know what citation formats we'd want to support. Presumably this would be for an academic audience.

[2020-02-27 19:50] ianb opened #1113 "Intent: paste to notes"
This would go with the other note-taking intents, and would just paste whatever happened to be in the clipboard. Mostly it would just call `document.execCommand("paste")` once the field was focused.

[2020-02-27 19:56] ianb opened #1114 "Intent: set status"
This would update your status on Slack, Discord, Google Chat, etc. It would presumably require some additional services.

Probably this would be `set status to [status:statusType]` (set status on all services found in open tabs) as well as `set status on [service] to [status]`.

[2020-02-27 19:59] ianb opened #1115 "Intent: start slideshow"
This would try to find images and/or videos on the page that would be suitable for a slideshow.

This extension might offer some inspiration: [Slideshow](https://addons.mozilla.org/en-US/firefox/addon/media-slideshow/)

[2020-02-27 20:01] ianb commented on #957
Some items roughly inspired from this:

- #955
- #1101 and #1086
- #1109
- #1110
- #1111
- I wanted to do something with "copy all links", but I couldn't decide which links. Just all links isn't helpful, e.g., I wouldn't want to copy the Pricing, API, Training etc links from this page.
- #1112
- #1114
- #1115

[2020-02-27 20:01] #957 closed

[2020-02-28 08:00] maitrella commented on #954
Thanks for the idea. tab.url approach didn't work.

[2020-02-28 08:52] alexandra-martin commented on #1091
Verified on Mac 10.14.6 and Win10x64 with Firefox Release 73.0.1 and Nightly 75.0a1 (2020-02-27).

![1](https://user-images.githubusercontent.com/54401091/75525326-57625b00-5a18-11ea-83d1-f924b9c5c621.gif)

[2020-02-28 09:51] alexandra-martin opened #1117 ""Copy", "Paste" commands not functional on text from translated webpage"
### Prerequisites:
Mic permission are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
A webpage is translated to any language and made the active tab.

### STR:
1. Select text from the webpage.
2. Use the shortcut or click on the mic icon from the browser toolbar.
3. Say or write the "Copy" command.
4. Open a new tab.

[2020-02-28 16:33] ianb opened #1118 "Allow individual wakewords to be aliased to a command"
We don't have a very expressive corpus of wakewords available, but there are a bunch of them, and they can all be detected at once.

It would be interesting, mostly for experimentation, if the user could configure a wakeword to not just start the recorder, but to execute a command directly. So "terminator" could mean scroll down, or something like that.

[2020-02-28 16:46] ianb opened #1119 "Rename browserUtil.activateTab or browserUtil.makeTabActive"
These two different functions are named too similarly. `activateTab` is probably the one to be renamed.

[2020-02-28 16:53] awallin commented on #1118
Specific wake words that might be valuable to execute a command include:

• Next (slide)
• Close (Lightbox)
• Accept
• Play
• Pause
• Mute

[2020-02-28 17:05] ianb opened #1120 "Document normal console errors"
In the README we should not the console errors that aren't concerning. Especially the manifest errors, and some hint at what kind of errors aren't about us.

[2020-02-28 17:27] mohinderps commented on #1120
Hey @ianb, I would like to want to work on this. If that's okay with you, can you give me some more details on the issue ?

[2020-02-28 17:31] ianb commented on #1120
This should just be an update to the README.md file in the development section. If you look at the browser console you'll errors like this:

<img width="858" alt="image" src="https://user-images.githubusercontent.com/44390/75570855-a8288280-5a1d-11ea-9b78-71aceca2ecd5.png">

But these are all OK and normal. Also usually any error that comes from a file that ends with `.jsm` is not related to us, f

[2020-02-28 17:33] ianb commented on #1118
Yes, if we can figure out our relationship with Picovoice I'm hoping we can establish a good vocabulary. For now it'll be a weird vocabulary, but still something we can fiddle around with.

[2020-02-28 19:09] #947 closed

[2020-02-28 19:56] ianb commented on #990
Created here: https://sql.telemetry.mozilla.org/queries/68765/source#173654 (note: not public)

[2020-02-28 20:00] #990 closed

[2020-02-28 20:03] ianb commented on #775
I'm not actually sure what to do with this. For an intent like "open tab" the popup disappears quickly and there wouldn't be any time to give feedback.

[2020-02-28 20:21] #1119 closed

[2020-02-28 20:28] ianb commented on #1036
I think this has been fixed in #1121 (it was the problem with the settings even firing before the setting was changed)

[2020-02-28 20:28] #1036 closed

[2020-02-28 20:29] ianb commented on #943
This was fixed in #1121

[2020-02-28 20:29] #943 closed

[2020-02-28 20:29] ianb commented on #944
While the design isn't great, it does say what wakewords it listens to.

[2020-02-28 20:29] #944 closed

[2020-02-28 20:46] JanviMahajan14 commented on #778
Hi @ianb. I am a outreachy aspirant. I am new to the codebase . If this issue is still open can I work on this ?

[2020-02-28 22:06] ianb opened #1124 "Link README to a demo video"
People who happen upon the github page might want to know how it works, and I think a demo video is the easiest way to show it.

@awallin: what's the best video right now?

[2020-02-28 22:07] ianb commented on #778
You got it!

[2020-02-28 22:45] ianb commented on #1113
For this you'll want to look in `notes.js` and create a new intent, very similar to the other intents.

[2020-02-28 22:47] ianb commented on #1098
@awallin I'm unclear what this is. Would this just be the same as "focus next"? Or would `start typing [text]` be another phrase for `forms.dictate`?

[2020-02-28 22:58] ianb opened #1125 "Fix zero volume error regression"
The "zero volume error" handling made use of the recorder page, but that page has been removed. We should move that logic into the settings page.

Also we should keep checking for this even after a successful utterance has happened, as I've seen this happen in the middle of a session.

[2020-02-28 22:59] ianb commented on #823
The recorder page is mostly gone now. But the wakeword does open a page, and maybe some of what we've discussed should go into that.

[2020-02-28 23:04] ianb commented on #422
This probably requires changing/improving the `extension/services/youtube/player.js` script, so it can recognize some more of these cases.

[2020-02-28 23:12] #323 closed

[2020-02-28 23:13] ianb commented on #247
No longer an issue since we're not using the recorder page.

[2020-02-28 23:13] #247 closed

[2020-02-29 05:11] JanviMahajan14 commented on #778
i think I need to add the given link in the **optionsView.jsx**  just in the end of keyboard-shortcut section.Please correct me if i interpret this wrong.

[2020-02-29 06:16] mohinderps commented on #1120
So we just need to write in the README file that these kind of errors are normal and users should not be worried about them.

Is that it ?

[2020-02-29 06:22] mohinderps commented on #1120
@ianb , there are two more things that i noticed while starting the application:

1. Minimum node version must be specified. I was running the project with node v10, so the postintall script was failiing because Array.prototype.flat is not supported by this node version. So i had to update it to node v12.16.1(LTS)

2. When we install firefox nightly, it is installed as 'Firefox Nightly' in the App

[2020-02-29 09:13] irvin commented on #1082
we tried to implement this intent in the local workshop, and bumped into difficulties that commands like "go to the third tab" or "go to the four tab" often matched by `find.find`. I think we need to limit find.find in a more restrictive way or make it fallback of other intents.

[2020-03-02 13:09] GangaChatrvedi opened #1132 "Bookmark intent sheet does not contain step to remove bookmark"
In addition to creation and opening of bookmark. Removing bookmark from current page will be good add-on feature.

[2020-03-02 13:10] GangaChatrvedi commented on #1132
I would like to work on this feature.

[2020-03-02 16:08] #1087 closed

[2020-03-02 16:09] #1110 closed

[2020-03-02 16:29] ianb commented on #1120
No, we can't actually stop these messages from the console, so this is just to document them.

Your notes on "Firefox Nightly" would also be useful to other people too. Both these could go in README.md. Thanks!

[2020-03-02 16:33] ianb commented on #1082
Did you add a new type, like `[tabNumber:numberOrCardinal]` ? If the slot is typed it should bind more actively than the wildcard that find.find looks for.

You can test this by creating an example and using `npm run jest` to test the example. It will give an error if your example is instead interpreted by `find.find`

For creating `numberOrCardinal` you'd add something like this to entityTypes.js

[2020-03-02 16:34] ianb opened #1134 "Add note about jest to README"
We should note `jest` and tests in the README.

Also while #992 should get fixed, locally `npm test` should run jest. We should just exclude it in CI instead of excluding it everywhere.

[2020-03-02 17:39] ianb opened #1135 "[wakeword] investigate downsampler errors"
I'm getting errors like:

[code]

This appears to break the wakeword handling.

[2020-03-02 18:09] ianb opened #1136 "Create intent "undo close tab""
People do this regularly. I think I know how to actually implement it now.

[2020-03-02 19:13] Manasa2850 commented on #1083
I want to work on this

[2020-03-02 20:03] ianb commented on #1083
You got it!

[2020-03-02 21:43] awallin commented on #1098
Yes, this would do the same as focus next. Simple focus the cursor in the first available input box.

[2020-03-02 21:46] awallin commented on #1124
Either the Berlin or Snow Trip videos.

* https://drive.google.com/open?id=1-OkvlRBQPBp4nQQrkBb_y8lSkzLefPzU
* https://www.youtube.com/watch?v=3sqKsfj8WRE&feature=emb_title

[2020-03-02 21:51] awallin opened #1140 "Smile/Frown icon appears white on hover"
When hovering the smile or frown in feedback the icon appears white.

<img width="649" alt="Screen Shot 2020-03-02 at 1 49 48 PM" src="https://user-images.githubusercontent.com/428245/75721216-d8298d00-5c8c-11ea-800f-22e2d874421a.png">

[2020-03-02 22:14] awallin commented on #807
@ianb Visually it looks good. The only improvements I can see would be adding a link to the 'downloads folder' that would open the file system and/or adding the ability to open the file/folder with an utterance such as 'show' or 'open'

[2020-03-02 22:31] ianb commented on #807
We don't actually have an intent to show the downloads, so I guess we don't have anything to do at the moment.

[2020-03-02 22:31] #807 closed

[2020-03-02 22:38] Emmanuella-Aninye commented on #1140
Is this an open issue to be picked up?

[2020-03-02 22:54] ianb commented on #996
I've had fairly bad luck using `window.goDoCommand`, but clicking `<command>` elements does work for a couple things (like #1142)

[2020-03-02 22:54] #996 closed

[2020-03-02 22:54] #1136 closed

[2020-03-02 22:55] ianb commented on #1038
This really went sideways, not sure what exactly to do about it. Fails in several ways.

[2020-03-02 23:13] ianb opened #1144 "Make format linting part of tests"
With more PRs coming in, it might be nice to make these part of the tests.

`prettier --check` doesn't actually return with a non-zero code. There's [prettylint](https://github.com/ikatyang/prettylint).

One nuisance is that anything that's not in git shouldn't be linted. But .prettierignore has a couple files in source control that shouldn't be linted either. Maybe we should just add `// prettier

[2020-03-02 23:45] JanviMahajan14 commented on #1007
i would like to work on this issue.

[2020-03-03 03:13] mohinderps commented on #1120
Okay. On it. Thanks.

[2020-03-03 03:24] GangaChatrvedi commented on #1118
I think one word is too short for wake word to behave. especially if that one word is commonly occurring word like **next** or **close**.

It will be hard to differentiate between when i just said next in my communication with someone and when i want pico to listen to me.

my suggested solution is we can trigger firefox-voice to be in long term listening mode by speaking something like
1. **hey pi

[2020-03-03 15:21] ianb commented on #1118
One recommendation I've read is that a keyword/wakeword should have at least 6 phonemes. "Next" and "close" have, I think, three and two phonemes respectively (but I don't actually know how to count phonemes, so I'm guessing a bit).

Right now we don't have any custom wakewords and aren't setup to create or add them, so that part of the design will have to wait a bit. But if we believe someday tha

[2020-03-03 15:23] ianb commented on #1007
You got it! Setting up the intent will go in `clipboard.js`, but finding the image, selecting it, and copying it will happen in `extension/intents/clipboard/contentScript.js`

[2020-03-03 15:24] #1081 closed

[2020-03-03 15:26] #1132 closed

[2020-03-03 18:11] JanviMahajan14 commented on #1007
@ianb Can you tell me how can i choose the best image from the page i am really struck here
This is the approach i am using in contentScript.js
[code]
But it always fetches the first img on the page

[2020-03-03 18:48] ianb opened #1149 "Add optional audio opt-in to onboarding"
We'd like to ask some people to contribute their audio, but we know even being asked bothers some people. So we'd like to add a checkbox to contribute audio, but it would only be shown to people who we have invited through a particular pathway.

So we'll have a new URL (could be a unique page or a page with a query string) that we'll give to people who we think are open to contributing audio. If,

[2020-03-04 13:07] Manasa2850 commented on #1083
@ianb how do I reproduce this in my browser?
I'm not quite sure how to view the form intent in my browser

[2020-03-04 15:06] ianb commented on #1083
I'd recommend finding a few forms on the web and testing them. The search form on github.com is one:

<img width="592" alt="image" src="https://user-images.githubusercontent.com/44390/75892526-1642c000-5df7-11ea-928c-42b824174284.png">

This comment form might also be a good example, as Enter _won't_ work here.

You'll probably want to look at `document.activeElement` and then identify the form ba

[2020-03-04 15:07] #1124 closed

[2020-03-04 15:23] Manasa2850 commented on #1083
Ok. I'll try this out. Thanks!

[2020-03-04 15:30] #1120 closed

[2020-03-04 15:52] #1113 closed

[2020-03-04 17:36] ianb commented on #509
I think I'm going to remove this entirely, but that will fix the naming issue along the way.

[2020-03-04 17:36] #509 closed

[2020-03-04 17:43] ianb commented on #1085
I think I'm going to switch all content scripts to be bundled and built with browserify.

I'll use a browserify build process something like:

[code]

All content scripts will have to be named `extension/intents/*/content*.js` or `extension/services/*/content*.js`

Content scripts themselves will be able to use regular imports. I'll add something akin to `communicate.js` but it will be imported in

[2020-03-04 22:14] ianb opened #1158 "Document examples, npm run jest, phrase testing"
Using examples and `npm run jest` to test those examples is helpful for creating intents. But it's not documented! This could probably go in the Writing An Intent document.

[2020-03-04 22:15] #1007 closed

[2020-03-05 05:07] JanviMahajan14 commented on #557
@ianb I would like to work on this issue

[2020-03-05 16:18] ajinkabeer commented on #1057
Hello @awallin, I am outreachy applicant. Can I try this one out please?

[2020-03-05 16:26] JanviMahajan14 commented on #422
i would like to work on this issue.

[2020-03-05 16:34] davidak commented on #1149
People who have contributed to Mozilla Voice would probably contribute their data here too.

When this extension is more usable, they could be informed about it in a newsletter.

[2020-03-05 16:42] pachicodes commented on #1140
@ianb can I have this? I am an Outreachy applicant!

[2020-03-05 17:03] awallin commented on #1057
@ajinkabeer That'd be great. These examples should appear in the popup so people know what can be said.

[2020-03-05 17:06] awallin commented on #1140
@Emmanuella-Aninye @pachicodes Yes, this is an open issue if either of you would like to work on it?

[2020-03-05 17:08] pachicodes commented on #1140
@awallin I would like too

[2020-03-05 17:19] awallin commented on #1140
Go for it @pachicodes. I realize I provided @ianb with the wrong icons when he made the change in #779 so it's probably as simple as replacing the hover icons with the updates I've attached here.

[smile-icons.zip](https://github.com/mozilla/firefox-voice/files/4294197/smile-icons.zip)

[2020-03-05 17:24] ellieya commented on #915
Hi, I'm an outreachy intern applicant. Is it ok if I start working on this?

[2020-03-05 17:25] sabina-rohman commented on #761
Hi @ianb  I'm an outreachy applicant May 2020. Can I please work on this issue, if it's still open?

[2020-03-05 17:26] sabina-rohman commented on #977
Hi, @ianb  I'm an outreachy applicant May 2020. Can I please work on this issue, if it's still open?

[2020-03-05 19:40] sabina-rohman commented on #1082
Hi, @ianb  I'm an outreachy applicant May 2020. Can I please work on this issue?

[2020-03-05 20:00] JanviMahajan14 commented on #792
Hey @awallin I am not sure from where I can get this animation .Can you help me with this? Thanks!

[2020-03-05 20:05] awallin commented on #792
The animation currently appears after a request has been made. @ianb can probably point you to the specific location in the code.

[2020-03-05 21:32] espertus commented on #1061
I've done this and merged the changes into the master branch of the helper app.

[2020-03-05 21:32] #1061 closed

[2020-03-05 21:36] treasurechristain commented on #1140
@awallin i would like to work on it also

[2020-03-05 21:47] treasurechristain commented on #761
Hi @ianb , am an outrreachy applicant may 2020, please is this issue still open?
would love to work on it

[2020-03-05 21:50] annlinros commented on #527
Hi @ianb
I am an outreachy applicant, Can i please work on this issue ?

[2020-03-05 21:52] annlinros commented on #915
Hi, Can I please work on this issue ? @ianb  @awallin

[2020-03-06 00:03] farhatcode commented on #841
Hi ian, Can I work on this issue? I am Outreachy applicant.

[2020-03-06 01:26] richardgreg commented on #1082
Hi @ianb. I am an Outreachy Applicant. Pls assign me to this issue.

[2020-03-06 02:38] noi5e commented on #557
@ianb with Outreachy, i'd like to give this a shot. can you assign this one to me?

[2020-03-06 02:40] noi5e commented on #527
@ianb I could work on this issue too, if annlinros is assigned to another one. Just assign me to it if there's no one else.

It sounds like a pretty simple task, but could you give a few more details to help me find what you're talking about in the code?

[2020-03-06 03:09] noi5e commented on #998
Hey @awallin I'm an Outreachy intern applicant... Trying to figure out if this issue is maybe a good first issue for me.

Can you list some ideas for how you'd go about implementing this, or any packages you would use?

I guess to start with, I'd need a way to find out if a given <div> is a lightbox or not. Would appreciate any insight

[2020-03-06 03:32] noi5e commented on #557
@ianb @alexandra-martin I've got the dev environment set up, and I'm reproducing this bug.

would love to work on it, if it's still a relevant contribution. just let me know!

[2020-03-06 04:02] awallin commented on #998
@ianb Can you provide any guidance?

[2020-03-06 04:04] awallin commented on #915
It's all your @annlinros

[2020-03-06 04:09] Vidwita commented on #1140
Can I also work on this @awallin  ?

[2020-03-06 08:41] lelouchB commented on #1158
HI I am an Outreachy Applicant
Can I work on this ???

[2020-03-06 08:44] lelouchB commented on #1144
I want to work on this issue

[2020-03-06 08:59] lelouchB commented on #1144
@ianb I had a question, after integrating prettylint, what should be done with prettier??

[2020-03-06 10:19] lelouchB commented on #1144
@ianb I have made a PR #1161
Please have a look
Also tell me if to fix the prettier linting during tests????

[2020-03-06 10:32] danielamormocea commented on #841
I will start working on this, if that's alright :) (also from Outreachy)

[2020-03-06 11:03] lelouchB commented on #1140
@awallin Please take a look at #1162

[2020-03-06 13:15] annlinros commented on #915
Hi @awallin
Could you please elaborate on what we are trying to achieve on this issue ?
I could easily pocket the page that I got from using firefox-voice.
Thanks

[2020-03-06 14:09] annlinros commented on #527
Hi @ianb Could you please elaborate on the issue ? Much thanks.

[2020-03-06 14:28] JM-Mendez commented on #864
Hi @ianb, I'm an Outreachy applicant. I shallowly familiarized myself with the codebase and would love to tackle this issue.

It seems that the `getSearchInfo` function is not retrieving the last search or previous tabId. I haven't traced it further than that, as I await your input.

[2020-03-06 15:13] Apiyo4 commented on #1158
@ianb I would also love to work on the testing, I'm an Outreachy Applicant

[2020-03-06 15:24] lelouchB commented on #55
Hey @ianb I wanted to work on this issue
I am going to start on this right away
I will send a PR as soon as I am done

[2020-03-06 15:30] lelouchB commented on #442
Hey @ianb  I am Ashutosh, Outreachy Applicant and want to work on this issue

[2020-03-06 15:30] PrastutiUpadhaya commented on #1082
Hi, can I work on this issue? I am an Outreachy applicant.

[2020-03-06 15:33] PrastutiUpadhaya commented on #954
Hi, can I try working on this?

[2020-03-06 15:35] PrastutiUpadhaya commented on #761
Hi, can I work on this?

[2020-03-06 15:36] PrastutiUpadhaya commented on #527
Hi, @ianb can I please work on this?

[2020-03-06 15:47] IkkyOdufade commented on #1134
@ianb Hi, I'm an intern from Outreachy. Can i work on this?

[2020-03-06 15:48] PrastutiUpadhaya commented on #915
Can I work on this issue?

[2020-03-06 15:49] PrastutiUpadhaya commented on #841
Hi, can I please work on this?

[2020-03-06 15:53] JanviMahajan14 commented on #761
@ianb  i am struck on how to pass the url of the query created in the new window as **createTabGoogleLucky(query)** creates it for tab only. Can you help me with this. Thanks!

[2020-03-06 15:56] IkkyOdufade commented on #992
@ianb,Hi,  I'm an intern from Outreachy, I commented on issue #1134 , hoping to work on it. Do I have to fix this issue first?

[2020-03-06 16:38] vandnakapoor19 commented on #954
I'm Outreachy 2020 Applicant and want to solve the issue.
Thanks

[2020-03-06 16:42] vandnakapoor19 commented on #267
I'm Outreachy 2020 Applicant and want to solve the issue.
Thanks

[2020-03-06 17:06] tonynguyen111997 commented on #267
Hi, I am also interested in tackling this issue if @vandnakapoor19 decides to not take it. Thank you.

[2020-03-06 17:10] #1140 closed

[2020-03-06 17:28] awallin commented on #915
@annlinros Saying something like "save to pocket" should add the current page/url to the users Pocket account and confirm the action (see attached).

You'll also need to handle the case when the user is not logged into their Pocket account (see attached).

![saved-confirm-pocket](https://user-images.githubusercontent.com/428245/76106983-cdbd0b00-5f8c-11ea-865a-26a839286284.jpg)
![login-to-pocket](

[2020-03-06 17:39] ianb commented on #1134
@IkkyOdufade Sure, I have Jest running as part of `npm test` locally now (#1143), so all that's really left is adding a note to README.md about running `npm test` as part of the development process.

[2020-03-06 17:41] ianb commented on #915
@annlinros You'll want to look at https://github.com/mozilla/firefox-voice/blob/master/docs/writing-an-intent.md to learn about writing a new intent. This could be a new intent in a new file in `intents/pocket/pocket.js`

If you look for `content.lazyInject` it'll show you some examples about how an intent can inject code into the running page.

[2020-03-06 17:44] annlinros commented on #915
Thanks @ianb  and @awallin. I am working on this.

[2020-03-06 17:45] ianb commented on #267
@vandnakapoor19 Please be sure to re-verify the problem, there's a chance this was fixed somewhere along the way. (And if it was fixed, please follow up so we can close this, thanks!)

[2020-03-06 17:48] ianb commented on #954
@PrastutiUpadhaya yes, give it a try. The changes should be entirely in `scrollHelper.js`, and will involve looking for the best scrollable element. Probably the [Bugzilla example](https://bugzilla.mozilla.org/show_bug.cgi?id=343205) is the best place to start testing.

[2020-03-06 17:59] vandnakapoor19 commented on #267
Thanks! Let me recheck this and I'll let you know.

[2020-03-06 18:00] ianb commented on #841
@farhatcode Sure, give it a go. Be aware this will involve several changes. I realize we don't actually have a mapping of domain names to bang searches, so for instance we don't know that "amazon", which maps to the `az` bangSearch, is also related to `amazon.com`. You might need to add domain names to `searchServices.toml` and then use that to check if the domain name of the active tab (`(new URL

[2020-03-06 18:01] awallin commented on #981
@espertus That looks good.

[2020-03-06 18:05] ianb commented on #992
@IkkyOdufade No, this issue is separate, people can still use and test with jest locally so it's good to have instructions on it.

[2020-03-06 18:07] ianb commented on #527
@annlinros @noi5e @PrastutiUpadhaya Looking at this issue I'm afraid it's really not well specified or up to date, so I'm going to close it. Sorry for the confusion!

[2020-03-06 18:07] #527 closed

[2020-03-06 18:09] ianb commented on #1082
I'm going to assign this to @sabina-rohman; Sabina, if you aren't able to complete this please comment so we can open it up to other people.

[2020-03-06 18:11] sabina-rohman commented on #1082
@ianb Thanks. I will update here.

[2020-03-06 18:12] IkkyOdufade commented on #1134
Ok, @ianb. Thank you for your help. Working on it right now.

[2020-03-06 18:13] ianb commented on #442
@lelouchB Let's not do this one right now – there's a lot of people working in the code right now so this kind of refactoring will cause merge conflicts.

[2020-03-06 18:18] ianb commented on #55
Great! Here's an example of how this could work: https://github.com/mozilla-services/screenshots/blob/9df16347d2c88d3973f3d100505f4d918d7edb75/test/test.js

Specifically that is a Selenium test that installs the extension. That test does a few things, but for now I would be very happy with a test that simply builds the extension, installs it with Selenium, and tests that the toolbar button is pres

[2020-03-06 18:33] lelouchB commented on #442
@ianb okay will move to another issue

[2020-03-06 18:43] ianb commented on #1158
@lelouchB You have some other tickets, so I'll assign this one to @Apiyo4

[2020-03-06 18:44] lelouchB commented on #1158
@ianb yeah it's totally fine
Good luck @Apiyo4

[2020-03-06 18:46] ianb commented on #864
@JM-Mendez Hi! The bug report doesn't have a much info. I'd recommend trying to reproduce it, if you can't please note the things you tried (if you _do_ reproduce it, please also make notes about that). The code you've identified is probably where the problem is: it either lost track of the search, or it couldn't identify which search the user is referring to.

Or something else entirely, because

[2020-03-06 18:47] farhatcode commented on #841
Ok Ian, I am starting to work on this issue.

[2020-03-06 18:48] #1097 closed

[2020-03-06 18:54] ianb commented on #1140
Sorry @Vidwita @treasurechristain @pachicodes – lots of activity here and I haven't been able to keep track of it.

Note though if you do fix a bug and it was already taken or closed, please submit a PR anyway, I'm happy to take account of any contributions even if they were duplicated.

[2020-03-06 18:57] JM-Mendez commented on #864
Hi @ianb, thanks for assigning me this task.

I've already reproduced the bug (I think).

1. conduct a search
    - the card (doorhanger?) opens
    - card accepts the search input
    - a new tab with the search results opens
    - the card closes
2. open the recorder and say "next result"
    - the card opens and accepts input
    - the search error appears

Playing around with the extension and

[2020-03-06 19:00] SaumyaSinghal commented on #977
Hello, @ianb I'm an outreachy applicant. Can I please work on this?

[2020-03-06 19:01] ianb commented on #998
@noi5e I assigned another bug to you, probably you should try to fix one or the other first. This one is less clear than the other, so it would be best to work the other one first.

Honestly I don't know the best way to figure out if something is a lightbox. The best first contribution might be to find several lightboxes and try to identify the close button and how to detect the lightbox, and see

[2020-03-06 19:03] ianb commented on #977
I believe @sabina-rohman and @farhatcode both have issues assigned, so I'll assign this one to @SaumyaSinghal

[2020-03-06 19:11] ianb commented on #792
@farhatcode has an open issue so I'll give this one to @JanviMahajan14

This animation is the "zap" animation. If you look for `class Zap` in `popupView.jsx` you'll find it. We have a single animation, and we use different time periods in the animation to get the different bits.

I think the right way to handle this one is to create another view name, similar to the "feedbackThanks" view, that wil

[2020-03-06 19:12] noi5e commented on #998
@ianb Thanks! Yeah, happy to work on the other one for now. thanks for the comment

[2020-03-06 19:16] ianb commented on #1057
@ajinkabeer I believe for this the examples only need to be added to the appropriate `intents/*/*.toml` files. For example "go to the first tab" is actually already an example: https://github.com/mozilla/firefox-voice/blob/536f6e1333a0443ed27244d3b3feb786302d5c76/extension/intents/tabs/tabs.toml#L223-L225

It's possible some other examples in this list are actually already in the code. Note if an

[2020-03-06 19:19] dave-ok commented on #1144
@ianb is it ok if I work on this I have been at it all day

[2020-03-06 19:22] melvin2016 commented on #422
I would like to work on this issue.

[2020-03-06 19:23] ianb commented on #1144
@dave-ok Sure, I won't be able to merge both, but both PRs can count as part of your applications.

[2020-03-06 19:41] #1098 closed

[2020-03-06 20:20] ianb commented on #563
You should re-verify this bug if you want to try taking it. If it's fixed please comment here. If it's not fixed... then I think you'll want to add one of these phrases as a test example in `music.toml` and try to debug from there.

[2020-03-06 20:23] ianb commented on #456
I'm not sure how easy this is to reproduce, but if you can then this is probably a bug in `bookmarks.js`, maybe with how the Fuse search is handled.

[2020-03-06 20:24] ianb commented on #404
I'm not entirely sure what's going on here, you'll want to look in `spotify.js` and `spotify/player.js` and add some debugging messages to try to track down why this isn't working. Maybe it's playing before the search has completed? Maybe it's failing to do a new search?

[2020-03-06 20:27] ianb commented on #408
This might be a little complicated to track down, but you'll want to start in `music.js` and look at the `music.unpause` intent. Which service is selected in this case? Where does the `.unpause()` method go to? Should we be calling `pauseAnyButService` or `pauseAnyButTab` there as well?

[2020-03-06 20:28] ianb commented on #348
I've fixed a bug related to this, @alexandra-martin could you reverify this bug?

[2020-03-06 21:38] km-js commented on #1103
Being an outreachy aspirant, I would like to work on this.

[2020-03-06 21:49] ianb commented on #997
Note that this doesn't have to work on any site but YouTube (at least for now).

This change will probably go in `music.js` and will be about how we select the service.

We should probably make a followup to try to get this working on non-YouTube pages, or pages where there is a YouTube video embedded.

[2020-03-06 21:51] #983 closed

[2020-03-06 21:52] awallin opened #1166 "Home page for Firefox Voice"
To date Firefox Voice has been using Open Innovation's campaign tools. As we expand the audience we'll need a more established home page for promotion that can highlight functionality, provide answers to common questions (which we get a lot of), and a link to download the add-on.

This will also be a location to display #643

[2020-03-06 21:55] danielamormocea commented on #997
Is it alright if I start working on this issue? :)

[2020-03-06 21:56] ianb commented on #775
We're going to put back in the feedback for the previous intent. There's already some code left for this (#573 was the PR that added this functionality).

The feedback interface should only show up when the popup expands with examples.

[2020-03-06 22:04] awallin opened #1167 "Change mic input instructions in settings"
Need to include details on how users can change mic input. Settings is probably the right place for that.

[2020-03-06 22:15] ianb commented on #1086
This is actually a good **second** issue, as it's a little more involved than some of the other good first issues.

This should go in `tabs.js`

[2020-03-06 22:21] ianb commented on #1074
We're going to make a link to the onboarding page from the settings page, and that should handle that. That redesign will come in a later bug.

[2020-03-06 22:21] #1074 closed

[2020-03-06 22:25] jcambre commented on #1112
For academic audiences, I'd recommend generating a BibTeX entry for the page, since folks typically use a reference manager for their citations. See [this page](https://tex.stackexchange.com/questions/3587/how-can-i-use-bibtex-to-cite-a-web-page) on how webpage entries are typically represented in BibTeX.

If you wanted to support a "plaintext" citation option in addition to using BibTeX as the de

[2020-03-06 22:41] ianb commented on #1112
If someone is working on this as a first bug, I would recommend starting with "copy a basic citation" (adding it to `clipboard.js`) and submit a PR of that, and work on the other features as followups.

[2020-03-06 22:49] ianb commented on #997
@danielamormocea You got it!

[2020-03-06 23:32] IkkyOdufade commented on #1134
Hi, @ianb I've been trying to get the code base to run locally on my system but I keep having this error. Please help :(
![Annotation 2020-03-07 002757](https://user-images.githubusercontent.com/47696080/76130410-9be68b80-6002-11ea-9ea0-7c7d5c066762.png)

[2020-03-06 23:35] danielamormocea commented on #1086
If it's up for grabs, i'll take it, please :)

[2020-03-06 23:52] shjang7 commented on #1117
Hello, I am an applicant for the Outreachy internship, can I take this issue for my first contribution?

[2020-03-07 00:28] sheilaanguiano commented on #624
Hi, I'll start reading and working on this one

[2020-03-07 01:16] tonynguyen111997 commented on #1042
Hi @ianb , I would like to take on this issue.

[2020-03-07 01:54] ajinkabeer commented on #1057
@ianb Thanks Ian for the detailed explanation. I really appreciate it.

[2020-03-07 04:15] lelouchB commented on #1144
@ianb  Have done the necessary changes
Please Have a Look

[2020-03-07 04:25] AemieJ commented on #1117
Hello, I am an applicant for the Outreachy internship, and I would love to take this issue as my first contribution. Is it possible that I could use this issue as my first contribution?

[2020-03-07 04:48] AemieJ commented on #1111
I have worked with extensions before and I know how to get the metadata of the current tab making sound and receiving the screenshot of the page as well, however I am having difficulty figuring out the structure.

Could you tell me from which file to edit so I could try my best to make the changes?

[2020-03-07 04:53] lelouchB commented on #55
@ianb I have started working on this, After going through the test in screenshots, I now have a basic idea to approach this issue

[2020-03-07 05:34] richardgreg commented on #373
@ianb can I work on this?

[2020-03-07 07:25] Manasa2850 commented on #1114
@ianb I would like to work on this. Should I create a new intent like `extension/intents/status` and work there?

[2020-03-07 09:01] shreyaa-s commented on #1112
Hey! I'm an Outreachy 2020 applicant and I would like to take up this issue as my first contribution.
@ianb

[2020-03-07 09:11] sayuree commented on #1112
Hi, @ianb ! I am an Outreachy 2020 applicant, it would great to have this issue assigned to me.

[2020-03-07 09:11] SaumyaSinghal commented on #977
Sir @ianb I only need to make changes in searchServices.toml right? Please guide me if I am wrong.

[2020-03-07 09:13] nash4j commented on #788
Hi @ianb , I'm an outreachy applicant, please let me know if it's fine to pick this issue. Thank you

[2020-03-07 09:20] shreyaa-s commented on #408
Hey! I would like to work on this issue @ianb

[2020-03-07 11:25] Dacosta-M commented on #1088
Hi...
Can I work on this? I'm an outreachy applicant.

[2020-03-07 11:46] Simpcyclassy commented on #456
Hello, I am an outreachy applicant. May I go ahead and work on this bug?

[2020-03-07 12:35] awuorm commented on #1111
@ianb I am an outreachy applicant, can I have this issue assigned to me?

[2020-03-07 13:04] SaumyaSinghal commented on #1086
Hello @ianb  , I'll like to take up this issue if no one is working on it.

[2020-03-07 13:25] melvin2016 commented on #422
@ianb I have made a PR #1171 . Is this ok?

[2020-03-07 13:49] JanviMahajan14 commented on #792
Thanks I am working on this.

[2020-03-07 16:51] ianb opened #1172 "Support Windows development w/o WSL"
I've suggested using Windows Subsystem for Linux (WSL) for development, but it's been a challenge for many people to get setup.

While I've used more Linuxy things in other projects, I'm not sure how necessary it actually is in this project. All the important development scripts are Node scripts, and the build process is all Node.

Users will need to install git and Node. Maybe that's enough? Or i

[2020-03-07 17:06] ianb commented on #977
@SaumyaSinghal Yes, that's right

[2020-03-07 17:06] dave-ok commented on #1172
@ianb I agree. I couldn't use the WSL even if I wanted to because I use a windows 8 machine, and WSL is only available in certain versions of windows 10. So after a little tinkering I have been able to setup the project using just git and Node.

[2020-03-07 17:08] dave-ok commented on #1172
@ianb I am a current outreachy applicant. May I be assigned this issue?

[2020-03-07 17:10] ianb commented on #456
@Simpcyclassy You got it! I'd recommend focusing on reproducing the issue first.

[2020-03-07 17:10] melvin2016 opened #1173 "Typo in intents doc file"
Fix Typo in writing-an-intent.md file.

[2020-03-07 17:12] ianb commented on #1172
You got it! This will probably be updates to the README, plus any changes that might come up in the code.

There's a couple Python scripts used for release in `bin/` but don't worry about those, they aren't used for normal development.

[2020-03-07 17:13] ianb commented on #1088
@Dacosta-M we don't have the designs for this yet, so it's not ready to be implemented.

[2020-03-07 17:16] ianb commented on #408
@shreyaa-s alright, you got it! Check out https://chat.mozilla.org/#/room/#firefox-voice:mozilla.org if you need help

[2020-03-07 17:17] ianb commented on #788
@nash4j You got it!

[2020-03-07 17:18] dave-ok commented on #1172
Great! I'll get on it right away

[2020-03-07 17:25] ianb commented on #1114
@Manasa2850 There's a lot of work that has to go into this ticket across many parts of the codebase. I don't think it would be a good place to start for a newcomer to the code.

[2020-03-07 17:26] ianb commented on #373
@richardgreg I'm not actually sure how this ticket would be implemented, as there are no APIs to open bookmarks or history and it will involve getting into Firefox internals. So I would not recommend this ticket for someone new to the project.

[2020-03-07 17:30] ianb commented on #1042
@tonynguyen111997 You got it!

[2020-03-07 17:32] Manasa2850 commented on #1114
ok sure @ianb . Could you suggest something for me to work on? Thanks in advance!

[2020-03-07 17:32] ianb commented on #1134
@IkkyOdufade Please come to https://chat.mozilla.org/#/room/#firefox-voice:mozilla.org to discuss installation and setup issues.

[2020-03-07 17:41] SaumyaSinghal commented on #977
@ianb after making changes in searchServices.toml, on giving the voice command "open  NAME on add-ons" it directly opens the mozilla website and if the voice command is "Search NAME on add-ons" then it shows a Yahoo search result. Is this the desired result after fixing the issue?

[2020-03-07 17:43] ianb commented on #1114
@Manasa2850 #404 is a bug that might be easier to work on. Also if you try things out you might find bugs – cards that don't display, phrases that make sense for an intent but don't work (you can add the phrase to the `*.toml` file), words that are easily misheard (`english.toml`). There's also probably ways to make some of the existing intents better that we haven't thought of.

[2020-03-07 17:44] ianb commented on #977
@SaumyaSinghal No, neither seems right. I would recommend adding the phrase to `navigation.toml` as a `[[navigation.bangSearch.example]]` and using `npm run jest` to make sure it matches the way you are expecting.

It's possible that the service name doesn't match what it thinks you said.

[2020-03-07 18:12] SaumyaSinghal commented on #977
@ianb, sir can you please tell me what is the expected result after making changes.

[2020-03-07 18:14] Manasa2850 commented on #1114
Sure! Thanks @ianb :+1:

[2020-03-07 18:15] Manasa2850 commented on #404
Could you please assign this to me?

[2020-03-07 18:17] ianb commented on #1111
@AemieJ: I guess I'll assign this to you since you were first.

This document should cover a bunch of it: https://github.com/mozilla/firefox-voice/blob/master/docs/writing-an-intent.md – this intent would go in `intents/music/music.js`

[2020-03-07 18:27] SaumyaSinghal commented on #977
Sir, I have made changes in navigation.toml and now it searches the NAME of the addon on the Firefox addon website. Is this correct, please help if I am making some mistake.

[2020-03-07 18:31] ianb commented on #977
@SaumyaSinghal If you say "search bookmarks on add-ons" or "search add-ons for bookmarks" it should take you to https://addons.mozilla.org/en-US/firefox/search/?q=bookmarks

[2020-03-07 18:31] #1173 closed

[2020-03-07 18:33] SaumyaSinghal commented on #977
Yes sir I am getting that result.

[2020-03-07 18:34] vinitamaloo commented on #563
Hey @ianb I am Outreachy 2020 applicant. Can you assign this issue to me?

[2020-03-07 18:36] ianb commented on #977
OK, then maybe it's working?

[2020-03-07 18:36] SaumyaSinghal commented on #977
Yes sir

[2020-03-07 18:54] bolah2009 commented on #404
Hi @ianb I would like to take this issue as an outreachy applicant.

[2020-03-07 19:56] Simpcyclassy commented on #456
OK. Thank you. will reach out once I do

[2020-03-07 21:40] dave-ok commented on #1172
@ianb I have made some updates to the README, however I left the original section detailing how to setup on windows with WSL. Please review my updates. in #1172

[2020-03-07 21:52] IkkyOdufade commented on #1134
Ok🙂. Thank you.

[2020-03-08 00:45] annlinros commented on #1111
I have made a PR #1177
Is that ok?

[2020-03-08 06:41] naima-shk commented on #1117
Hi . I m an Outreachy applicant  , can i take this one please ?

[2020-03-08 07:58] awuorm commented on #861
@ianb can I take up this task?

[2020-03-08 08:19] Sanchibisht29 commented on #1117
hi am an Outreachy applicant, can i pls take this issue?

[2020-03-08 10:02] Kirti2502 commented on #761
Hi, I am an outreachy applicant. Can I take this issue if it is not being worked upon?

[2020-03-08 10:05] Kirti2502 commented on #656
Hi, I am an outreachy applicant. Can I take this issue if it is not being worked upon?

[2020-03-08 10:06] Kirti2502 commented on #126
Hi, I am an outreachy applicant. Can I take this issue if it is not being worked upon?

[2020-03-08 10:52] JanviMahajan14 commented on #792
@ianb Can you tell me from where we are sending message for "displayFailure" so i could relate it with for sending messages for the new view created through "currentView" prop.

[2020-03-08 10:57] JanviMahajan14 commented on #761
@Kirti2502 i have already linked a [PR](https://github.com/mozilla/firefox-voice/pull/1165) to solve this issue. You may start with the other good first issues.

[2020-03-08 11:09] annlinros commented on #1059
Hi @ianb I would like to work on this issue.

[2020-03-08 11:11] Kirti2502 commented on #176
Hi, I am an outreachy applicant, can i take this issue?

[2020-03-08 12:08] IkkyOdufade commented on #1134
Hi, I've worked on this issue and created a pull request. https://github.com/mozilla/firefox-voice/pull/1179/files . I'm  expecting your feedback soon.

[2020-03-08 12:21] IkkyOdufade commented on #1134
Hi, I've worked on the issue, created a pull request #1179 . Expecting your feedback soon.

[2020-03-08 12:29] IkkyOdufade commented on #987
Hi @awallin . I'm an intern from Outreachy. Can I work on this?

[2020-03-08 12:31] IkkyOdufade commented on #964
Hi @ianb . Can I work on this?

[2020-03-08 14:30] nash4j commented on #788
Hi @ianb , The page is not reloading changes automatically, each time on saving I have to terminate and start again. Am I doing anything wrong please help. Thanks

[2020-03-08 15:44] ianb commented on #788
@nash4j Oh yes, that's a bit of a nuisance in how the setup works – whenever you change code the extension restarts, and anytime the extension restarts all the pages that are part of the extension are unloaded. I'm afraid the best suggestion I have is to copy the URL to the lexicon and re-open each time.

[2020-03-08 15:45] ianb commented on #964
@IkkyOdufade You got it! You'll want to look at how `services/spotify` works and do something similar.

[2020-03-08 15:48] ianb commented on #1059
@annlinros Sure! I noticed the extension is based on [Lean URL](https://github.com/tugh/lean-url) which might be simpler to work from.

[2020-03-08 15:53] naima-shk commented on #1112
@ianb  can i take this one please  , as i m an Outreachy applicant ?

[2020-03-08 15:55] ianb commented on #792
@JanviMahajan14 There's three processes involved here: the popup (which is its own page), the invisible background page, and the content page (the tab that is being saved). The background page is where `saving.js` is running (and where `IntentContext` from `intentRunner.js` exists). Actually getting the HTML is happening in the content page, in `saveContentScript.js`. And the popupView and popupCo

[2020-03-08 16:17] #1172 closed

[2020-03-08 16:18] ianb commented on #422
@melvin2016 says this has been resolved along the way, @alexandra-martin can you re-verify?

[2020-03-08 16:22] #977 closed

[2020-03-08 16:32] #1057 closed

[2020-03-08 16:39] danielamormocea commented on #997
I have some questions regarding this issue @ianb @awallin  . At this moment, saying pause stops every service that is audible. Should I pause only the active tab? And maybe introduce something like 'Pause all' in the toml for pausing every service? Also, the 'Play' command works, but the user should interact with the website first (otherwise there is a warning saying 'Autoplay is only allowed when

[2020-03-08 16:41] #761 closed

[2020-03-08 16:56] ianb commented on #997
@danielamormocea The autoplay issue is one I should probably look into, but it's somewhat involved to fix it. So for this issue I'd recommend not worrying about it, and we can open a followup issue. So I believe it should work _after_ the user first plays something, but on the first play it will require user interaction, or they'll have to allow autoplay on the site.

As for pausing things in the

[2020-03-08 16:59] ianb commented on #1112
It looks like @shreyaa-s already has an open issue, so I'm going to give this one to @sayuree

[2020-03-08 17:00] ianb commented on #656
@Kirti2502 We don't have a design for this, so it's not really ready to be implemented

[2020-03-08 17:01] ianb commented on #861
@awuorm Sure, though note this one requires Spotify to test out.

For this I'm pretty sure the problem is that the Spotify interface is being localized to another language, so to reproduce the problem try using Spotify in another language, and find a better selector that works regardless of language.

[2020-03-08 17:03] Simpcyclassy commented on #456
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34488930/76167454-0f091280-6167-11ea-9b28-4de1224aa68a.gif)

case 1

[2020-03-08 17:05] ianb commented on #1086
I guess I'll assign this to @danielamormocea ...

We're running out of first issues, so I'm going to start checking in and removing assignments from some of the other issues

[2020-03-08 17:06] ianb commented on #1103
@km-js Are you still working on this? If it's not working out I'd like to open this back up for other contributors

[2020-03-08 17:07] ianb commented on #1082
@sabina-rohman Are you still working on this? If it's not working out I'd like to open this back up for other contributors

[2020-03-08 17:09] ianb commented on #954
@PrastutiUpadhaya Are you still working on this? If it's not working out I'd like to open this back up for other contributors

[2020-03-08 17:10] ianb commented on #624
@sheilaanguiano Are you still working on this? If it's not working out I'd like to open this back up for other contributors

[2020-03-08 17:15] ianb commented on #912
This is a good second issue, slightly harder than some of the other issues. This will involve creating a new service, similar to `extension/services/spotify/` but for SoundCloud.

[2020-03-08 17:16] Simpcyclassy commented on #456
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/34488930/76167697-f1d54380-6168-11ea-827f-f0c73d03939b.gif)

case 2

[2020-03-08 17:16] sabina-rohman commented on #1082
@ianb yes, I am working on it right now. I am following your suggestion and adding a numberOrCardinal to the entityTypes and have a go. Will keep you updated :)

[2020-03-08 17:18] dave-ok commented on #1101
@ianb Can I look into this?

[2020-03-08 17:19] ianb commented on #905
Let's try all these except with "select" instead of "close". So "select all tabs to the left", etc.

Note "selected" is called "highlighted" in the API: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/update (but it's called selected everywhere in the UI)

I'd recommend starting with just a couple of these, specifically the ones that don't involve names (i.e., _not_

[2020-03-08 17:23] Simpcyclassy commented on #456
![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/34488930/76167800-c1da7000-6169-11ea-9cc2-cbcbc80b8ed7.gif)

Case 3, only the second instance opened the new York times, other times open MDN

[2020-03-08 17:24] ianb commented on #843
If someone wants to try this out: mostly you'll be exposing the find API that is mentioned in the description. So `find [query] on (this |) (page | tab)` or `search (this |) (page | tab) for [query]`

This will be a new intent, I guess in `tabs.js`. The _writing an intent_ document should give some guidance.

[2020-03-08 17:25] melvin2016 commented on #1102
May I work on this?

[2020-03-08 17:26] IkkyOdufade commented on #964
Thank you :). Would do that..

[2020-03-08 17:27] SaumyaSinghal commented on #1102
@ianb Can I work on this if nobody is already working on it?

[2020-03-08 17:37] SaumyaSinghal commented on #905
@ianb can I work on this?

[2020-03-08 17:39] sheilaanguiano commented on #624
Hi Ian, yes please open it up for others

[2020-03-08 20:06] NoelyMarques commented on #843
Hi @ianb, I am an outreachy applicant and I'd like to have this issue assigned to me. May I?

[2020-03-08 20:09] melvin2016 commented on #912
@ianb Can i work on this?
I think along with "Play", "Pause", "Mute", we could add "Next" track and "Previous" track?
Can you guide me on getting started?

[2020-03-08 21:07] shreyajain25 commented on #843
Hi @ianb , May i work on this as my first issue?

[2020-03-08 21:17] fleur101 commented on #1103
Hello, @ianb. I am an Outreachy applicant, may I work on this issue if it is unassigned?

[2020-03-08 21:23] xlisachan commented on #486
@ianb I am an Outreachy applicant. Can I be assigned to this issue?

[2020-03-08 22:38] xlisachan commented on #166
@ianb, can I be assigned to this issue?

[2020-03-09 01:13] LilyLME opened #1182 "Update readme with clearer instructions for linux."
The developing part of the readme starts of well by asking that nodejs is downloaded then suddenly moves to **_"After downloading Firefox Nightly, change its name to FirefoxNightly (no space), otherwise the project wont be able to spawn the firefox."_**  That instruction is a little bit confusing we might want to restructure it by:

First asking the that the reader downloads Firefox nigtly from :

[2020-03-09 05:07] PrastutiUpadhaya commented on #954
@ianb Actually I am facing issues in setting up the environment and opening the project on my system, can you give me another day please? Then you can surely assign it to someone else.

[2020-03-09 05:52] naima-shk commented on #912
@ianb  can i try this one please ?

[2020-03-09 05:56] dave-ok commented on #1101
@ianb I have created this intent in pull request #1183. Could you please review it?

[2020-03-09 06:37] dave-ok opened #1184 "Bug: Jest test failing locally on "music.pause" intent"
### Steps to Reproduce
Run "npm test" locally.

### Expected Result
All tests should pass

### Actual Result
Jest test fails when testing phrases for "music.pause" intent at "pause spotify" phrase

![Failing Test](https://user-images.githubusercontent.com/19638455/76188587-cc801e00-61d8-11ea-8983-88894b425fe6.png)

### Notes:
Tests still pass on CI because Jest tests have currently been disabled o

[2020-03-09 07:17] vibhuti019 commented on #843
I will have to work for mobile version only or for pc version too..

[2020-03-09 07:19] vibhuti019 commented on #843
For mobile version we can give a mic icon so user can tap and perform their queries...
As I could guess we can extend this too for other options too..

[2020-03-09 09:18] PrastutiUpadhaya commented on #954
@ianb I have finally been able to set up the environment, I will start working on this right away, it would be great if I get some more time, if that's alright.

[2020-03-09 09:20] dave-ok commented on #1115
@ianb I currently have 1 PR up for review, but can I be assigned to this task?

[2020-03-09 09:41] Simpcyclassy commented on #456
@ianb Please, could you take a look at this?

[2020-03-09 10:38] danielamormocea commented on #1086
Hello @ianb. I have a question regarding 'collect [query] tabs in all windows'. So I understood that if the current active tab does not match the query I should focus on a tab that does match it. Now, what if the current window does not have any tab that matches the query? Should I change the window to a tab that matches it?

[2020-03-09 11:01] naima-shk commented on #1184
@ianb  Can i take this one please ? :)

[2020-03-09 11:10] saucekode commented on #1117
Hello, an outreachy applicant here. Please, I would like to take this issue. Thank you.

[2020-03-09 11:40] saucekode commented on #1117
@alexandra-martin please could you rephrase the actual result. Can't seem to understand the statement. Thank you so much.

[2020-03-09 12:33] alexandra-martin commented on #348
It seems only "This page cannot be put into Reader Mode" is not displayed in the doorhanger. "Already narrating" is displayed accordingly. Tested on Mac 10.14 and Win10x64 with Firefox Nightly 75.0a1 (2020-03-08).

![1](https://user-images.githubusercontent.com/54401091/76212924-3b2d9d80-6212-11ea-8591-40a7d3504280.gif)

[2020-03-09 12:54] vandnakapoor19 commented on #267
@ianb I’m not able to reproduce the above issue & some additional observations are as follows.
•	“Search” command display results in a new tab.
•	Doorhanger result is available only for the “featured snippet” response.

System Configuration: -
OS: Windows 10x64
Firefox Nightly: Version 75.0a1
Node: v12.16.1

![result_weather](https://user-images.githubusercontent.com/45131874/76184493-860fcc80-61a

[2020-03-09 13:11] JanviMahajan14 commented on #792
thanks @ianb your explanation really helped me to understand the things clearly.

[2020-03-09 13:16] danielamormocea commented on #1086
I made a PR with changing the focus to a different window if there is no tab in the current window that satisfies the query, and there is one in the other window. I can change this if this is not the expected behavior.

[2020-03-09 13:21] JanviMahajan14 commented on #905
I would like to work on this issue .

[2020-03-09 13:30] saucekode opened #1187 "Update readme with clearer instructions for windows"
I would love to take this up. This was an issue for me at the beginning

[2020-03-09 14:24] JanviMahajan14 commented on #1109
@ianb I found this  issue really interesting. Can I give it a try?

[2020-03-09 14:44] alexandra-martin commented on #422
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 75.0a1 (2020-03-09).
The reported bug is not fixed yet, as the issue is still reproducing after following the steps described. What is changed is that "Play Foo on Youtube" from step 1 doesn't open the Foo Youtube channel anymore, for me at least. Some other "Play" commands that can reproduce the issue are "Play Twenty One Pilots on Youtube",

[2020-03-09 14:48] melvin2016 commented on #422
Ok let me look at it again.

[2020-03-09 14:59] saucekode opened #1188 "Educate developers on type input feature"

[2020-03-09 15:28] alexandra-martin opened #1189 ""Play Green Day" displays error in doorhanger when first made"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
An account is logged in on Spotify and Autoplay is enabled.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Play Green Day" command.

### Expected result:
Spotify opens in a new t

[2020-03-09 15:37] awallin commented on #997
Agree with @ianb. 'Pause' should apply to all active tabs. An important use case is being able to pause the music/video on the non-active tab and I don't think many people will intuitively say "Pause all" (education around what to say is always a challenge). Intuitively, users are likely to believe 'pause' will control any audio playing on any tab.

[2020-03-09 15:44] awallin commented on #987
@IkkyOdufade This one is not quite ready yet. I should have an updated design in a day or so.

[2020-03-09 15:45] awallin commented on #126
Hi @Kirti2502 the design is not ready yet. I'll be working on it this week and should have something available by the end of the week.

[2020-03-09 16:14] ianb commented on #1184
@naima-shk I think @dave-ok was planning on fixing this as well as reporting it

[2020-03-09 16:45] danielamormocea commented on #997
Ok, so if I'm undersanding correctly, this issue should be closed?

[2020-03-09 17:00] saucekode commented on #1117
@alexandra-martin this actually works but it works later but not immediately like an english text

[2020-03-09 17:04] ianb commented on #267
Thanks for verifying this @vandnakapoor19, I believe the search behavior you're seeing is correct and this particular bug is no longer reproducible.

[2020-03-09 17:04] #267 closed

[2020-03-09 17:25] ianb opened #1190 ""Copy links" should work"
"Copy link" works right now, but if the system mishears you as saying "copy links" then you get a search result.

This will be a small change to `clipboard.toml`

[2020-03-09 17:27] ajinkabeer commented on #1190
Hey @ianb, I would like to take up this one if there aren't any other outreachy applicants who are looking for their first issue.

[2020-03-09 17:29] saucekode commented on #1190
Hello @ianb, I would like to work on this issue. Thanks

[2020-03-09 17:30] ianb opened #1191 "Saving and copying does not work on theverge.com"
If you open https://www.theverge.com/ (my go-to example for a page that does way too much and makes everything slow!) and try to "save page" or "copy screenshot" you'll get an error:

<img width="410" alt="image" src="https://user-images.githubusercontent.com/44390/76240443-44623e80-6201-11ea-8797-d639d73582ab.png">

I'm not sure what's going on, but it's probably centered in `content.js` where th

[2020-03-09 17:30] ianb commented on #1190
Assigning to @saucekode because we'd just talked about this ticket on the channel

[2020-03-09 17:32] ajinkabeer commented on #1190
Oh, totally fine. I'll look for other issues :)

[2020-03-09 17:44] #1101 closed

[2020-03-09 18:09] ianb opened #1193 "Make `npm run build:jsx` atomic"
Right now `npm run watch-rebuild` is run whenever certain changes are noticed (.jsx, .toml, and .ejs file changes). Unfortunately it updates all of these files, and can cause a bunch of reloads.

The toml and ejs files should actually be OK, because `bin/script-utils.js` should only write files that actually change. But `babel` writes all the jsx files, and it takes a while, so web-ext might even

[2020-03-09 18:51] ianb opened #1194 ""google for X" should always open Google"
Right now the `search.searchPage` intent uses the default search provider. But one of the phrases it catches is `google for X`, which would presumably always means search Google, not the default search provider.

To test this set your default search provider to be DuckDuckGo, and then try a phrase like "google for apples".

Fixing this might be a matter of adjusting the phrases for `search.searchP

[2020-03-09 19:03] #1103 closed

[2020-03-09 19:05] #1111 closed

[2020-03-09 19:12] av-00 commented on #1182
I've just completed setting up everything after a lot of support, @ianb can I work on it?

[2020-03-09 19:37] #792 closed

[2020-03-09 19:39] #1086 closed

[2020-03-09 19:41] ianb commented on #1182
@av-00 Yes, that would be great, thanks!

[2020-03-09 19:57] ianb commented on #1109
@JanviMahajan14 Sure! This will be somewhat challenging, I'm not sure the best way to actually do all the steps, but here's what I think it will look like:

To try to resolve the link, I might suggest opening with `createTabGoogleLucky()` and hiding the tab (there's no option to hide the tab, so you'd have to change that function some (`openSearchTab()` in `search.js` is an example of hiding). Onc

[2020-03-09 20:03] ianb commented on #1086
@danielamormocea I hadn't thought particularly about how it should act in that case, but that sounds like a reasonable choice to me.

[2020-03-09 20:06] farhatcode commented on #1194
Can I say the "Search for X" should always go to the default search provider and search.searchPage never catches the google phrase?
Because if query contains google, it can be handled in bang searches?

[2020-03-09 20:07] ianb commented on #456
@Simpcyclassy Case 1 looks like you are reproducing the bug, so that looks like a good place to focus.

`extension/intents/bookmarks/bookmarks.js` is where this is implemented, and you'll want to look at this code to try to understand what bookmarks it is searching and why it selects the wrong one: https://github.com/mozilla/firefox-voice/blob/master/extension/intents/bookmarks/bookmarks.js#L12-L4

[2020-03-09 20:10] farhatcode commented on #1194
performSearch() is intended to perform google search and browser.search.search() is intended to search in the default search engine?
Right now according to my understanding of the code, performSearch() is called for (buildSettings.android) only in the run() method.
and browser.search.search() is called for other cases.

[2020-03-09 20:10] ianb commented on #1194
@farhatcode Our other bang searches have different syntax than this because we don't use the search provider as a verb. For example, "amazon hats" doesn't open an amazon search, but "search amazon for hats" does. But we do want "google hats" to open a google search.

So... yes, this could mean adding google to the bang searches, plus adding some more google-specific phrases. Or it could mean chang

[2020-03-09 20:13] ianb commented on #1115
@dave-ok Sure. I honestly don't know how this should work, like how you'll decide on the contents of the slideshow given a page. So... give it a try, and if you can't figure something out report back.

[2020-03-09 20:15] dave-ok commented on #1115
Thanks. I will let you know how I plan to handle this before I proceed

[2020-03-09 20:19] farhatcode commented on #841
Referring to # 1194, How we can differentiate that the user wants to search in the currently open site or he wants to search in the default search provider, when he first says "open youtube" and then says "Search for X" and he intends to search youtube and want to see the results in the active tab.

[2020-03-09 20:21] saucekode commented on #1191
Hi @ianb would love to work on this! Thanks

[2020-03-09 20:25] ianb commented on #1191
@saucekode You got it

[2020-03-09 20:27] ianb commented on #997
Yes, I think so. I think there was another idea that was badly explained here about playing embedded YouTube videos, but we'll open a new ticket for that.

[2020-03-09 20:27] #997 closed

[2020-03-09 20:29] ianb commented on #166
@xlisachan Sure! I think it will be fine to just always capitalize the first letter of the utterance. That could even happen in `popupController.jsx`

[2020-03-09 20:30] danielamormocea commented on #1095
@ianb  Can I start working on this?

[2020-03-09 20:31] ianb commented on #486
Unless @awallin feels differently, I think there's nothing left to actually fix on this ticket. It does move around a little bit when the examples open up, but otherwise it's OK. Though if @awallin wanted to move it to a more consistent location (e.g., the top of the popup) then we could reopen.

[2020-03-09 20:31] #486 closed

[2020-03-09 20:32] ianb commented on #1095
@danielamormocea I don't think we have a technique to change the volume of the computer from the extension, so this isn't ready to implement.

[2020-03-09 20:33] awallin commented on #486
Yea, it's ok to close.

[2020-03-09 20:40] SaumyaSinghal commented on #1189
@ianb I was able to reproduce it on Linux. I'd like to work on it. Can you please suggest the files in which changes need to be made?

[2020-03-09 20:44] ianb commented on #1189
@SaumyaSinghal Probably in either `extension/services/spotify/player.js` or `spotify.js` – it might simply be that the timeout is too short, or maybe `spotify.js` needs to wait for the page to load (look for `browserUtil.waitForDocumentComplete()` for some examples of how to wait). Or if Spotify "loads" but is still doing a bunch of work, maybe there's a way to detect that it hasn't rendered yet a

[2020-03-09 20:48] SaumyaSinghal commented on #1189
Okay Thank You @ianb

[2020-03-09 20:48] ianb commented on #1117
OK, I think I'm hearing this isn't a bug, so I'll close it and @alexandra-martin can reopen if that seems incorrect.

[2020-03-09 20:52] ianb commented on #841
@farhatcode I think we should make it explicit, so the user will have to say "search this site for [query]" or "search for [query] on this tab" or something specific. So not exactly like described in the original ticket, it won't override a normal search phrase like "search for cutcapers"

[2020-03-09 20:58] ianb commented on #843
I guess I will assign this to the first commenter, but @NoelyMarques please confirm in a comment here that you are working on it so that I can be sure it doesn't get stuck.

[2020-03-09 20:58] annlinros commented on #348
can I be assigned for this issue? Thanks@ianb

[2020-03-09 21:01] vandnakapoor19 commented on #624
@ianb I'd like to check this issue.

[2020-03-09 21:04] #1184 closed

[2020-03-09 21:05] ianb commented on #348
@annlinros You got it

[2020-03-09 21:08] dave-ok commented on #1115
@ianb Is it okay if I used a third party slideshow component (bootstrap/jquery)? I was thinking something like a lightbox gallery.

[2020-03-09 21:13] danielamormocea commented on #905
@ianb  can I work on this also? I've already worked in tabs.js and got the hang of it

[2020-03-09 21:18] IkkyOdufade commented on #1193
Hi @ianb, can I have this?

[2020-03-09 21:22] shreyajain25 commented on #905
@ianb  Can I work on this issue.

[2020-03-09 21:27] NoelyMarques commented on #843
Hello @ianb, yes I am!

[2020-03-09 21:43] ianb commented on #1193
@IkkyOdufade You got it!

[2020-03-09 22:13] ianb opened #1197 "Allow nicknames to be edited in options"
Right now we have a bunch of nicknames managed in `nicknames.js`. But you have to use voice commands, and it's hard to do that precisely or understand what you've saved.

I imagine a new section at the bottom of the settings page, looking roughly like:

<img width="516" alt="image" src="https://user-images.githubusercontent.com/44390/76261739-a8e4c400-6228-11ea-85b5-881e30cf28cd.png">

The "Save"

[2020-03-09 22:14] ianb commented on #905
I think @danielamormocea and @SaumyaSinghal both have other active issues, so yes, assigning to @shreyajain25

[2020-03-09 22:14] danielamormocea commented on #1197
@ianb. ready to take this :D

[2020-03-09 22:16] awallin commented on #1197
I can definitely make a higher fidelity UI design. My initial thought is this shouldn't be on the main settings page but instead linked from there. The settings page is getting long as is and it's unlikely this feature will be used by a majority of users.

[2020-03-09 22:18] ianb commented on #1197
@awallin Can we make a tabbed version of the settings page? Just in terms of code it seems nice to keep this stuff in one page.

[2020-03-09 22:20] awallin commented on #1197
@ianb Similar to the Firefox Preferences page which creates section for General, Home, Search, Privacy & Security, and Sync?

[2020-03-09 22:21] ianb commented on #1115
@dave-ok I'm reluctant to bring in something too big for this, though this could be a new directory in `extension/intents/slideshow/` to keep things separated. If there's something fairly small with a clear license, then yes, but all of Bootstrap seems like too much.

[2020-03-09 22:41] #1083 closed

[2020-03-09 23:16] sabina-rohman commented on #1082
@ianb I created PR for this ticket : https://github.com/mozilla/firefox-voice/pull/1199
Can you please review? Not sure what the error is about. I ran the tests locally and they were green.

[2020-03-09 23:24] fleur101 commented on #808
Hi! May I try to work on this one?

[2020-03-10 00:00] xlisachan commented on #166
@ianb Thanks! Both vocal and text commands have been capitalized, please let me know if you have any feedback. #1200

[2020-03-10 01:00] LilyLME commented on #481
After reproducing, I think it's not an issue with Firefox voice, but the narration tool itself. The mute works correctly other times in other scenarios.

Also, muting the narration tool manually (I mean by clicking mute in the tab) does not work. Consequently the right/correct intent on Firefox-voice would still pretty much fail to work.

![mute-in-narration-mode](https://user-images.githubusercon

[2020-03-10 04:48] nash4j commented on #788
sure Thanks. I have the changes for this issue on my local branch, but I can't push it to Github. Can you please confirm if I have push access to the repository. Thanks

[2020-03-10 05:41] naima-shk commented on #1187
@ianb  can i take this one please as i don't have any issue yet ? This was an issue for me  as well.

[2020-03-10 08:33] danielamormocea commented on #1197
@ianb @awallin So should I make a simple UI alongside the backend functionalities, then get feedback and improve the UI later?

[2020-03-10 09:08] alexandra-martin commented on #1140
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-09).

![1](https://user-images.githubusercontent.com/54401091/76296671-3246d580-62bf-11ea-9ec4-d6dcef4de231.gif)

[2020-03-10 09:19] alexandra-martin commented on #1136
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-09).

![3](https://user-images.githubusercontent.com/54401091/76297694-f1e85700-62c0-11ea-9990-d2c92523e859.gif)

[2020-03-10 10:12] Simpcyclassy commented on #456
@ianb So I think it had something to do with the particular bookmark firefox nightly came with. I deleted the bookmark and readded and the bug is gone. The bookmark works as should

[2020-03-10 11:30] alexandra-martin opened #1202 "Sad emoticon not visible in the negative feedback display"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a command that shows the feedback sect

[2020-03-10 11:52] PrastutiUpadhaya commented on #954
Hello @ianb The scrolling seems to work just fine for the [document](https://www.cs.rochester.edu/research/cisd/pubs/2007/allen-et-al-plow-aaai2007.pdf). I need some assistance getting started on this, I am not exactly able to view how the scrolling isn't working.

[2020-03-10 11:55] alexandra-martin commented on #1132
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-09).
Everything seems fine, but it can be good idea if both plural and singular form for "bookmark" can be added in the phrases, in case the command transcription is displaying examples like "remove bookmarks from page", "delete page from bookmark".

![bookmark remove](https://user-images.githubusercontent.com/54401091/7630995

[2020-03-10 12:27] alexandra-martin commented on #1117
Retried on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-09) with the steps provided and I can still reproduce the issue.
In my case, if a page is translated from the beginning or is already in any language, (without using "Translate" commands) then everything is fine.
![6](https://user-images.githubusercontent.com/54401091/76311253-2ff17500-62d9-11ea-8d69-a5441914ee70.gif)

But if a

[2020-03-10 12:35] saucekode commented on #1117
Yes I do understand what you say. But the issue is that, it works but it's
slow. That means it works later. Perhaps you could fix that. Thanks.

On Tue, Mar 10, 2020, 1:27 PM Alexandra Martin <notifications@github.com>
wrote:

[2020-03-10 12:48] alexandra-martin commented on #1113
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-09).

![8](https://user-images.githubusercontent.com/54401091/76313540-cfb10200-62dd-11ea-9666-d3232e9b7fe9.gif)

[2020-03-10 13:06] alexandra-martin commented on #1117
@saucekode thanks for the quick response. But when you say that it works later, do you refer that the relevant text is pasted, if a second "Paste" command is made? Cause even after multiple "Paste" commands, the same text is displaying for me.

[2020-03-10 13:36] shjang7 commented on #1117
@alexandra-martin As I understand this issue,
- It works well when simply copy and paste.
- But, it doesn't work when 1. translate 2. copy 3. paste.
Am I correct understanding this issue?

By the way, do you have any online demo link about this program?
I want to test it on my local machine and where I could find the instruction to install this program?
Is it working in the master branch? and $ np

[2020-03-10 13:41] alexandra-martin commented on #1111
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-10).

![10](https://user-images.githubusercontent.com/54401091/76317927-9d0b0780-62e5-11ea-995b-102725d34f54.gif)

[2020-03-10 14:06] fleur101 commented on #1202
Hello! Can I work on this bug?

[2020-03-10 15:13] ianb opened #1205 ""Copy rich link" doesn't work on Google Docs"
If I execute "copy rich link" on a Google Docs page then nothing is being copied to the clipboard (whatever was previously on the clipboard stays there). Other sites work.

[2020-03-10 15:21] ianb commented on #1117
I'm wondering if this is actually the same issue as #1205 – something on these sites is keeping the copy functionality from working in general.

[2020-03-10 15:40] alexandra-martin commented on #481
@LilyLME on what OS and on what version of Firefox are you testing? I can try to find a device with your environment, to see if I have the same problem as well.
On Mac 10.14 and Win10X64 with Firefox Nightly 76.0a1 (2020-03-09) I was able to manually mute the tab.

![12](https://user-images.githubusercontent.com/54401091/76329759-a69c6b80-62f5-11ea-888e-416f14e85dd6.gif)

[2020-03-10 15:41] ianb opened #1206 "Specify minimum Node version in package.json"
I'm pretty sure there's a way to do this. I've been using v13.8.0, but i think v12 works too

[2020-03-10 15:42] PrastutiUpadhaya commented on #954
Hello @ianb I just got my time table from college and I am probably not going to be able to put in a lot of time for a week now, I believe you should open this issue for other contributors.

[2020-03-10 15:48] #1202 closed

[2020-03-10 15:54] #166 closed

[2020-03-10 15:58] xlisachan commented on #1206
@ianb can I work on this?

[2020-03-10 16:07] naima-shk commented on #1206
@ianb  Can i take this one please ? I m an Outreachy Applicant .

[2020-03-10 16:08] GangaChatrvedi commented on #158
I would like to work on this.

[2020-03-10 16:13] ianb commented on #1206
I think @naima-shk has been looking for a first issue for a bit, so assigning

[2020-03-10 16:15] naima-shk commented on #1206
@ianb  Thanks :)

[2020-03-10 16:24] ianb commented on #456
Cool. @Simpcyclassy if you need to get back to a fresh profile, deleting the `Profile/` directory will reset everything.

[2020-03-10 16:26] ianb commented on #1197
@danielamormocea Yes, I generally like to focus on just having each step improve things. So as long as the UI flow seems right we can rearrange or restyle things in followups.

[2020-03-10 16:27] awallin opened #1207 "Add examples"
Add the following utterances as examples that rotate randomly in the popup.

* Close Firefox
* Open a new window and go to Wikipedia
* Collect all Google Docs tabs
* What's playing?
* Undo last closed tab

[2020-03-10 16:27] ianb commented on #1187
In general I always welcome any changes to the README to make setup easier. Unlike some other issues everyone can contribute ;)

[2020-03-10 16:33] xlisachan commented on #1207
@awallin I'm an Outreachy applicant, can I work on this?

[2020-03-10 16:36] awallin commented on #1207
Yes @xlisachan I'll assign it to you.

[2020-03-10 16:36] Simpcyclassy commented on #456
Thank you! Here is my PR https://github.com/mozilla/firefox-voice/pull/1209.

[2020-03-10 16:56] awallin commented on #1202
@GangaChatrvedi Could you make a minor change to the color fill by using #0060DF to be consistent with the rest of the UI? Thanks.

[2020-03-10 17:00] awuorm commented on #861
@ianb I have been able to replicate this error, while trying to console log the element that was selected from the DOM, I changed the selector to aria-labelledby and got the error below
![Screenshot (1872)](https://user-images.githubusercontent.com/53653844/76333350-8f17af80-6302-11ea-846e-07a72caafd71.png).

Looking at the DOM,the search link on Spotify actually has an aria-label='Search' attribu

[2020-03-10 17:00] AbrilAnchondo commented on #954
@ianb, I will start working on this issue. Thanks.

[2020-03-10 17:06] awallin opened #1211 "Cursor should be pointer for smile/frown feedback"
The smile/frown icons should use a pointer (hand) when hovering on the smile/frown in the doorhanger. This indicates to a user they can click the icons.

[2020-03-10 17:06] GangaChatrvedi commented on #1202
Yes. I am creating new PR corresponding to this.

[2020-03-10 17:08] nuraynab commented on #1211
Hi, can I have this?

[2020-03-10 17:09] awallin commented on #1211
Go for it @nuraynab

[2020-03-10 17:48] JanviMahajan14 commented on #1109
@ianb i am not sure in which form i can check this implementation. Also I want to know as you suggested forms.js is a good place for the indent to live So are we restricting the implementation in forms only

[2020-03-10 17:49] amandhamija98 commented on #975
Hi, I would like to work on this issue, could I please be assigned

[2020-03-10 17:55] JM-Mendez opened #1213 ""Previous/Next results" commands only work with google search"
The commands `previous results` and `next results` are only able to fetch results from the google. This happens because the results are iterated over according to google's html structure, which doesn't match the other providers.

[2020-03-10 17:56] amandhamija98 commented on #397
Hi, I would like to work on this issue, could I please be assigned

[2020-03-10 17:57] JM-Mendez commented on #1213
@ianb can you please assign this issue to me? It's a continuation of PR #1180, but was not within scope of the issue that PR was addressing.

[2020-03-10 18:27] LilyLME commented on #481
@alexandra-martin I on linux, Ubuntu 18.04 Firefox Nightly 75.0a1 (2020-03-08) (64-bit)

[2020-03-10 18:29] shreyaa-s commented on #1205
Hey @ianb can i get assigned to this one next?

[2020-03-10 18:31] LilyLME commented on #481
Updated to Nightly 76.0a1 (2020-03-10) (64-bit) and the stakes are the same! Probably this is a separate bug that has to be reported for the linux build.

[2020-03-10 19:08] ianb commented on #1205
@shreyaa-s Yep! My guess is that this and #1117 are related, and that it has to do with this code not working: https://github.com/mozilla/firefox-voice/blob/master/extension/intents/clipboard/contentScript.js#L28-L45

[2020-03-10 19:08] ianb commented on #1213
@JM-Mendez Cool, you got it

[2020-03-10 19:15] IkkyOdufade commented on #987
Ok.

[2020-03-10 19:45] ianb commented on #397
@amandhamija98 You got it!

For this one, if we're about to open a YouTube tab (from `extension/services/youtube/youtube.js`) and the active tab is also a YouTube tab, then we should reuse the active tab.

Note this will require a change to `createTabGoogleLucky()` in `intentRunner.js` to allow it to use an existing tab instead of opening a new tab. I'd recommend changing its signature to:

[code]

[2020-03-10 19:47] ianb commented on #975
@amandhamija98 This one isn't ready to be implemented yet, opening settings is not as easy as it would seem and I have to talk with Firefox people to figure out the best way to do this.

[2020-03-10 19:49] ianb commented on #1109
@JanviMahajan14 It doesn't just have to be forms, I just thought this would be a good place to put the implementation. It has to be an editable field of some sort for this to work after all.

But I did expect for it to only work with `<textarea>` and `<* contenteditable=true>`

[2020-03-10 20:19] Sav22999 opened #1217 "Customisable wakeword"
I think that could be a good idea can choose a customisable wakeword, in addition to the list.
Just add a "textbox" and there you can write your wakeword.

[2020-03-10 20:21] Sav22999 opened #1218 ""Hey Firefox" as wakeword"
Could you add "Hey Firefox" as a default wakeword?

[2020-03-10 20:25] Sav22999 opened #1219 "Add "Play the video in this page""
If I am in a youtube page, for example, it should be a great thing can control the video.
"Play the video in this page"
"Pause the video in this page"
"Volume up in this page"
"Volume down in this page"
"Restart the video in this page"

[2020-03-10 20:26] Sav22999 opened #1220 ""Unmute this page" doesn't work"
"Mute this page" work great, but "Unmute this page" doesn't! It opens "https://www.google.com/search?q=unmute+this+page&safe=active&voice" page

[2020-03-10 20:36] av-00 commented on #1218
hi can i work on this?

[2020-03-10 20:38] danielamormocea commented on #954
hey, @ianb, I've also looked into this issue previously; your suggestion about searching from the activeTab upwards works most of the time; there is an issue when the focus is on the body or above the scrollable element and there is a scrollable div inside; in this situation the searching should be inwards; I'm thinking about going from the <head> down, and in case of multiple searchable elements,

[2020-03-10 20:48] Akanksha1212 commented on #1217
Hi, I would like to work on this.

[2020-03-10 21:01] OliviaRuyinZhang commented on #1220
@ianb Can I give this item a try?

[2020-03-10 21:48] OliviaRuyinZhang commented on #1220
I already have a fixed for it. We need to add "page{s}" as one of the match for "unmute" under the metadata.js file.

[2020-03-10 21:49] Simpcyclassy commented on #1188
Please, could this be assigned to me @ianb ?

I also need a little bit of clarification of this bug

[2020-03-10 21:59] Sav22999 opened #1222 "Add "Search NAME on Firefox Add-ons""
Related to #977
Add other keywords: "Search <NAME> on Firefox add-ons" and "Search <NAME> on Mozilla add-ons"

[2020-03-10 22:01] Sav22999 commented on #1222
Can I work on this?

[2020-03-10 22:25] ianb commented on #860
This is some kind of Firefox bug. I've submitted it as [Bug 1621462](https://bugzilla.mozilla.org/show_bug.cgi?id=1621462)

[2020-03-10 22:34] ianb opened #1224 "Allow user to press preferred keyboard shortcut in options"
In the options page currently you have to manually enter your preferred keyboard shortcut:

<img width="757" alt="image" src="https://user-images.githubusercontent.com/44390/76365256-dc8d2000-62f4-11ea-94d9-b3eab6db90ad.png">

It would be nice if you could click in the input box and your next key would be captured and used as the keyboard shortcut. Escape would cancel changes.

There may be some l

[2020-03-10 22:38] tonynguyen111997 commented on #1224
Hi can I please be assigned this issue?

[2020-03-10 22:38] OliviaRuyinZhang commented on #1220
I also noticed if we only typed "unmute", it wouldn't work. I added unmute as a match as well

[2020-03-10 22:40] ianb commented on #1224
@tonynguyen111997 Sure!

[2020-03-10 22:45] ianb commented on #954
@danielamormocea At most I hope this works as well as Page Down works currently. I don't _think_ Page Down will scroll an inner div in this case. But if (and only if) Page Down does currently look for inner elements when the outer element can no longer be scrolled down, then I would agree Firefox Voice should do it too.

I guess two PRs could be okay... but I'm also falling behind on reviews.

[2020-03-10 22:45] ianb commented on #1188
@Simpcyclassy I'd like @awallin to come up with some design for this before implementation.

[2020-03-10 22:47] ianb commented on #808
@fleur101 Sure, give it a try. There's some open design issues here: what does it mean to name a tab, what intents need be overridden, when do we treat it like a named tab or a named site/url? How do we persist this over restarts? Because I don't have answers for these questions this might be challenging, and I'd recommend starting with the parts that seem clear and then thinking it through from t

[2020-03-10 22:56] ianb commented on #1220
@OliviaRuyinZhang Great, if you submit a PR I should be able to look at it tomorrow

[2020-03-10 22:56] OliviaRuyinZhang commented on #1220
Thanks!

[2020-03-10 22:59] OliviaRuyinZhang commented on #407
Can i give this one a shot? It looks like the "pause" and "unpause" intent would get confused when we have two tabs both playing youtube videos the same time

[2020-03-11 03:06] JanviMahajan14 commented on #1219
Can I work on this issue

[2020-03-11 04:31] JanviMahajan14 commented on #1109
Ok thanks ! Now I got it.

[2020-03-11 05:05] JM-Mendez commented on #158
@GangaChatrvedi The mentor might not be subscribed to this issue, and I don't see him in the list of participants.

It's best to tag him when you request an issue. This way you can be sure he's notified.

I'll tag him now for you

@ianb

[2020-03-11 06:49] GangaChatrvedi commented on #158
Thanks @JM-Mendez

[2020-03-11 09:39] shreyaa-s commented on #1205
Hey @ianb !
I looked into the issue and the problem is not with the code but with google docs itself. The conventional methods of text selection do not work on Google Docs and that is why "Copy Rich Link" is not working on Google Docs. One way to make it work would be to import the GoogleDocsUtil library or at least a function which gives us the google doc.

[2020-03-11 09:59] Simpcyclassy commented on #1188
Okay Lit.

[2020-03-11 10:06] Simpcyclassy commented on #1024
Outreachy applicant here again. May I work on this, please?

[2020-03-11 10:24] GangaChatrvedi commented on #858
@ianb Youtube music does not seem to have "Your mix" as default so can you please explain what am I supposed to do in this case.

[2020-03-11 12:14] saucekode commented on #1166
@awallin when this is ready. Please, I would love to work on it. Thank you.

[2020-03-11 12:40] GangaChatrvedi commented on #1218
@Sav22999 Creating a custom wake word with picovoice is possible but only with words which are available in their existing vocab.

I could do it with **Hey Fire** and **Hey Fox**.

But **Hey Firefox** will need paid plan with picovoice.

[2020-03-11 12:43] Sav22999 commented on #1218
@GangaChatrvedi I think "Hey Firefox" would be the most natural wakeword. But Also "Hey Fire" (or "Hey Fox") would be better than actual wakewords.

[2020-03-11 12:46] Sav22999 commented on #1218
@GangaChatrvedi and "Hey Fire fox?" whould be a solution?

[2020-03-11 12:48] GangaChatrvedi commented on #1218
@Sav22999  Surely  **Hey Fire fox** will be possible. I am not sure about the sensitivity.

[2020-03-11 12:48] Sav22999 commented on #1222
I think the solution is to add just `name = ["firefox add-ons", "mozilla add-ons"]` in `searchServices.toml`

[2020-03-11 12:49] Sav22999 commented on #1218
You should try it ;) anyway, I think you should add "hey fire", "hey fox" and maybe "hey fire fox"

[2020-03-11 12:57] GangaChatrvedi commented on #1218
Sure. I will work on it.

[2020-03-11 14:04] alexandra-martin commented on #1202
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-11).

![3](https://user-images.githubusercontent.com/54401091/76425223-fd677b00-63b1-11ea-8247-40e3c21276ac.gif)

[2020-03-11 15:04] awallin commented on #1188
@saucekode Could you describe the use case/problem further and what you envisioned as the solution?

[2020-03-11 15:29] alexandra-martin opened #1235 ""Scroll to bottom" not working properly in a Youtube tab"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if needed)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar in a Youtube tab.
2. Say or write "Scroll t

[2020-03-11 15:34] saucekode commented on #1188
@awallin This happened when I first started using the extension. I was saying a particular word and it didn't recognize what I was saying, just kept getting the wrong output. So I looked for a button or something to prompt me to type the right word. The whole typing on the extension thing isn't obvious at the beginning.

So I suggest placing a button to prompt user input so they can type word if s

[2020-03-11 16:51] IkkyOdufade commented on #964
Hi @ianb . I'm having some issues with my code. So first, for deezer, you cant search without login or signing up, unlike spotify. So how do I go about it?

 Secondly, the firefox-voice extension on my firefox-nightly is not responding to voice commands again. It is giving me so many errors :(.
![Annotation 2020-03-11 174045](https://user-images.githubusercontent.com/47696080/76442037-98675180-63c

[2020-03-11 16:54] JanviMahajan14 commented on #1235
hey @alexandra-martin  i would love to work on this issue.

[2020-03-11 17:03] #1042 closed

[2020-03-11 17:55] #864 closed

[2020-03-11 18:00] #1207 closed

[2020-03-11 18:15] ianb opened #1237 "Save history"
We should save the history of everything you say to Firefox Voice.

This should happen in a new module in `extension/history.js`. `intentRunner.js` would add history items as part of the `runIntent()` function.

The history should be saved using [IndexedDB](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API). In other places we use `browser.storage`, but that's not very scalable for an

[2020-03-11 18:17] awallin commented on #1197
Here's a pass at the designs for routines including tabbed sidebar and layout for routines on a separate in-page tab. There's more to come for editing a specific routine and confirmations for delete.

Let me know if you have any questions?

![preferences-with-navigation](https://user-images.githubusercontent.com/428245/76449733-d301c780-6389-11ea-9d71-41b329d8b4db.jpg)

![preferences-routines](htt

[2020-03-11 18:24] awallin opened #1238 "[Preferences] Cleanup Data Collection section"
Two changes to clean up the design for the 'Firefox Voice Data Collection and Use' section.

* Reduce padding between first line 15px
* Replace checkboxes with toggle switches. Examples of these switches can be found in about:addons

![Preferences-data-collection](https://user-images.githubusercontent.com/428245/76450358-d9dd0a00-638a-11ea-9e05-7f0635028014.png)

[2020-03-11 18:32] OliviaRuyinZhang commented on #1237
Hi @ianb, I would like to give it a try. Could I get this one? Thanks

[2020-03-11 18:40] xlisachan commented on #1238
@awalin, can I work on this?

[2020-03-11 18:43] saucekode commented on #1238
@awallin can I please work on this?

[2020-03-11 18:45] saucekode commented on #1237
Hello @ianb can I please work on this. Thank you

[2020-03-11 18:50] nuraynab commented on #1238
Can I have this? @awallin

[2020-03-11 18:56] awallin commented on #1224
Attaching mockup for a cleaned up keyboard shortcut section. First mockup shows the new section (+ other changes to settings which are not in scope for this issue). Second shows the error state when an incorrect key is input.

![preferences-with-navigation](https://user-images.githubusercontent.com/428245/76453063-5d98f580-638f-11ea-9310-ec0c2a325d52.jpg)

![shortcut-error](https://user-images.git

[2020-03-11 18:58] awallin commented on #1238
Assigning to @xlisachan as she put in the first request.

[2020-03-11 19:24] #1220 closed

[2020-03-11 19:26] ianb commented on #1237
I'll assign to @OliviaRuyinZhang – we'll be adding more new issues today too, so keep an eye out

[2020-03-11 19:26] #1190 closed

[2020-03-11 19:28] ianb commented on #1197
Oh, I remembered that in the mockup I gave there is room for more than one name/nickname for a routine, but the code doesn't actually allow for that currently. So for now each routine should just have one name, and we can add multiple names in a followup.

[2020-03-11 19:29] #1211 closed

[2020-03-11 19:44] naima-shk commented on #1235
@alexandra-martin  Can i take this one please ?

[2020-03-11 20:01] SaumyaSinghal commented on #1189
@ianb, I don't think that this error is limited to "play SONG". I tried many commands and if the command is "search SONG on spotify" then also an error "Internal error: Error: No matching message handler" displays. Again, if the search command is made a second time then it works as intended. I also faced another error, if the first command (just after npm start when nightly opens) is "Play SONG" t

[2020-03-11 20:14] SaumyaSinghal commented on #1222
I already worked on #977 so can i work on this?

[2020-03-11 20:30] JanviMahajan14 commented on #1109
@ianb i am not getting how can hide the tab . I am doing
` const newTab = await context.createTabGoogleLucky(selection.text);
   const url = newTab.url;`
to get the required url that will turn the selection to link. But this always creates a new tab. Is there any way to resolve this.

[2020-03-11 21:12] saucekode commented on #1235
@alexandra-martin I believe why did is an issue is because YouTube fetches more videos in real time as you scroll down with cases like comments and related videos, so as the command is given out, the height isn't defined yet due to more videos being fetched. But 'scroll down' works perfectly.

[2020-03-11 21:37] #912 closed

[2020-03-11 21:44] ianb commented on #964
@IkkyOdufade You might want to check out what @melvin2016 did in #1192 for SoundCloud. The MusicPlayer class he added would be good to use for this too.

Are you having a problem where the microphone just doesn't seem to respond? That's something we've gotten reports about but haven't been able to understand a lot about. If so we'd be interested to know what's going on (I created [Bug 1621462](htt

[2020-03-11 21:50] ianb commented on #1109
@JanviMahajan14 For hiding the tab you'll have to make a change like:

[code]

You use use `pageMetadata.getMetadata` on the new tab, or you could just use `tab.url`. I think either is fine in this case – `getMetadata` sometimes gets a cleaner link, but with an I'm Lucky search you should get a clean link from Google anyway.

[2020-03-11 22:06] shreyajain25 commented on #905
Hey @ianb  just want to confirm if in this issue we need to highlight the tabs according to the query ?

[2020-03-11 22:15] ianb commented on #905
@shreyajain25 There are some query-related selection commands in `getMatchingTabs` that @danielamormocea added, you could probably use that same routine.

[2020-03-11 22:21] ianb commented on #1189
@SaumyaSinghal If it's an error about a message handler, then that means that the code is sending a message to the tab, but there are no scripts attached to the tab to listen. `content.lazyInject` adds scripts to the page, but if the page reloads or navigates somewhere new (on its own) then those scripts will be unloaded. Attempts to send messages then won't work. So that's one possibility: there'

[2020-03-11 22:25] ianb commented on #1188
This has been a particular problem for people developing, and so far no one has figured out typing on their own, so at least for that use case it would be helpful. But maybe for others – we used to have people sometimes type intents, but now we get none at all, and that might just be because no one knows.

[2020-03-11 22:28] #1206 closed

[2020-03-11 22:31] PascalUlor commented on #1090
@alexandra-martin I would love to thinker with this bug please

[2020-03-11 22:31] ianb commented on #1024
@Simpcyclassy this is a weird error we've seen in the wild, but I don't think we can track it down now. I'm hoping when we deploy the next version we'll get some more information on it, but until then it's not ready to be worked on.

[2020-03-11 22:35] IkkyOdufade commented on #964
Ok, thank you. I'll finish it tonight.

[2020-03-11 23:30] awallin commented on #1188
I propose these changes to make keyboard input more visible for developers.

In the settings menu educate users about the ability using the keyboard for typing input. See mockup.

Specifically for the developer build add messaging in the doorhanger which will appear on the first 5 triggers (matches current expansion behavior for new users). Clicking the link could either open the input box or link

[2020-03-11 23:35] xlisachan commented on #1238
@awallin thank you! I have made the requested changes in pull request #1242 (see above). Please review when you have a moment.

[2020-03-11 23:37] saucekode commented on #1188
Okay! This works fine. Can I work on this when the design is ready? I opened the issue. Thank you

[2020-03-11 23:42] Simpcyclassy opened #1243 "When there are two or more bookmarks with similar/same title, only the last saved bookmark gets opened"

[2020-03-11 23:43] saucekode commented on #1243
@ianb can I work on this, please? Thank you.

[2020-03-11 23:44] Simpcyclassy commented on #1243
@ianb may I  will work on this

[2020-03-11 23:46] Simpcyclassy commented on #1188
Great feedback there @awalin! @ianb I await being assigned. Thank you

[2020-03-11 23:55] Simpcyclassy commented on #1024
OK sir, that's fine. I am on the lookout for the new issues but while on it please could you review the new issue I added?

[2020-03-11 23:59] Simpcyclassy commented on #1218
@Sav22999 I think "Hey {user}" may give a better feel, what do you say @GangaChatrvedi ?

[2020-03-12 00:01] JM-Mendez commented on #962
@ianb I'd like to work on this issue. Do you have any intents in mind? I've been working in the `intents/search.js` part of the codebase the last few days, and it might be a good place for this feature depending on your requirements.

Questions off the top of my head:
1. Does the doorhanger stay open? (I would assume yes)
2. Do we prompt the user with follow up questions? (also yes)
3. What if the

[2020-03-12 00:02] Simpcyclassy commented on #1135
@ianb Can I investigate this please?

[2020-03-12 00:08] Simpcyclassy commented on #788
Have you been able to push @nash4j? If not try forking the repository and change origin to the forked repo. Push your code then create a PR. Let me know if this was helpful

[2020-03-12 00:13] Simpcyclassy commented on #816
@maitrella was this fixed? Please I will love to see what fixed it.

[2020-03-12 00:15] melvin2016 commented on #422
@ianb @alexandra-martin I have opened a PR #1244 . Please review.

[2020-03-12 00:22] Simpcyclassy commented on #776
I think how this could work is, if a play command is given, first it runs a block of code to check if there is an open playing tab, it pauses the tab then plays the new tab. It looks like something I will love to work on once I am done with my pending requests.

[2020-03-12 00:35] Simpcyclassy commented on #916
I am not sure I understand this @awallin but is it about adding a feature that restarts the browser when clicked on?

[2020-03-12 00:36] tonynguyen111997 commented on #1224
Great mockup, @awallin! Definitely gives it a cleaner look. Thank you for providing that.

@ianb Is this issue only asking for just the implementation of the functionality or is it expecting both the functionality and the new design? If possible, I would like to try implementing both the functionality and the new mockup design.

[2020-03-12 07:39] alexandra-martin commented on #1235
@saucekode I was thinking the same thing. But if the page is scrolled in the middle for example, the "Scroll to end" makes the page go to the top, so maybe it's trying to do that also when it's already to the top, but it just can't get any higher. Don't know if it's somehow interfering with "Scroll to top", since these commands work fine on other pages.

[2020-03-12 08:27] Manasa2850 commented on #404
@ianb I'm not able to see the result mentioned by @alexandra-martin .
When I search again, the previous song is not played. Instead, I get an error like this
![spotify](https://user-images.githubusercontent.com/43354059/76502007-46c6d180-6469-11ea-9b81-e3e011ebe539.png)

[2020-03-12 09:17] alexandra-martin opened #1246 "Google tab performs search for "Search" commands meant to open new result tabs"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed.
A Google tab is opened.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar in a tab, other than Google.
2.

[2020-03-12 09:35] alexandra-martin commented on #1132
@GangaChatrvedi thanks for the follow-up.
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-11).

![12](https://user-images.githubusercontent.com/54401091/76507308-415f8c00-6455-11ea-9aa0-f1c0379cd060.gif)

[2020-03-12 09:38] alexandra-martin commented on #166
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-11).

![13](https://user-images.githubusercontent.com/54401091/76507723-f09c6300-6455-11ea-880a-fbfc50c615c2.gif)

[2020-03-12 10:11] thecreepaccess commented on #1246
Assihn this bug to me

[2020-03-12 10:11] thecreepaccess commented on #1246
Assign this bug to me

[2020-03-12 10:39] saucekode commented on #1235
I see your point. @ianb, can I work on this?

[2020-03-12 10:46] saucekode commented on #1235
@alexandra-martin really, this is the developer playing safe. It's more like, since data is still being fetched, in this case, an undefined height, the right thing to do would be to scroll to top calculating the height from the middle which is defined. So scroll to end is synonymous to scroll to top in YouTube's case, I believe this would be the same for Instagram explore page too or even Facebook

[2020-03-12 11:53] alexandra-martin commented on #1235
Tested on Twitter, Facebook, Instagram, Reddit and 9gag and the command seems to work in these cases.

![18](https://user-images.githubusercontent.com/54401091/76518700-467a0680-6468-11ea-8dcd-2237df845bd6.gif)

To note though, once I click on a Reddit post, no "Scroll" commands seem to work.

![19](https://user-images.githubusercontent.com/54401091/76518828-7e814980-6468-11ea-9f85-9a803cbe7083.gi

[2020-03-12 11:58] saucekode commented on #1235
@alexandra-martin Okay, I see the issue. If you can assign this to me, then will fix it.

[2020-03-12 12:31] alexandra-martin opened #1247 ""Scroll" commands not working in opened Reddit posts"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)
Have an active Reddit tab opened and click on a Reddit post.

### STR:
1. Use the shortcut or click on the mic icon fro

[2020-03-12 12:54] alexandra-martin commented on #1211
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-11).

![21](https://user-images.githubusercontent.com/54401091/76523590-54805500-6471-11ea-8051-c28a1c82660d.gif)

[2020-03-12 13:02] saucekode commented on #1247
Hi, would want to work on this @ianb

[2020-03-12 13:59] alexandra-martin opened #1250 "[Intermittent] "Unmute" written command not working if tab is manually muted"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)
A playing Youtube tab is made active.

### STR:
1. Manually mute the Youtube page from the tab.
2. Use the shortcut or

[2020-03-12 14:01] Simpcyclassy commented on #1250
@ianb may I work on this please?

[2020-03-12 14:04] alexandra-martin commented on #1220
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-12).
"Unmute this page" command works as intended.
"Unmute" command is an intermittent issue, as described in #1250.

![27](https://user-images.githubusercontent.com/54401091/76529539-17b95b80-647b-11ea-94b4-d61c6e4b695d.gif)

[2020-03-12 14:07] vandnakapoor19 commented on #624
@ianb I did some research about Play previous command and in most of the blogs they have mentioned

**It starts the same song again.**

Please check it out once
https://ios.gadgethacks.com/how-to/use-siri-play-spotify-music-all-commands-you-need-know-0208428/

I've implemented this functionality on my local if we say "Play Previous", then It starts the song again.

Let me know if it is fine or I h

[2020-03-12 14:11] alexandra-martin commented on #1190
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-12).

![28](https://user-images.githubusercontent.com/54401091/76530163-03c22980-647c-11ea-8590-f66776c962a6.gif)

[2020-03-12 14:24] Simpcyclassy opened #1251 ""Unmute this page" opens a new tab for Chrome Web Store unMute extension"
**Prerequisites**:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)
A playing Youtube tab is made active.

STR:
Manually mute the Youtube page from the tab.
Use the shortcut or click on t

[2020-03-12 14:25] alexandra-martin commented on #862
Screenshots of installation process if `extensions.install.requireBuiltInCerts` pref is added and disabled.
Tested on Windows 8.1x64 with Firefox Release 74.0 and Nightly 76.0a1 (2020-03-11).

![Win 8 1 ff nightly 76-install with pref not added](https://user-images.githubusercontent.com/54401091/76531512-fe65de80-647d-11ea-9aeb-4ae226897dfb.png)

![Win 8 1 ff nightly 76-install with pref set to tr

[2020-03-12 14:30] Simpcyclassy opened #1253 ""Unmute page" opens a new tab for Chrome 64: How to Mute and Unmute Sites"
**Prerequisites**:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)
A playing Youtube tab is made active.

**STR**:
Manually mute the Youtube page from the tab.
Use the shortcut or click

[2020-03-12 14:57] alexandra-martin commented on #1251
Tested on Mac 10.15 and 10.15.03 with Firefox Nightly 76.0a1 (2020-03-12) and I couldn't reproduce.
It may be location depended.
@Simpcyclassy are using the Firefox Nightly en-US version?

[2020-03-12 14:58] alexandra-martin commented on #1253
Tested on Mac 10.15 and 10.15.03 with Firefox Nightly 76.0a1 (2020-03-12) and I couldn't reproduce.
It may be location depended.

[2020-03-12 15:01] alexandra-martin commented on #1220
#1251 and #1253 seems to be related.
These issues may be location depended.

[2020-03-12 15:01] Simpcyclassy commented on #1251
![image](https://user-images.githubusercontent.com/34488930/76535174-bdb89600-647a-11ea-8836-39ea284aea16.png)
This is the one I use

[2020-03-12 15:12] alexandra-martin commented on #1235
@ianb or @awallin can help with issues assignment.

[2020-03-12 15:13] alexandra-martin commented on #1246
@ianb or @awallin can help with issues assignment.

[2020-03-12 15:14] alexandra-martin commented on #1090
@ianb or @awallin can help with issues assignment.

[2020-03-12 15:16] alexandra-martin commented on #407
@ianb or @awallin can help you out with issues assignment.

[2020-03-12 15:48] #55 closed

[2020-03-12 15:50] ianb opened #1255 "Convert test/test.js to be a Jest test"
The test in test/test.js (from #1254) is a script, I think it should become a Jest test. This might require renaming it (e.g., to `integration.test.js`) and then wrapping it in `test()` and `expect()`.

[2020-03-12 15:52] ianb opened #1256 "Enable Selenium test in CI"
The test added in #1254 would ideally be run in CircleCI. [This example](https://github.com/mozilla-services/screenshots/blob/master/.circleci/config.yml#L85-L100) might be helpful.

Note there's no special way to test the CI except to upload a PR, so it's likely to fix this will require uploading PRs over and over until it passes.

[2020-03-12 15:53] ianb opened #1257 "Convert test/test.js to async/await"
The example function in test/test.js from #1254 uses `.then()` and `.catch()`, but could use `await` instead

[2020-03-12 16:00] #158 closed

[2020-03-12 16:09] xlisachan commented on #1255
@ianb, can I give this a try?

[2020-03-12 16:10] Simpcyclassy commented on #1257
@ianb I will like to take this task.

[2020-03-12 16:12] Simpcyclassy commented on #1256
@ianb I will love to take this as well. Thanks

[2020-03-12 16:17] awallin commented on #858
We should probably gracefully handle "Play <music service>" when no artist or song has been specified. I expect the user expects to have music played but it's not clear what they want to hear and the options will vary by platform.

I propose opening the services home page and trying to play the first playlist on the page. For example in YouTube Music I see 'Top 100 music' as the first playlist and

[2020-03-12 16:26] KeenWarrior commented on #1218
Hey {user} is not possible with pucovoice porcupine at present

[2020-03-12 16:27] #456 closed

[2020-03-12 16:28] melvin2016 commented on #624
I think you could use querySelector().click() to click 2 times.

[2020-03-12 16:28] ianb commented on #1188
I believe @Simpcyclassy has been looking for a next bug for a while so I'd like to give this to her

[2020-03-12 16:32] #422 closed

[2020-03-12 16:33] saucekode commented on #1257
@ianb currently, have my hands free. Would like to try this out

[2020-03-12 16:34] vandnakapoor19 commented on #624
@melvin2016  I am not sure why I have to click 2 times. Please let me know what will happen if I'll use querySelector().click().

[2020-03-12 16:36] #1238 closed

[2020-03-12 16:39] jofish commented on #1218
I'd recommend holding off working on this one. We're talking to Picovoice right now, and we'll resolve this in other ways. There's lots of other bugs we'd really appreciate your help with!

[2020-03-12 16:39] #1218 closed

[2020-03-12 16:40] awallin commented on #916
@Simpcyclassy This would be a feature that restarts the browser when the phrase "restart Firefox" is said.

[2020-03-12 16:44] awallin opened #1258 "[Intent] close window"
Based on telemetry users occasionally ask to "close all tabs" or "close this window" or "close window"

This should try to close the window but ensure the confirmation appears before actually closing the window.

[2020-03-12 16:44] saucekode commented on #1258
@awallin let me try this

[2020-03-12 16:46] naima-shk commented on #1258
@awallin  Can i take this one please  as i don't have any other issue ?

[2020-03-12 16:49] awallin opened #1259 "Add GitHub as bang search"
Users should be able to search for GitHub repos by saying "Search for <repo name> name on github" or "search GitHub for <repo name>"

This should leverage the existing bang search infrastructure.

[2020-03-12 16:50] saucekode commented on #1259
@awallin would really love to try this. Thanks

[2020-03-12 16:50] awallin commented on #1258
@saucekode go for it.

[2020-03-12 16:52] naima-shk commented on #1257
@ianb  Can i try this one please ?

[2020-03-12 16:53] liumichael commented on #1259
I can work on this

[2020-03-12 16:53] Simpcyclassy commented on #1257
@ianb could you check [this](https://github.com/mozilla/firefox-voice/pull/1260) out please?

[2020-03-12 16:55] awallin commented on #1224
@tonynguyen111997 Please work on both the functionality and the visual design. Thanks.

[2020-03-12 16:55] awallin commented on #987
Closing as this is a dup of #1224

[2020-03-12 16:55] #987 closed

[2020-03-12 16:58] awallin opened #1261 "Add alias for screenshot"
Add an alias for the existing screenshot feature when a user says "take a screenshot of the page"

[2020-03-12 17:00] Simpcyclassy commented on #916
Could you assign to me please @awallin

[2020-03-12 17:02] liumichael commented on #1261
Hi @awallin, can I take a shot at this?

[2020-03-12 17:03] awallin commented on #1261
All yours @liumichael

[2020-03-12 17:04] awallin commented on #1259
Giving this to @liumichael as @saucekode just had a couple assigned to her.

[2020-03-12 17:36] Simpcyclassy commented on #1188
Thanks sir

[2020-03-12 19:21] melvin2016 commented on #624
It will go to the previous song.

[2020-03-12 19:25] lelouchB commented on #620
@ianb  I would like to work on this

[2020-03-12 19:29] lelouchB commented on #314
@ianb  I would like to work on this

[2020-03-12 19:30] liubomirwm commented on #858
I'm not sure it's a constant URL, but it might be.

If you are logged in to YouTube Music, visit https://music.youtube.com/watch?playlist=RDDM and see if it loads the "Your mix" playlist. I have sent feedback to YouTube to make their playlists with permalinks.

[2020-03-12 19:31] vandnakapoor19 commented on #624
@melvin2016  Thanks for the reply. Currently, I am making changes in music.toml file, Where I am adding some commands.

![previous_fun](https://user-images.githubusercontent.com/45131874/76559682-fdc94a00-6475-11ea-8c31-c6edb06d73b2.png)

I am not sure how I can add a query selector. Could you please give me some idea where I can do this thing, or maybe I am missing something.

Let me know if we c

[2020-03-12 20:48] #1259 closed

[2020-03-12 20:53] #1261 closed

[2020-03-12 20:57] ianb commented on #1257
Fixed in #1260

[2020-03-12 20:57] #1257 closed

[2020-03-12 21:14] awallin opened #1266 "What's playing cleanup & improvments"
Follow on from #1111 there are some visual improvements that can be made along with education on other audio features that can be used. See attached mockups. A few details to note:

* As quickly as possible card should transition from checkmark with transcription to displaying the result.
* Favicon from tab playing audio should be used as an image.
* Add feedback and education section with the fol

[2020-03-12 21:18] ianb commented on #304
Check out this PR for SoundCloud to get an idea of how it can work: #1192

If you can, please try to avoid using English phrases when selecting elements, as these are likely to change for people in other countries.

I believe this requires an Apple ID, but maybe not a paid account.

[2020-03-12 21:18] AlejandroRdzLpz commented on #1266
Can I get this issue assigned, please? I'm an Outreachy applicant

[2020-03-12 21:18] ianb commented on #303
Check out this PR for SoundCloud to get an idea of how it can work: #1192

If you can, please try to avoid using English phrases when selecting elements, as these are likely to change for people in other countries.

[2020-03-12 21:23] AbrilAnchondo commented on #304
@ianb I would like to give it a try.

[2020-03-12 21:23] awallin commented on #1266
Go for @AlejandroRdzLpz

[2020-03-12 21:24] ianb commented on #624
I agree with @melvin2016, probably the best thing is just to click the previous button twice, though there's a danger that sometimes that might go back two songs if the current song hasn't played much. But we can think about that in a followup or something.

We could add a new intent "restart song" that clicked it once (though that doesn't seem very important, how often do people really want to re

[2020-03-12 21:24] ianb commented on #304
@AbrilAnchondo Sure

[2020-03-12 21:26] awallin opened #1267 "[Intent] Count my open tabs"
Based on telemetry we've seen people ask for the total number of their tabs by saying things like “count my open tabs” or “count how many tabs I have open” or “count my tabs”. I lean towards this being the total number of tabs on the current window but could be convinced it's total number of tabs on all windows?

The result should be displayed in the doorhanger matching attached mockups. Details t

[2020-03-12 21:28] xlisachan commented on #1267
@awallin can I work on this?

[2020-03-12 21:29] awallin commented on #1267
Go for it @xlisachan

[2020-03-12 21:36] ianb commented on #858
Actually the "right" thing to do here would be to add music.youtube.com as a new service, like Spotify or SoundCloud. Then "Play YouTube Music" would invoke the `music.unpause` intent.

[2020-03-12 21:38] ianb commented on #314
@lelouchB I think this is already fixed and we just forgot to close it.

[2020-03-12 21:38] #314 closed

[2020-03-12 21:39] melvin2016 commented on #624
@vandnakapoor19  I left a tip in the chat. I hope it helps!

[2020-03-12 21:42] ianb commented on #620
@lelouchB I think this is going to be too hard for you to test – I don't know of any better way than committing and pushing gh-pages with different config changes until it stop breaking.

[2020-03-12 21:43] awallin opened #1268 "[Intent] What music services do you support?"
People are asking what music services are supported. The results should be displayed in a card with the ability to set a default. See mockup for details. Of note:

* Music services support will be growing over time so the query should current the current status at the time of request.
* Clicking on an icon/name should set the default music service. A hint to this affect is displayed at the bottom

[2020-03-12 21:48] ianb commented on #1255
@xlisachan Sure

[2020-03-12 21:48] ianb commented on #407
@OliviaRuyinZhang Sure, you are assigned!

[2020-03-12 21:49] ianb commented on #1090
@PascalUlor You are assigned!

[2020-03-12 21:58] Simpcyclassy commented on #1268
Some neat UI work here, if by the time I am done with my pending tasks and this is not done please I will love to give it a shot.

[2020-03-12 21:59] awallin opened #1269 "[Intent] Hello"
People often say 'hello' to Firefox Voice. We should have a joy filled moment. See attached mockup.

Details include:
* Lionel Richie saying "Is it me your looking for?"
* Education to teach what else can be said: "Click mic and say ‘help’ for things to say"

![hello](https://user-images.githubusercontent.com/428245/76588780-2fa5d500-64a5-11ea-9f43-ad823bdedbb9.jpg)
![Lionel Richie](https://user-i

[2020-03-12 22:00] ianb commented on #1235
@saucekode This looks like a scroll problem that should get handled in #1245 or #1229

Oddly, `document.documentElement.scrollTo()` works on YouTube pages (which is the `<html>` element), but not scrolling the body.

[2020-03-12 22:02] ianb commented on #862
After some discussion, our plan to fix this is to just include instructions on the installation page, similar to what other extensions are doing, as noted in https://github.com/mozilla/firefox-voice/issues/862#issuecomment-586047630

[2020-03-12 22:09] ianb commented on #1250
@Simpcyclassy Sure, if you aren't able to reproduce it to fix it, please comment here

My guess is that in `muting.js` there is some kind of timing issue. It's possible that `temporaryMute` is muting the page while you speak, then when in `muting.unmute` we query for all audible tabs, we don't see the recently-muted current tab. Maybe additionally unmuting everything in `mutedTabIds` would fix thi

[2020-03-12 22:10] ianb commented on #1247
I'm pretty sure this is also related to #1229 and should be fixed with those

[2020-03-12 22:14] ianb commented on #404
@Manasa2850 So it looks like `spotify/player.js` has a very specific selector it is using, that probably works sometimes but not all the time. Or maybe it's broken all the time, though I don't think so.

You can try looking at that query, and figuring out what part is breaking it (e.g., `#searchPage` ?) and what the right selector would be. Ideally it should click the play button that shows up whe

[2020-03-12 22:16] ianb commented on #816
@Simpcyclassy I believe this is only partially fixed. Actually fixing it will be a bit harder, involving updating `api.js` which is privileged Firefox code. Otherwise we're not allowed to navigate to `about:home`

[2020-03-12 22:17] ianb commented on #788
@nash4j Yes, please fork this repository and push to your fork. From there you can make a pull request. People on the channel can also help you: https://chat.mozilla.org/#/room/#firefox-voice:mozilla.org

[2020-03-12 22:20] ianb commented on #1135
@Simpcyclassy It looks like you have several issues now, so leaving this for now.

[2020-03-12 22:24] awallin opened #1270 "[Intent] Test"
People often say 'test' to Firefox Voice. We should do a simple test, provide feedback and a next step if there are any issues. See attached mockup.

![test](https://user-images.githubusercontent.com/428245/76588664-c756f380-64a4-11ea-9bdd-5e7756d13e79.jpg)

[2020-03-12 22:32] ianb commented on #962
@JM-Mendez Sure, you got it; this is not a very easy bug but you've done some harder bugs already.

The obvious one is to allow someone to say "next results", so that would fit with search results.

The idea is while the popup was open, and if the intent asked for it, we would keep listening. Probably we'd only listen for a fixed number of things. So you could search for something and say "next re

[2020-03-12 22:33] ianb commented on #1243
@Simpcyclassy Sure. What do you propose should happen in this case? (I'm not sure myself)

[2020-03-12 22:34] ianb commented on #1205
@shreyaa-s we're making our own selection in this case, not selecting something in the document. But arguably what should happen is that we should pass the information back to `intents/clipboard/clipboard.js` and (in the background page) it should actually execute the copy command. Then it won't be running in someone else's page that may interfere with it.

[2020-03-12 22:36] #408 closed

[2020-03-12 22:40] ianb commented on #861
@awuorm Thanks for all your effort looking into this! Unfortunately I'm at a bit of a loss here, as I thought this would be the issue but it's... something else, and I don't know what.

@alexandra-martin Have you seen something like this, that is reproducible?

[2020-03-12 22:41] GangaChatrvedi commented on #1268
I would love to work on this issue

[2020-03-12 22:43] awallin commented on #1268
All yours @GangaChatrvedi

[2020-03-12 22:53] melvin2016 commented on #624
@vandnakapoor19
Findings:

- I found out that there is a delay between the first click and second click because after the first click there is a delay for the selector to be active. We could use the waitForSelector() function to wait for the selector to become active after the first

-  The previous button when clicked the first time will go 2 songs back if played within the time range of 0:00 and

[2020-03-12 23:06] saucekode commented on #1269
Lol @awallin can I take this? Sounds like fun

[2020-03-12 23:09] awallin commented on #1269
All yours @saucekode. I can't wait to see it in action.

[2020-03-12 23:22] melvin2016 commented on #1270
I would like to work on this.

[2020-03-12 23:27] melvin2016 commented on #303
Can i try this?

[2020-03-13 00:06] JanviMahajan14 commented on #1270
Hey @awallin Can i work on this issue ?

[2020-03-13 00:33] awallin commented on #1270
Go for it @JanviMahajan14

[2020-03-13 03:24] lelouchB commented on #620
@ianb okay, will look at another issue

[2020-03-13 03:50] lelouchB commented on #620
@ianb Actually i still think I can do it
Can I at least try and spend some time on it before moving ahead

[2020-03-13 04:02] awallin commented on #1270
Made a few changes to the content and visual layout for this to establish a template for Q&A cards used in #1266 #1267 and #1269. Specs for these cards are as follows:
* 100x100 image with
* 25px of padding between Question Transcript and image
* 35px of padding between image and Answer text

[2020-03-13 04:05] awallin commented on #1269
Made a few changes to the content and visual layout for this to establish a template for Q&A cards used in #1266 #1267 and #1270. Specs for these cards are as follows:

* 100x100 image with
* 25px of padding between Question Transcript and image
* 35px of padding between image and Answer text

[2020-03-13 04:06] awallin commented on #1267
Made a few changes to the content and visual layout for this to establish a template for Q&A cards used in #1266 #1270 and #1269. Specs for these cards are as follows:

* 100x100 image with
* 25px of padding between Question Transcript and image
* 35px of padding between image and Answer text

[2020-03-13 04:08] awallin commented on #1266
Made a few changes to the content and visual layout for this to establish a template for Q&A cards used in #1267  #1270 and #1269. Specs for these cards are as follows:

* 100x100 image
* 25px of padding between Question Transcript and image
* 35px of padding between image and Answer text