[2020-03-13 04:42] awallin commented on #962
Let's try these two use cases for follow up questions.

1. Next result
2. What music providers do you support > Set default by saying provider (see #1268)

Mock ups attached showing both uses cases along with a microphone in the popup to indicate it's listening.

![follow-up](https://user-images.githubusercontent.com/428245/76590462-68947880-64aa-11ea-8e09-a9ebd1ced5b6.jpg)

[2020-03-13 04:47] awallin commented on #1268
Made a few edits to the mockup to use a vertical list which will serve us better in the long run for other questions that result in multiple answers/choices. This card can serve as a template for future needs.

Also in #962 @JM-Mendez is trying to allow for follow up responses which this is a good example of. He can implement or point you to the proper implementation for this.

[2020-03-13 05:31] Simpcyclassy commented on #1250
Alright. I will try to reproduce once on my device.

[2020-03-13 05:37] Simpcyclassy commented on #816
This is an exciting project for me already, I love to delve deeper as I get a higher understanding of how everything works.

[2020-03-13 05:46] Simpcyclassy commented on #1135
OK, that's fine.

[2020-03-13 06:46] tonynguyen111997 commented on #1224
@ianb Just for clarifications, when you said "Escape would cancel changes" did we want to completely remove any keys that were previously pressed when the user presses Escape or clicks off the input field? In the gif below any keys that were pressed will be cleared if the user hits Escape.

![press-escape](https://user-images.githubusercontent.com/36907562/76596406-53741580-64bb-11ea-97d8-5c6c206b

[2020-03-13 07:15] JanviMahajan14 commented on #1270
thanks! one more what issues we need to check for this indent

[2020-03-13 10:26] lelouchB commented on #620
I think that there was a semi-colon missing in #a6859e6

[2020-03-13 11:31] alexandra-martin commented on #404
@Manasa2850 since this bug is pretty old, it's possible this was fixed along the way, or it may appear intermittently. The error you got is related to #1189.

[2020-03-13 12:16] alexandra-martin commented on #158
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-12).

![1](https://user-images.githubusercontent.com/54401091/76620052-ff0d7c00-6534-11ea-8e37-f7dfc3b82158.gif)

[2020-03-13 12:24] donalawa commented on #1267
Can i also work on this?

[2020-03-13 12:28] alexandra-martin opened #1275 "Command transcription for a long string is cut off in negative feedback display"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Write a long string (broken or unbroken) and press

[2020-03-13 12:35] naima-shk commented on #1275
@alexandra-martin  can i take this one please ?

[2020-03-13 13:26] alexandra-martin commented on #456
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-13).
When I first started to verify, I was able to reproduce the issue on Mac. After making several attempts and after opening several new Firefox profiles I can't reproduce the issue anymore. Will update, if I encounter the bug again.

![3](https://user-images.githubusercontent.com/54401091/76624466-0a18da00-653e-11ea-90e5-a3

[2020-03-13 13:46] alexandra-martin commented on #422
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-13).

![4](https://user-images.githubusercontent.com/54401091/76626356-b3ad9a80-6541-11ea-84ed-ee0d9ee487af.gif)

[2020-03-13 13:52] melvin2016 commented on #422
Thanks for verifying :) @alexandra-martin

[2020-03-13 13:55] alexandra-martin commented on #407
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-13).
Currently the issue is not reproducing anymore, probably due to #1244 that fixed #422.

![6](https://user-images.githubusercontent.com/54401091/76627060-f2902000-6542-11ea-9c76-18dddbf600b9.gif)

![5](https://user-images.githubusercontent.com/54401091/76626921-b492fc00-6542-11ea-8a2c-ee6df71346d3.gif)

[2020-03-13 14:08] alexandra-martin commented on #408
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-13).

![8](https://user-images.githubusercontent.com/54401091/76628022-bd84cd00-6544-11ea-899b-fea1ddc02923.gif)

[2020-03-13 14:56] awuorm commented on #1219
Hi @Sav22999 can I pick this task?

[2020-03-13 14:57] Sav22999 commented on #1219
You have to ask to @ianb

[2020-03-13 14:58] alexandra-martin commented on #861
@ianb the specific error could be reproduce if DRM is not enabled (#551), but don't know if it's the same case.
If DRM is enabled, I couldn't reproduce the problem after trying on Win 10x64 with Firefox Release 72.0 and Firefox Nightly 76.0a1 (2020-03-13) and Spotify set in "Česká republika", "Deutschland", "France" and "USA". At the moment #1189 may block me from reproducing the issue.

[2020-03-13 15:05] lelouchB commented on #234
@ianb Is this still open?

[2020-03-13 15:07] lelouchB commented on #68
@ianb Can you please elaborate on this issue?

[2020-03-13 15:09] awuorm commented on #861
@alexandra-martin @ianb , would handling this error to for instance display "cannot find spotify search field" in the doorhanger be a temporary fix for this bug instead of what is being displayed right now. Can I take this approach?

[2020-03-13 15:21] lelouchB commented on #358
@ianb Maybe this API can work
https://developers.google.com/calendar

[2020-03-13 15:24] alexandra-martin commented on #702
Verified on Mac 10.14 and Win10x64 with Firefox Nightly 76.0a1 (2020-03-13) and the issue is still reproducing.
Will change the title accordingly, because the previous example of 129 characters was not working anymore and it seems a smaller character string can reproduce the issue, as long as Google doesn't find any search results for that string. "gtyhdyhgtyhdyh" was used in the current example.

[2020-03-13 15:32] ianb commented on #358
@lelouchB I've been trying to avoid using APIs this project, as they quickly become pretty difficult: you have to have UI to enable the API, authenticate it, key storage, checking for expired keys or auth and UI to handle that, and we have to ship API keys and sign up for APIs.

Of course this is how everyone else does these integrations, but the success of this project relies on doing things a bi

[2020-03-13 15:33] #620 closed

[2020-03-13 15:36] alexandra-martin commented on #1275
@ianb or @awallin can help you out on that.

[2020-03-13 15:37] lelouchB commented on #358
@ianb Makes total sense. Okay
Will find another issue

[2020-03-13 16:21] ianb commented on #68
Well, for instance, Email Tabs could want to expose its functionality "email this page". The two extensions would have to work together for this to happen, though hopefully the Firefox Voice changes can be generic.

The way I imagine this working is that extensions would register themselves using [sendMessage](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/sendM

[2020-03-13 16:43] awallin commented on #68
Another example of real world usage would be an ad-blocker extension wanting to implement functionality that let a user "unblock" the specific website the user is viewing with an utterance such as "unblock" or "show ads on this website".

[2020-03-13 16:45] lelouchB commented on #68
@ianb @awallin I would like to work on this issue
Though it is hard I still want to try it
Please assign this to me

[2020-03-13 17:27] GangaChatrvedi commented on #1275
@naima-shk I think if the issue is not assigned to anyone you can work on that. And for this issue you just have to correct css for feedback header title and before changing anything in css please check if the same css is being used somewhere else.

[2020-03-13 17:56] JM-Mendez commented on #962
@awallin Thanks for the mockups. They've clarified the direction I should take. A few questions:

1. As far as UX, do you think the popup should auto close after a certain time (maybe configurable)?

I haven't tested the other intents, but the popup for the search intent closes shortly after confirming a successful command. I was thinking to set it longer to about 5-10 secs, although I'd need to f

[2020-03-13 18:32] melvin2016 commented on #353
@ianb Can i work on this?

[2020-03-13 18:54] ianb commented on #353
@melvin2016 You got it!

You'll need new intents, and then new handlers in the music service. Since it (probably) doesn't make sense to say "play album [query] on youtube" that should probably fall back to just adding "album" to the query and running a normal play.

[2020-03-13 18:57] naima-shk commented on #303
@ianb  Can i try this one please ? :)

[2020-03-13 18:58] ianb commented on #1275
@naima-shk You are assigned!

[2020-03-13 18:58] ianb commented on #303
@naima-shk You got it

[2020-03-13 19:11] ianb commented on #68
Cool. Please create an example extension in a new `examples/` directory (or subdirectory under `examples/`). You'll probably have to load the second extension using `about:debugging#/runtime/this-firefox` (Load Temporary Add-on...)

[2020-03-13 19:12] ianb commented on #234
This requires an update to the speaktome server (which is in another repo), so it's not a good one to do here.

[2020-03-13 19:30] vandnakapoor19 commented on #522
@ianb I'd like to work on this issue.

[2020-03-13 19:47] AlejandroRdzLpz commented on #1266
@awallin I was wondering if you could help me mentoring me through this project, I was fiddling with the code yesterday and today and I can't get to make some improvements. I mean, I was able to change some things, but i got lost into the transitions and the favicon extractor.

I sent you a message via Riot. Or if you can point me to another mentor, it would be awesome.

[2020-03-13 20:19] awallin commented on #1266
@AlejandroRdzLpz I'll hand off to @ianb for mentoring as he's more familiar with the code than I am.

[2020-03-13 20:31] awallin commented on #962
@JM-Mendez Great questions.

1. Yes, the popup should close after a certain time. Probably a few seconds but we'll have to experiment to know the exact timing. Maybe start with a standard of 5 seconds but as we add more we may find that it needs to be configure per intent, depending on the number of results or complexity of options.

 I really like your visible countdown timer idea to indicate how

[2020-03-13 20:33] awallin commented on #1267
@donalawa This is a straight forward issue. Keep an eye out for more 'good first issues' coming soon.

[2020-03-13 20:35] awallin commented on #1224
@tonynguyen111997 Escape would remove any keys input and revert to the original shortcut. Clicking out of the input field would save the new mapping unless it's incomplete in which case it would also revert to the original.

[2020-03-13 20:36] JM-Mendez commented on #962
@awallin awesome, thanks. This is more than enough to get me started.

I do believe you meant to attach a photo after

It shows as a broken link in my email, and doesn't show up at all in the browser.

[2020-03-13 20:40] JM-Mendez commented on #962
@awallin sorry forgot to add one question:

You said the mockup showed a hint. Does that mean the search result on the bottom shouldn't be an actual link? And if it is an actual link, then should I switch to "say previous to view" when I reach the last link?

[2020-03-13 20:43] awallin commented on #962
By 'hint' I was referring to the black section with text that says "Say 'next' to view". Yea, I guess switching to "Say 'previous' to view" makes sense on the last link? Not sure how often that occurs since links are based on the Google search results which is practically infinite?

The broken image link might be left over from me trying to attach an SVG for the icons. You got those right?

[2020-03-13 20:59] JM-Mendez commented on #962
Actually the way the search intent is currently implemented is by scraping the results from the page, which is usually around 6-10 depending on the engine. This means that there is no way to know the next results without the user navigating to them (each search engine displays them differently).

And yes, I have received both the mic and arrow svg assets.

[2020-03-13 21:25] xlisachan commented on #1267
@awallin Please take a look at the updates and notes I included in the pull request mentioned above when you have a moment. Thank you!

[2020-03-13 21:43] ianb commented on #1224
I was thinking it would work by clicking inside of it, then literally hitting (for example) the three keys `Shift+Ctrl+Comma`, and then it would save that shortcut and display it. If you click out then it would be the same as hitting Escape, probably leaving it whatever it was before.

[2020-03-13 21:46] ianb commented on #1266
@AlejandroRdzLpz Right now we have more Outreachy applicants than we can really handle, and have marked this project as closed to new Outreachy submissions. Of course you are welcome to contribute, but we're pretty much filled up for applicants.

[2020-03-13 22:34] Shulammite-Aso opened #1282 "A typo on the README.md file."
Here under *contributing* we have "To disclose potential a security vulnerability please see our security documentation":
![Screenshot from 2020-03-13 21-19-55](https://user-images.githubusercontent.com/48386390/76662668-8fb87c00-6576-11ea-989e-000b1479fd6e.png)

I'm thinking this should probably be "To disclose *a* potential security vulnerability please..." or "To disclose potential security vul

[2020-03-13 22:47] ianb commented on #1282
Sure thing, PR away!

[2020-03-13 22:49] ianb commented on #1102
Oops, it looked like #1116 fixed this but the ticket wasn't closed.

[2020-03-13 22:49] #1102 closed

[2020-03-13 23:08] LilyLME commented on #563
This issue seems to have been partially fixed. "Play test on youtube" does open youtube for different queries but not on a new tab.

[2020-03-14 03:08] awallin commented on #656
Closing this one as it's covered in #1269

[2020-03-14 03:08] #656 closed

[2020-03-14 03:17] #1267 closed

[2020-03-14 03:20] #551 closed

[2020-03-14 06:15] saucekode commented on #1266
@ianb and @awallin would love to try this out. Thanks

[2020-03-14 09:26] amandhamija98 commented on #397
Thank you, I will give this a go, given that I am a beginner, it might take me time.

[2020-03-14 11:57] danielamormocea commented on #955
@ianb  I would like to work in this issue; and I could also look into the followup questions issue and provide some help :)

[2020-03-14 15:44] fleur101 opened #1283 "Fix variable name in Writing an intent doc"
In the section Intent matching in the part Slots, it says in the example that `play [query]` puts everything after "play" into `content.slots.query`. From what I see in the code the name should be `context.slots.query`.
![изображение](https://user-images.githubusercontent.com/26025274/76684984-deb6ed80-6618-11ea-81c2-bc6b19f55e62.png)

[2020-03-14 16:15] Shulammite-Aso commented on #1282
Thank ya. I have just made a PR

[2020-03-14 17:43] #1283 closed

[2020-03-14 17:43] #1282 closed

[2020-03-14 17:49] ianb commented on #955
@danielamormocea Sure, this should use a similar approach to looking up the link as @JanviMahajan14 has done in #1279

[2020-03-14 17:58] ianb commented on #1266
@saucekode You got it

[2020-03-14 17:59] ianb commented on #522
@vandnakapoor19 Sure! There's been some design changes that might have effected this, so try to reproduce it first.

[2020-03-14 18:55] GangaChatrvedi commented on #702
@alexandra-martin I checked it again and i could not reproduce the issue. According to me, this issue has been resolved in PR #1263 .

[2020-03-14 19:22] vandnakapoor19 commented on #522
Sure, Thank you!

[2020-03-14 20:45] AbrilAnchondo commented on #304
@ianb I haven't been able to start working on this, you can assign this to another applicant able to work on it right away. Thanks.

[2020-03-14 20:55] xlisachan commented on #304
@ianb, can I give this a try?

[2020-03-14 21:08] LilyLME commented on #304
Would like to look into this issue too.
@xlisachan, we could both give it a try

[2020-03-14 21:59] IkkyOdufade commented on #1193
Hi Ian, I really dont know how to tackle this issue. Can you give me some pointers? Thank you.

[2020-03-14 22:03] fleur101 commented on #808
@ianb  Do I understand correctly that I should work in tabs.js and tabs.toml file and use browser.storage.sync for storing tab names (similar to intent names)?

[2020-03-15 00:52] ianb commented on #1193
@IkkyOdufade You're going to change `build:jsx` so it builds into a different directory (e.g., `build/`). Then after it's built files there, the simple thing would be to copy all the files at once, but the slightly better thing would be to create a script that copies the files only if they content has changed. `bin/script-utils.js` has an example of writing a file only if the content has changed,

[2020-03-15 02:44] ianb commented on #808
@fleur101 it could probably go in `nicknames.js` since it's about naming more than tabs. `browser.storage.sync` would be the right place.

I'm not actually sure where all a named tab would be used, it will require a bit of creativity to think it through. It might require modifying some existing intents. It would be fine to start small with just a couple updated intents.

[2020-03-15 03:41] vandnakapoor19 commented on #1219
@ianb  I'd like to work at this point.

[2020-03-15 03:52] vandnakapoor19 commented on #483
@ianb I'd like to work on this issue.

[2020-03-15 04:04] vandnakapoor19 commented on #566
@ianb I'd like to work on this issue.

[2020-03-15 10:42] shreyaa-s commented on #1246
Hey @ianb can I work on this one?

[2020-03-15 10:50] shreyaa-s commented on #1205
Hey @ianb
I'm stuck on this one. I've done extensive research for alternate ways to copy, the structure of google docs and google translate pages (in reference to #1117 ), gone through the code several times but I can't seem to figure out why it doesn't work. I've tried using googleDocs API, went through window and document variables and tried the clipboard API on mozilla firefox but still no luck

[2020-03-15 18:26] ianb commented on #1205
@shreyaa-s I was thinking you could move `copyElement` out of `clipboard/contentScript.js` and into `clipboard/clipboard.js`

So for instance you might change it to be:

[code]

And then in clipboard.js:

[code]

[2020-03-15 18:28] ianb commented on #483
@vandnakapoor19 You got it

[2020-03-15 19:25] JM-Mendez commented on #1268
@GangaChatrvedi I'm currently working on adding the vocal follow up responses (it will be the component below "did we get this right"). Currently the recorder stops listening after the initial run of the intent, so I'll have to refactor that part of the codebase to listen for follow up responses and respond accordingly. I'm don't know how you plan to implement the fix for this issue, or if any of

[2020-03-15 19:30] GangaChatrvedi commented on #1268
@JM-Mendez I would love to collaborate and make it as awesome as possible

[2020-03-15 19:36] JM-Mendez commented on #1268
@GangaChatrvedi awesome! I invited you to a chat on matrix. We can pick back up there.

[2020-03-15 21:22] xlisachan commented on #995
@ianb I tried to solve this issue, but keep getting the same error (details are included in the pull request above). If you could please provide some guidance during the week (apologies for commenting on the weekend!!), it would be greatly appreciated!

[2020-03-15 21:29] danielamormocea commented on #955
@ianb  I have a question regarding this issue; The user should say something like "lookup car" and I should do a GoogleLucky search on a car and preview the result (like having an intent for lookup [something])? or the user selects some text (e.g. the text 'car'), and then I search for it in the current tabs / do a GoogleLucky search (using #1279 ) with that text and preview the result? or both ma

[2020-03-15 21:30] JM-Mendez commented on #1246
For context, this was a regression I knowingly introduced in PR #1180 by not fully understanding the original functionality. The fix is localized and I know where it is if this needs to go out soon, since it broke existing functionality. But I wouldn't mind if someone else got a chance to work it.

[2020-03-16 04:47] awallin commented on #76
Adding details and mockups to implement a native timer.

* Timer can be set with phrases such as "set a timer for 5 minutes", "10 minute timer", "start a timer for 20 minutes"
* A visual is displayed in the doorhanger when being set
* Only one timer can be set at a time.
* When timer is complete the doorhanger opens with an open mic to allow for follow up commands such as "stop" or "reset." See #9

[2020-03-16 04:50] awallin commented on #76
@danielamormocea this one is a bit more advanced. Might be a good fit for you, if you're interested?

[2020-03-16 08:24] shreyaa-s commented on #1205
What does this do?
Does this stops the further execution of script till the copy link command is finished?
[code]

[2020-03-16 08:28] shreyaa-s commented on #1205
When is logged `toCopy`, it returned undefined.
I guess I should check `copyType` instead of `toCopy.type` for rickLink

[2020-03-16 08:45] shreyaa-s commented on #1205
Where does this function return value to?
Or how can i access the value returned by this function?
[code]

[2020-03-16 11:29] GangaChatrvedi commented on #1275
@naima-shk are you working on this issue?

[2020-03-16 11:42] GangaChatrvedi commented on #76
@awallin I was already working on this if that is alright.

[2020-03-16 11:59] danielamormocea commented on #76
@awallin  yes, very; I was actually thinking about it last week

[2020-03-16 12:12] shreyaa-s commented on #1246
When I tried to reproduce the issue, what I observed was that when i made a search the results opened in new tab. But if I were to again give a voice command for a search then the results would open in the same tab and not in a new one. Is this the issue, @ianb @alexandra-martin ?

[2020-03-16 12:20] GangaChatrvedi commented on #76
@danielamormocea Okay. Please go on.

[2020-03-16 12:34] JM-Mendez commented on #1246
@shreyaa-s yes that's the issue. It should always open a new search tab, while also remembering the search results for previously opened tabs.

[2020-03-16 13:43] alexandra-martin commented on #551
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-16).

![1](https://user-images.githubusercontent.com/54401091/76764039-db4c6f00-679c-11ea-80b0-4f7a89efc97c.gif)

[2020-03-16 14:18] shreyaa-s commented on #1246
Does it work this way:
I search for something. Now I'm in a google page. I search for something else while in this tab, should it overwrite the previous search results with the new search results? Or should they open in a new tab?
If it is the second one, i.e. each result opens in a new tab, then what is the use of this part of code in `search.js` :
[code]
Is it required in any other function that

[2020-03-16 14:33] danielamormocea commented on #76
@awallin  I was thinking about making something like this for checking the weather (of the current day as the prompt is fairly small) also? If you consider this a useful feature I could make an issue and work on that too;

[2020-03-16 15:23] JM-Mendez commented on #1246
@shreyaa-s it should work the second way you mentioned: always open results in a new tab.

I called `openSearchTab()` because I erroneously based my changes on how the if branch `buildSettings.android` works, which calls `performSearch()`.

Now I believe this is because of the way the firefox browser works in android, and is not intended to be used for desktop. I'm not sure if that's true, but I d

[2020-03-16 15:30] naima-shk commented on #1275
@GangaChatrvedi  Sorry , I started it  today because i worked on another issue for last 3 days.

[2020-03-16 15:59] awallin commented on #76
@danielamormocea Yes, a native weather feature would be nice. I'll put together a mockup and we can see who is available to work on it.

[2020-03-16 16:23] awallin opened #1297 "Improve positive feedback confirmation"
Positive feedback interaction (clicking smile) should not close the content in the doorhanger. Instead it should confirm the submission at the bottom of the doorhanger. Reported here: https://github.com/mozilla/firefox_voice_community/issues/333

Mockup needed.

[2020-03-16 16:35] awallin opened #1298 "Close active tab alias"
As reported by a user "close active tab" and "close the active tab" should work as an alias for "close tab"

[2020-03-16 16:40] xlisachan commented on #1298
@awallin can I work on this?

[2020-03-16 16:47] awallin commented on #860
Another report from a user. Sounds like the mic works on other apps such as MIcrosoft Word but not in Firefox.
https://github.com/mozilla/firefox_voice_community/issues/323

[2020-03-16 16:56] awallin opened #1299 "[Bang search] Linguee"
Based on a user feedback they would like to be able to Linguee by saying things like "search 'fox' with linguee."

There is a bang search for Linguee so it should be a straight forward implementation.
https://duckduckgo.com/bang?q=Linguee#

There's some more advanced implementations we could consider such as asking "say 'fox' on linguee" which would auto play the first audio file

[2020-03-16 16:57] IkkyOdufade commented on #1193
Hi Ian, I've been trying to create a pr with just the npm build corrections but I cant. The deezer files keep appearing. I tried the git checkout origin/branch -- file but it kept saying error: pathspec 'deezer.js' did not match any file(s) known to git. Please help. Thank you.

[2020-03-16 17:44] annlinros commented on #1299
Hi @awallin  I would like to take up this issue..

[2020-03-16 17:44] IkkyOdufade commented on #1299
Hi @awallin can I work on this?

[2020-03-16 17:58] saucekode commented on #1298
Oh sorry @xlisachan , saw your comment after this, super sorry

[2020-03-16 18:08] awallin commented on #1298
@xlisachan there will likely be a similar alias issue again, I'll assign it to you.

[2020-03-16 18:13] naima-shk commented on #1299
Hi @awallin  Can i take this one please ? :)

[2020-03-16 18:19] xlisachan commented on #1298
@awallin no worries, I have a question about the issue though. I don't believe the word "active" is supported for the `tabs.close` intent, is it necessary? If so, I included it in my pull request. If not, I will remove it. Please let me know when you have a moment, thank you!

[2020-03-16 18:39] vandnakapoor19 commented on #522
@ianb I’m not able to reproduce the above issue and It is working perfectly fine.

System Configuration: -
OS: Windows 10x64
Firefox Nightly: Version 75.0a1
Node: v12.16.1

Back Button

![back](https://user-images.githubusercontent.com/45131874/76789759-d931e280-6793-11ea-8c52-b12cd88518e1.gif)

Close Button

![lion search](https://user-images.githubusercontent.com/45131874/76789802-ef3fa300-6793-

[2020-03-16 18:42] vandnakapoor19 commented on #624
@ianb I've implemented the functionality and tested it on my local server. Have a look once and let me know in case anything is missing.

Thanks

[2020-03-16 19:07] awallin commented on #1299
@annlinros give this a shot. The first part should be easy. I'll be curious what you think about adding an intent to auto play the audio with a search on Linguee.

[2020-03-16 19:09] GangaChatrvedi commented on #1275
@naima-shk No need to say sorry to me. Take as much time as you need. I was just trying to ask if you need any help in this.

[2020-03-16 19:50] dave-ok commented on #1115
@ianb I have made a draft PR #1305 towards this. Please, do check it out. Though, I suspect the slideshow might need some further styling

[2020-03-16 20:01] naima-shk commented on #1275
@GangaChatrvedi  Thanks for asking me. :)

[2020-03-16 20:16] OliviaRuyinZhang commented on #1237
Hi @ianb, I have finished developing a framework for indexedDB. Now, we can create table(s) to store any history we would like to store on browser. I modified intentRunner.js as well to save everything users say to Firefox Voice using indexedDB.

I did not develope a UI to display the history to users yet since you said that would be the next step. Furthermore, I would like to see if there's any f

[2020-03-16 20:36] naima-shk commented on #1275
@GangaChatrvedi  Were you talking about this CSS  folder?
![image](https://user-images.githubusercontent.com/28563415/76797551-9ef62e80-67ef-11ea-8586-4ea7d5fa3a20.png)

[2020-03-16 20:47] #1258 closed

[2020-03-16 21:56] IkkyOdufade commented on #1193
Hi @ianb I would like to tell you how I have gone with this project since my pr is still not working properly. I changed the npm run build:js command, to create a new folder inside build, a lib folder. But the files being created are the ones inside eslintignore file. Is that how it is supposed to work?

[2020-03-16 22:37] #1197 closed

[2020-03-16 22:39] ianb opened #1310 "Add content to empty nickname/routine screen"
If you don't have any routines, you get a preference page like this:

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/44390/76805540-0b9c0980-67ad-11ea-8423-21b8c0fafc83.png">

This doesn't seem right. Also it doesn't render great on a smaller screen (as shown in the screenshot). And there's an implied footer, but nothing there (maybe we should pull the footer out of t

[2020-03-16 22:48] IkkyOdufade commented on #396
Can I work on this @ianb ? :)

[2020-03-16 22:53] awallin opened #1311 "Native weather"
Weather is a popular request for many voice assistants but users often have preferred weather services. Providing a native weather integration enables users to get a forecast from their preferred service.

* Similar to the music preference a user user should be able to set their weather service in  settings.
* When making a weather request such as "What's the weather in San Francisco" the results

[2020-03-16 22:54] awallin commented on #962
@JM-Mendez #1311 is another possible use for follow up questions.

[2020-03-16 22:59] xlisachan commented on #1311
@awallin , can I be assigned to this?

[2020-03-16 23:03] awallin commented on #1311
Go for it @xlisachan. Check in with @JM-Mendez about the implementation for followup questions.

[2020-03-17 03:14] JanviMahajan14 commented on #1270
@awallin Can you tell me what needs we are supposed to check to perform this check successful

[2020-03-17 04:45] awallin commented on #1270
@JanviMahajan14 originally I was thinking we'd check for a internet connection and that the mic is getting audio (non zero reading) but if those are problems I don't think they user will even get to point where a card can be rendered. So, might as well just display the card without a check unless @ianb can think of anything?

[2020-03-17 07:30] naima-shk commented on #1275
@GangaChatrvedi
![image](https://user-images.githubusercontent.com/28563415/76832372-02617a00-684b-11ea-8fa2-7021f6317c24.png)
Were you talking about this CSS file ?

[2020-03-17 09:01] shreyaa-s commented on #1246
@JM-Mendez should i refactor the function and pass a new tab every time? The `buildSettings.android` shows an internal error on desktop.

[2020-03-17 09:41] shreyaa-s opened #1312 "Tests failing"
`npm run test` fails on the master branch

There are following two errors,and commit in which one of the error was introduced in 28c7f1b9a615d659d05fa4c61fe45f79978791cb .
![Screenshot_20200317_150449](https://user-images.githubusercontent.com/55884943/76843242-8161ad00-6861-11ea-96f7-ff83215ea80e.png)

[2020-03-17 11:51] naima-shk commented on #1275
@alexandra-martin    Can you please elaborate more  me about "Negative feedback doesn't have display issues" ( Expected result).

[2020-03-17 12:33] alexandra-martin commented on #1275
@naima-shk sure. As an expected result, the user interface should not cause visual issues or any confusions for the user. When someone has typed a pretty long command and wants to give a negative feedback (to improve future commands and features), the user should clearly see the command transcription for which the feedback is given, or at least a shortened version of it. Currently the command tran

[2020-03-17 13:16] naima-shk commented on #1275
@alexandra-martin  Alright, Thanks for the explanation. So I have to correct CSS header. Right ?
![image](https://user-images.githubusercontent.com/28563415/76859588-6d2aa980-687b-11ea-9033-0367912ae0e1.png)

[2020-03-17 14:00] alexandra-martin opened #1315 ""Close all tabs" closes active tab"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
Several tabs are opened.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Close all tabs" command.

### Expected result:
Firefox windows tries to close and a confirmation to close

[2020-03-17 14:07] JanviMahajan14 commented on #1315
Hi @alexandra-martin I would like to work on this issue. Pls assign this to me.

[2020-03-17 14:14] alexandra-martin commented on #1298
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-17) and the "Close active tab" and "Close the active tab" performs searches (either opens a Google card, or opens a stackoverflow [link](https://stackoverflow.com/questions/2076299/how-to-close-current-tab-in-a-browser-window) in a new tab).

![2](https://user-images.githubusercontent.com/54401091/76864509-d9041680-6869-11ea-

[2020-03-17 14:20] alexandra-martin commented on #1315
@JanviMahajan14 @ianb or @awallin can help you with that.

[2020-03-17 14:23] ianb commented on #1315
@JanviMahajan14 You got it. You should either just not close the active tab, or close everything and then open `about:blank`

[2020-03-17 14:28] JanviMahajan14 commented on #1315
Thanks @ianb  I am working on this.

[2020-03-17 14:30] xlisachan commented on #1315
@ianb I think the pull request #1313 that @shreyaa-s submitted this morning would solve this and #1298

[2020-03-17 14:46] #1312 closed

[2020-03-17 14:49] ianb commented on #1315
It looks like we don't actually have any "close all tabs" intent at all. We have a test example, but that example only works because "all" is ignored as a stopword (one of the words in `english.toml`).

There's a "close all selected tabs" intent. I'm not sure we want a "close all tabs" intent, as it's not a sensible thing to want to do. You can close the window (which would close the tabs) or exit

[2020-03-17 14:51] ianb commented on #1270
I think just showing the card is enough. They are testing if the mic works, and if the intent runs then it must have worked.

I'd suggest it match `(this is | ) (test | testing) (test | testing |) (test | testing |)`

[2020-03-17 14:56] #1109 closed

[2020-03-17 15:01] ianb commented on #1193
@IkkyOdufade If things get really messy, sometimes I just check out a new copy of the repository, or do `git reset --hard origin/master` (after you copy all your changed files someplace safe!)

What have to changed `build:jsx` to be? It should probably be something like `babel --relative --out-dir build/ --ignore gh-pages '**/*.jsx'` and then there should be files like `build/extension/options/opt

[2020-03-17 15:03] xlisachan commented on #1298
@alexandra-martin I think this issue can be closed again, there was a pull request that was just approved and merged. Can you please confirm?

[2020-03-17 16:02] alexandra-martin opened #1319 ""Close window" closes Firefox window without confirmation"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
Several tabs are opened.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Close window" or "Close this window" command.

### Expected result:
Firefox window tries to close and a co

[2020-03-17 16:05] #1255 closed

[2020-03-17 16:08] shreyaa-s commented on #1319
hey, can I get this one? @ianb

[2020-03-17 16:13] alexandra-martin commented on #1298
@xlisachan thanks for the heads up. Yes, it seems that pull request solved the issue.
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-17).

![4](https://user-images.githubusercontent.com/54401091/76876577-cd6d1b80-687a-11ea-9769-50f237224b0c.gif)

[2020-03-17 16:28] naima-shk commented on #1319
@alexandra-martin  can i take this one please?

[2020-03-17 16:30] awallin opened #1321 "Add examples"
Add these examples so they'll appear randomly in the doorhanger.

* Find spaghetti on page
* Count my open tabs
* Open downloads

[2020-03-17 16:36] xlisachan commented on #1321
@awallin, can I work on this?

[2020-03-17 16:49] naima-shk commented on #1321
@awallin  can i take this one please ?

[2020-03-17 16:51] awallin commented on #1321
Go for it @naima-shk

[2020-03-17 17:12] awallin opened #1322 "Find on page clean up"
A few improvements to make to the find page page intent #1240.

* Improved layout and visuals for card display as seen in mockups.
* Follow up response to allow 'next' and 'previous' utterance for navigating between matching phrases. See #962

![find-on-page](https://user-images.githubusercontent.com/428245/76882357-c5d85300-6837-11ea-9c65-07c5a32497ad.jpg)

[Zap - No result.svg.zip](https://githu

[2020-03-17 17:14] awallin commented on #1322
@NoelyMarques would you be interested in this one?

[2020-03-17 17:19] naima-shk commented on #1321
@awallin can you provide me  more details  to reproduce it please ?

[2020-03-17 17:21] awallin commented on #1321
This is adding those phrases to the existing list of examples that is displayed in the doorhanger/popup to educate users about the things they can say.

[2020-03-17 18:09] shreyaa-s commented on #1205
hey @ianb i'm still stuck on this one. give it a read when you have a moment. Thanks!

[2020-03-17 18:29] NoelyMarques commented on #1322
Hi @awallin
Yes, I am!

[2020-03-17 18:40] IkkyOdufade commented on #1193
Oh ok. I actually changed it to `babel --out-dir build/lib --copy-files --ignore gh-pages '**/*.jsx'  && node bin/build-jsx.js`. It compiled 9 files into the lib folder. Thank you for your help. Making git work like you want it to is hard sometimes. I have to improve my knowledge on git. 👍

[2020-03-17 19:18] saucekode commented on #1319
@alexandra-martin I worked on the close window intent. I don't think it would be displaying a text because it's closing the window. The display text is indeed there. Try opening two window browsers to test. Close one browser window, you'd see the display text. Thanks

[2020-03-17 19:35] YufeiCui commented on #1237
https://github.com/mozilla/firefox-voice/pull/1303

[2020-03-17 19:42] awallin commented on #1322
Great. It's yours.

[2020-03-17 20:37] #1059 closed

[2020-03-17 21:24] #557 closed

[2020-03-17 21:37] #964 closed

[2020-03-17 22:03] saucekode commented on #1319
@alexandra-martin fixed the issue

[2020-03-17 23:25] IkkyOdufade commented on #493
Hi, @ianb . Can I work on this? I have been wanting to understand what intents are and I think this would help.

[2020-03-18 01:46] vandnakapoor19 commented on #624
@ianb  I have fixed both the issues. Have a look.

[2020-03-18 02:51] vandnakapoor19 commented on #483
@ianb I am checking this issue. I'd like to explain the current functionality. Right now when I write an "Unmute/mute" command. It is working on all the tabs.

![unmute](https://user-images.githubusercontent.com/45131874/76920395-c3aade80-68a1-11ea-98cf-c3092bca88c9.gif)

Give me detailed information about how it should work?

[2020-03-18 03:01] vandnakapoor19 commented on #1235
@ianb I'd like to check this issue.

[2020-03-18 03:04] vandnakapoor19 commented on #816
@ianb I'd like to check this issue.

[2020-03-18 03:04] vandnakapoor19 commented on #723
@ianb I'd like to check this issue.

[2020-03-18 03:05] vandnakapoor19 commented on #690
@ianb I'd like to check this issue.

[2020-03-18 09:39] LilyLME commented on #723
@ianb can I work on this please :)

[2020-03-18 09:45] LilyLME commented on #493
Hey @ianb, can I have this?

[2020-03-18 12:21] alexandra-martin commented on #1267
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-18).

![1](https://user-images.githubusercontent.com/54401091/76960090-71aa9d00-6923-11ea-9a77-834314ed56a8.gif)

[2020-03-18 12:38] alexandra-martin commented on #1261
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-18).

![3](https://user-images.githubusercontent.com/54401091/76961494-1af29280-6926-11ea-876d-a520601efb55.gif)

[2020-03-18 13:29] alexandra-martin opened #1326 ""Paste" command not working in Google Docs"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
A Google Doc tab is opened.
The tab that the user wants to copy from is made active.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write any "Copy" command, e.g. "Copy full screenshot", "C

[2020-03-18 13:34] Shulammite-Aso commented on #1326
I could take a look at this

[2020-03-18 13:59] alexandra-martin opened #1327 ""Copy image" command not copying pictures in Google Docs or other related tabs"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
A Google Docs tab is opened.
The tab that the user wants to copy the image from is made active.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Copy image" command.
3. Go to the G

[2020-03-18 14:13] alexandra-martin commented on #1259
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-18).

![6](https://user-images.githubusercontent.com/54401091/76969594-42039100-6933-11ea-989a-f43c94419afe.gif)

[2020-03-18 14:34] alexandra-martin commented on #557
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-18).

![7](https://user-images.githubusercontent.com/54401091/76971607-12a25380-6936-11ea-83c1-c90747c9254a.gif)

[2020-03-18 15:33] alexandra-martin opened #1328 ""General", "Routines" links and "Routines" page are bigger compared to the rest of the "Preferences" page"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
The "Preferences" page is opened, by using the shortcut or clicking on the mic icon from the browser toolbar and selecting the "Settings" icon from the bottom left side of the doorhanger.

### STR:
1. Observe the "General" and "Routi

[2020-03-18 15:53] Shulammite-Aso commented on #1328
@awallin if this is not how this should look, i can quickly work on it.

[2020-03-18 16:55] alexandra-martin opened #1329 "Changes needed for the "Routines" page"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
The "Preferences" page is opened, by using the shortcut or clicking on the mic icon from the browser toolbar and selecting the "Settings" icon from the bottom left side of the doorhanger.

### STR:
1. Click on the "Routines" link, fr

[2020-03-18 17:02] #1213 closed

[2020-03-18 17:16] ianb commented on #493
I don't think we have a clear implementable design on this. @awallin do you have thoughts?

My one thought is that we'd add some space in the popup where we could add a bit of text (or maybe use the `eduText` that was recently added). When some keyword is detected, in addition to whatever intent is executed, we'd also show a message about something else you could do.

For instance, you say "organi

[2020-03-18 18:00] #624 closed

[2020-03-18 19:04] awallin commented on #690
Go for it @vandnakapoor19

[2020-03-18 19:09] awallin opened #1331 "Feedback link in doorhanger is not centered"
The feedback link at the bottom of the doorhanger should be center aligned to the width of the popup. See screenshot.

![feedback-not-aligned](https://user-images.githubusercontent.com/428245/76997903-5d5da480-6911-11ea-96c8-734e7be9f776.jpg)

[2020-03-18 19:10] awallin commented on #1331
@vandnakapoor19 this one is similar to #690 if you'd like to take a look at the same time?

[2020-03-18 19:36] Shulammite-Aso commented on #1329
Hi @alexandra-martin I think Issue  #1328  Is a part of this,  or are they different?
If they are the same and you intend to close the other, then I would like to work on this.

[2020-03-18 19:41] Shulammite-Aso commented on #1329
@ianb @awallin   I can start working on this after you give your thought on it.

[2020-03-18 20:46] vandnakapoor19 commented on #690
Sure! Thanks

[2020-03-18 20:48] vandnakapoor19 commented on #1331
Sure! Thanks

[2020-03-18 22:01] shreyaa-s commented on #1329
Hey, can I work on this one? @ianb @awallin
Thanks!

[2020-03-18 22:08] shreyaa-s commented on #1326
Hey, can I work on this one? @ianb @awallin
Thanks!

[2020-03-18 23:09] IkkyOdufade commented on #961
Hi @ianb can I work this? What if a new tab was opened with the results or a modal?

[2020-03-18 23:13] IkkyOdufade commented on #396
I know I’m yet to be assigned but I want to do a pr to show you what I have done on this.

[2020-03-18 23:16] fleur101 commented on #1327
I was able to reproduce the bug. May I try to fix it?

[2020-03-19 00:44] farhatcode commented on #1095
We can increase/decrease/turn on/turn off volume of HTML Audio/Video object, by using its Audio/Video DOM volume property. Just as the next/previous/play/pause controls are controlled for the web audio/video player in music services.
I can do this. Please assign it to me.

[2020-03-19 12:37] alexandra-martin commented on #1329
@Shulammite-Aso #1328 has a more general approach for the "Routines" page display (the page itself seems a bit zoomed in compared to other pages), while this report looks at more specific changes that need to be done. Hope that clarifies things.

[2020-03-19 13:52] lelouchB commented on #359
@ianb @awallin Is this still open??

[2020-03-19 13:52] alexandra-martin opened #1337 ""Play Green Day" displays "No results found for Green Day" in doorhanger"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
Make sure that no account is logged in on Spotify.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the Spotify "Play" command, e.g. "Play Green Day".

### Expected result:
Spotify open

[2020-03-19 14:21] alexandra-martin opened #1338 ""Play previous" not working for Youtube videos"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
Autoplay is enabled.
Have a Youtube tab open and active. Have several videos played in the tab, before performing the steps bellow.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the

[2020-03-19 14:30] alexandra-martin commented on #624
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-19).
For the Youtube tab, the "Play previous" seems to not work (see #1338).

![7](https://user-images.githubusercontent.com/54401091/77078169-e3a3e480-69fe-11ea-8c1b-f135e5b75ab6.gif)

[2020-03-19 14:40] alexandra-martin commented on #1337
The issue can be sometimes reproduced also if a Spotify account is logged in.

![9](https://user-images.githubusercontent.com/54401091/77079161-4184fc00-6a00-11ea-9095-2a858cb82d48.gif)

[2020-03-19 14:54] alexandra-martin opened #1339 ""Play Green day" gives "Internal error: Error: No matching message handler" if made in a blank new tab"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
A Spotify account is logged in and autoplay is enabled.
A blank new tab is opened and made active.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar in the blank new tab.
2. Say or write the Spotify "Pla

[2020-03-19 15:05] Sav22999 opened #1340 ""Internal error" for "Search something on Deezer""
![immagine](https://user-images.githubusercontent.com/32335378/77081539-18ae3800-69fb-11ea-9491-120b86e1cf54.png)

I'm not logged-in on Deezer, and if I say "Search something on Deezer" it returns an "Internal error".
I've tried also after the login (so when i was logged-in) and it returns anyway that error.

[2020-03-19 15:19] alexandra-martin commented on #1319
@saucekode it's a great fix, for when multiple windows are opened. But it can be nice, if the active window from where the "Close window" command is made is closed, so the user is not confused about it.

![12](https://user-images.githubusercontent.com/54401091/77082188-667b6e00-6a04-11ea-9760-4f07bfcec9df.gif)

This bug report however was aiming that when the "Close window" command is made, the "E

[2020-03-19 15:31] alexandra-martin commented on #1275
@naima-shk I'm not so good at coding (hoping I will upgrade that soon), but what @GangaChatrvedi said here seems like a good idea?

Good luck and sorry I couldn't have a better answer.

[2020-03-19 16:17] alexandra-martin opened #1342 "Toggle switches from "Firefox Voice Data Collection and Use" are depended to one another in some cases"
### Prerequisites:
Mic permissions are enabled.
"Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
The "Preferences" page is opened and made active (click mic icon and select "Settings" button from doorhanger).

### STR:
1. On the "Preferences" page scroll down to the "Firefox Voice Data Collection and Use" section.
2. Click on the toggle switches several

[2020-03-19 16:25] awallin commented on #359
Yes, @lelouchB. Are you interested in working on it?

[2020-03-19 16:26] GangaChatrvedi commented on #1342
I would like to work on it

[2020-03-19 16:27] lelouchB commented on #359
Yes, I am

[2020-03-19 16:33] lelouchB commented on #359
@awallin please assign me

[2020-03-19 16:37] lelouchB commented on #359
@awallin Thanks, Do you have any idea on how to proceed?

[2020-03-19 16:46] awallin commented on #359
@ianb might be able to offer suggestions?

[2020-03-19 16:48] lelouchB commented on #359
Cool, I'll wait then
 thanks

[2020-03-19 16:52] awallin opened #1343 "Follow link failure"
There's a bug in following a link. It apparently parses the intent properly but doesn't execute the action. See console output.

<img width="896" alt="Screen Shot 2020-03-19 at 9 49 50 AM" src="https://user-images.githubusercontent.com/428245/77092702-41b4d580-69c7-11ea-9253-db0bf52682f5.png">

[2020-03-19 16:58] ianb opened #1344 "Hide wakeword pref in prod"
The wakeword functionality shouldn't be exposed to prod builds, so we should just disable the pref for builds when `buildSettings.inDevelopment` isn't on.

It's good enough to just hide the pref on the preferences screen.

[2020-03-19 17:07] JanviMahajan14 commented on #1270
@ianb Can you tell me where I am supposed to add the indent ?

[2020-03-19 17:08] JanviMahajan14 commented on #1338
I would like to work on this issue.

[2020-03-19 17:29] GangaChatrvedi commented on #1342
@alexandra-martin I was taking a look at the code and then I cam back to look at the text corresponding to radio buttons.

These seems to be pointers that are being followed:
- Permission 1 is mandatory for permission 2.

Because of that. These are some generally unexpected are part of code:
- If both 1 and 2 are off. Turning on 2 will turn on 1.
- If both 1 and 2 are on. Turning off 1 will turn o

[2020-03-19 17:32] GangaChatrvedi commented on #1344
I would like to work on this.

[2020-03-19 17:32] IkkyOdufade commented on #1343
Hi @awallin . Can I work on this?

[2020-03-19 17:34] IkkyOdufade commented on #1340
Hi @Sav22999 . I added the functionality. I'll check this out.

[2020-03-19 17:35] IkkyOdufade commented on #1340
Even after the error, does the search query work? Does it return anything?

[2020-03-19 17:35] GangaChatrvedi commented on #1339
I would like to work on this issue

[2020-03-19 17:38] GangaChatrvedi commented on #1342
@ianb can you please verify what I said above is correct. If so, we can close this issue.

[2020-03-19 17:50] Sav22999 commented on #1340
@IkkyOdufade No, it opens https://www.deezer.com but nothing else

[2020-03-19 17:59] LilyLME commented on #1340
I think the error is coming from the music service itself or helper.js so because this happens with many of the services if you try a good number of times. A appears less when you wait the elements on the page.

[2020-03-19 18:38] IkkyOdufade commented on #1193
Hi @ianb . Do I still need to write a script to copy the files? After I changed the build:jsx, it compiles 9 files into a lib folder.

[2020-03-19 18:48] IkkyOdufade commented on #1340
@LilyLME , oh ok. I'll try that.

[2020-03-19 20:31] danielamormocea commented on #76
@ianb  @awallin  How should I announce that the timer has finished counting? Should I use a jingle? Or a warning?

[2020-03-19 20:33] awallin commented on #76
@danielamormocea There's a mockup showing the timer has finished. The one with "It's been 5 minutes"

[2020-03-19 22:59] espertus opened #1349 "The query "open the new york times" fails on Android"
Do either of the following to reproduce:

- Paste this URL into Firefox for Android (fennec): https://mozilla.github.io/firefox-voice/assets/execute.html?text=open+the+New+York+Times
- Open Firefox Voice and say "open the new york times"

In neither case is a new page opened.

[2020-03-20 08:47] amandhamija98 commented on #397
Hi @ianb , so from what I could understand, the current behavior of firefox-voice is that when a youtube tab is active and one says "open youtube", it does not open a new youtube tab, but uses the current one. However if one has an active youtube tab and says "play <song name>", it opens a new youtube tab to play a song.
If I am understanding the problem correctly, I am to fix the problem of openi

[2020-03-20 09:40] JanviMahajan14 commented on #915
@annlinros Can I work on this issue if you are busy with some other issues ?

[2020-03-20 13:47] LilyLME commented on #1343
@awallin let me have this please!

[2020-03-20 13:54] LilyLME commented on #1349
Hi @ianb, can I help you out with this one please :)

[2020-03-20 13:55] LilyLME commented on #1339
@ianb, @alexandra-martin I would be glad to work on this issue please

[2020-03-20 14:36] alexandra-martin opened #1351 "New routine doesn't complete all actions when made a second time"
### Prerequisites:
A fresh new Firefox profile is made and the extension is installed for the first time on the profile.
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
A routine is made that contains more than 1 action. (click mic icon next to the window's menu button, click the "Settings" button f

[2020-03-20 14:57] alexandra-martin opened #1352 "Google tab is reused if a routine has more than one "Search" command"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
A routine is made that contains more than 1 "Search" command. (click mic icon next to the window's menu button, click the "Settings" button from the doorhanger, click "Routines" from the left side of the "Preferences" page, click "+

[2020-03-20 15:15] LilyLME commented on #1351
@alexandra-martin please can I have this :)

[2020-03-20 15:21] LilyLME commented on #1352
@alexandra-martin Let me work on this too plssss

[2020-03-20 15:34] alexandra-martin opened #1353 "Commands that previously were displaying cards in doorhanger, now open new tabs"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write commands that should o

[2020-03-20 16:07] alexandra-martin commented on #522
@vandnakapoor19 yes, indeed this might have been resolved a while ago, since this report is so old. But can you try to make these commands again and see if you still get cards in the doorhanger? I currently have problems with that and can't verify.

[2020-03-20 17:35] awallin commented on #1343
@IkkyOdufade you have a couple issue already. @LilyLME give this one a try.

[2020-03-20 17:38] awallin commented on #1353
Verified. We should fix this before the next release.

[2020-03-20 17:40] awallin commented on #1339
Go for it @GangaChatrvedi

[2020-03-20 17:46] awallin commented on #1095
@farhatcode give it a try.

[2020-03-20 17:49] danielamormocea commented on #955
@ianb just a reminder for the above question

[2020-03-20 17:52] danielamormocea commented on #1352
@alexandra-martin  and also, I noticed that if the first intent is "open google" (and someone has more than 1 action in a routine), the other actions won't execute;

[2020-03-20 18:32] GangaChatrvedi commented on #1353
@awallin I would like to work on this issue

[2020-03-20 18:41] farhatcode commented on #1095
@awallin I'm working on it.
Right now I'm adding volume controls for youtube web player by adding a new intent to adjust volume.
Increase or decrease volume are fine. But whenever I have to `mute`/`unmute`. The utterance `(mute | unmute)` is caught by `muting.muteTab`/`muting.unmute` intent. This intent mutes/unmute the tab, sound vanishes but the web player's mute/unmute buttons don't reflect tha

[2020-03-20 18:49] farhatcode commented on #1095
Do you think @awallin we should consider to restructure the design for music services? Right now every music service is keeping its own copy of `player.js`, for doing more or less similar tasks. And if there are more music services going to be added, it means more copies of `player.js` will be added on similar pattern.  We can at least make `player.js` more generalised and do the music service spe

[2020-03-20 19:20] IkkyOdufade commented on #1343
@awallin I don’t have any issues I’m working on right now. I’ve commented on a bunch of issues but I’m yet to be assigned to one.

[2020-03-20 21:30] annlinros commented on #915
@JanviMahajan14  I was actually thinking of starting with this issue today..
But you could also do a PR if you would like..

[2020-03-21 02:03] awallin commented on #1353
Go for it @GangaChatrvedi

[2020-03-21 02:06] awallin commented on #1095
@ianb would be the best way to comment on any restructure of the music service.

[2020-03-21 03:07] JanviMahajan14 commented on #915
Thanks @annlinros

[2020-03-21 09:00] LilyLME commented on #1343
Thanks @awallin, can you help me with the steps tot reproduce this?

[2020-03-21 12:14] amandhamija98 commented on #397
Hi @ianb , I have submitted a PR. Kindly review it.
https://github.com/mozilla/firefox-voice/pull/1356

[2020-03-21 12:25] saucekode commented on #1319
@alexandra-martin fixed the issue of the command closing the window where it was uttered

[2020-03-21 12:26] saucekode commented on #1319
Working on the confirm modal, needs some contentScript to work

[2020-03-21 12:27] amandhamija98 commented on #419
Hi @ianb , I would like to work on this issue, could I please be assigned

[2020-03-21 12:28] amandhamija98 commented on #395
Hi I would like to work on this issue, could I please be assigned

[2020-03-21 12:31] amandhamija98 commented on #126
Hi, I would like to work on this issue, could I be assigned

[2020-03-21 12:37] amandhamija98 commented on #497
Hi, I am outreachy applicant, may I please be assigned this issue

[2020-03-21 12:38] amandhamija98 commented on #424
Hi, I am an outreachy applicant, could I please be assigned this issue

[2020-03-21 13:11] danielamormocea commented on #76
@awallin @ianb Should we allow the user to have more than one timer?
And if so:
-> the user should be able to see all of the timers? (as in sliding to see the other timers; right-left arrows)
-> and when the user triggers the popup again, down there the user should see multiple timers, or just the last one?

[2020-03-21 13:24] annlinros commented on #1337
Hi @alexandra-martin

I tried to reproduce the bug on MacOS 10.14.6 with Firefox Nightly 76.0a1.
I got the expected results.
When I wasn't logged in, I got a prompt to log in to spotify on a new tab.
If I were already logged in, I got greena day results on a new spotify tab..

Is the bug fixed now ?

[2020-03-21 13:50] annlinros commented on #1025
Hi @ianb
Could you explain a bit more about this ?
Can I approach this issue using 'find [query] in this page' and then copy it to clipboard ?

[2020-03-21 16:20] annlinros commented on #901
Hi @ianb  @awallin
May I work on this?
Could you explain a bit more about how you would like this to be implemented ?
I was thinking of making use of 'sidebarAction' WebExtension API to achieve this.

[2020-03-21 16:27] annlinros commented on #915
Hi @awallin
The user gets feedback from 'Pocket' itself saying the page was saved or the user needs to log in first.

In that case, should we proceed with the UI ?

Response from Pocket:

<img width="2560" alt="Screenshot 2020-03-21 at 17 22 47" src="https://user-images.githubusercontent.com/42749886/77231120-200b4800-6b99-11ea-819a-4d46f0395c9b.png">

[2020-03-21 16:56] GangaChatrvedi commented on #1353
Okay. On it.

[2020-03-21 17:46] #1344 closed

[2020-03-21 18:07] GangaChatrvedi commented on #1339
Thanks. Working on it.

[2020-03-21 18:13] farhatcode commented on #1095
When I was working for youtube (i.e. video player), I came with that idea. But when I started working for soundcloud (i.e. audio player), I have come to know that `player.js` functionality is implemented separately for audio and video players. What I was pointing, is already done in `musicService.js` for audio players.
Please ignore my previous comment. There is no need for restructuring.

[2020-03-21 20:30] ianb opened #1359 "Add UI to view voice history"
With #1303 landed we have history being saved, but no way to view it.

For this, add a new tab to the options page, called "History". This should display history items most-recent-first. I believe a table with a formatted date and the utterance would be sufficient.

It would be okay to land this without pagination, but we'll definitely need pagination eventually. Ideally no history will be loaded

[2020-03-21 21:04] IkkyOdufade commented on #992
Hi @ianb. Thank you for the new issue. I’ll start working on it right away.

[2020-03-21 23:07] michael-mml commented on #1359
Hi, @ianb , I'd like to take a shot at this.

[2020-03-22 07:35] GangaChatrvedi commented on #1337
@annlinros while working on issue #1339 I accidentally reproduced this issue. Since then I have reproduced it so many times with the same steps @alexandra-martin mentioned.

@ianb I would like to work on this.

[2020-03-22 09:55] amandhamija98 commented on #357
Hi, I am an outreachy applicant, could I please be assigned this

[2020-03-22 10:40] danielamormocea commented on #1338
@alexandra-martin   I've looked into this and the reason it displays the message "Youtube cannot do play previous" is because there is no "previous" button on Youtube, just the button for "next video" (I think the previous video can only pe accessed through double taps on the phone app).

However, if the user wants to go back to the previous video, they can say "go back" and this will load the pre

[2020-03-22 17:08] annlinros commented on #1352
@alexandra-martin @ianb
I have examined the bug and fount that
actually all the intents are running, but since we reuse the search tab for new searches, the last search intent in the routine onle shows up.
I think [this PR](https://github.com/mozilla/firefox-voice/pull/1314) will probably fix this bug.
Once the PR is merged, each search will use it's own new tab.

[2020-03-23 04:46] awallin commented on #915
In that case no we don't need UI from the popup.

[2020-03-23 09:41] alexandra-martin commented on #1352
Thanks @danielamormocea, I will check that.
There can be a considerably amount of issues, since there can be a lot of possibilities when adding routines.

[2020-03-23 12:07] alexandra-martin opened #1361 "Can't install dev version"
If I want to install the current dev version in a new Firefox profile, I get "The add-on downloaded from this site could not be installed because it appears to be corrupt."
Installing the production version works.
Tried on Mac 10.14 and Win 10x64 with Firefox Nightly 76.0a1 (2020-03-22) and Firefox Release 74.0.

![installation issue](https://user-images.githubusercontent.com/54401091/77314710-db0

[2020-03-23 14:37] alexandra-martin opened #1363 ""Turn selection into link" gives "No text selected" when used in Google Docs and Google Slides"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A paragraph is copied in Google Docs, or Google Slides and the tab is made active.

### STR:
1. Select a string from the copied paragraph. (it can be a word or multiple words)
2. Use the shortcut or click on the mic icon from the browser tool

[2020-03-23 15:53] alexandra-martin opened #1364 "Last routine action opens if there are more "Search Google Images" commands"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A routine is made that contains more than 1 "Search Google Images" command. (click mic icon next to the window's menu button, click the "Settings" button from the doorhanger, click "Routines" from the left side of the "Preferences" page, clic

[2020-03-23 16:08] alexandra-martin opened #1365 ""Open Google" blocks other actions if placed first in a routine"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A routine is made that contains an "Open Google", or "Open Google.com" command (this command is placed first), then other "Open" commands. (click mic icon next to the window's menu button, click the "Settings" button from the doorhanger, clic

[2020-03-23 16:58] ianb opened #1366 "[Telemetry] Create schema for lifecycle events"
We track usage, but not install/opt-in/out/uninstall, and so some behavior is invisible to us. Specifically we're interested if some kinds of opt-in questions might make people uninstall entirely.

We should create a new Telemetry table, `voice-lifecycle` with:

* Timestamp
* Event name:
  * Installed
  * Opt-in shown
  * Opt-in cancelled
  * Opt-in accepted
  * Uninstall (is this possible?)
  * F

[2020-03-23 21:10] #1353 closed

[2020-03-23 21:24] #1194 closed

[2020-03-23 22:15] farhatcode commented on #373
@ianb can we do this by simulating keypress for the shortcut key of open bookmarks and open history?As a workaround for now. That can work for desktops, I guess.

[2020-03-23 22:44] IkkyOdufade commented on #992
Hi @ianb I’m sorry I’ve not created a pr yet. Im working on my laptop. It would be normal again by tomorrow or next. Thank you for understanding.

[2020-03-23 23:04] awallin opened #1367 "[Alias] “read out content to me”"
Add “read out content to me” as an alias to read this page to me.

[2020-03-23 23:05] ianb opened #1368 ""Create tab" should open a new tab"
This would be a small phrase match adjustment in `tabs.toml` – "open tab" works but not "create tab"

[2020-03-23 23:06] awallin opened #1369 "[Alias] "what should I do""
Add an alias for "what should I do" to "help" which will open the Lexicon.

[2020-03-24 01:47] vandnakapoor19 commented on #1331
@awallin  I have made changes in the CSS file. Have a look once on your side and please confirm if it resolved the issue.

[2020-03-24 12:33] Albaalah commented on #1369
Hi @awallin can I work on this as my first issue?

[2020-03-24 14:29] alexandra-martin opened #1372 ""Dictate" command not working in Google Docs, Sheets, Slides"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Google Docs, Google Slides or Google Sheets tab is opened and made active.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Dictate" command, e.g. "Type don't forget to check emails".

###

[2020-03-24 14:31] GangaChatrvedi commented on #858
@liubomirwm https://music.youtube.com/watch?playlist=RDDM does not load "Your mix" playlist so I think I should play first playlist on the page as @awallin suggested.

[2020-03-24 14:41] alexandra-martin opened #1373 "Another "Dictate" command can't be done before the initial "Dictate" command transcription"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
An online notepad tab is opened and made active, e.g. [calmlywriter](https://www.calmlywriter.com/online/) or [anotepad](https://anotepad.com/).

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write

[2020-03-24 14:55] awallin commented on #1369
Go for it @Albaalah

[2020-03-24 15:30] ianb commented on #1213
QA note: if you change your default search engine to DuckDuckGo, and then run a search, and say "next result", it should go to the next result (like it does for Google)

[2020-03-24 15:38] JM-Mendez commented on #1213
@ianb this should have been resolved when #1236 landed. Is this a regression I need to work on?

[2020-03-24 16:43] awallin commented on #1338
@danielamormocea leveraging "go back" is a nice solution for "previous" in this case.

[2020-03-24 16:47] awallin commented on #1359
@ianb we should probably allow the user to disable retention of voice history and clear. Are those features I should include in the design?

<img width="703" alt="Screen Shot 2020-03-24 at 9 46 18 AM" src="https://user-images.githubusercontent.com/428245/77453376-6be60900-6db4-11ea-920c-0f69893c547b.png">

[2020-03-24 16:49] awallin commented on #901
Give it a try @annlinros

[2020-03-24 16:53] awallin commented on #1343
@LilyLME It's not clear to me why it occurs on my machine but not others.

Basically, I'm opening any webpage with a link and then asking "Click on link for x" or "Follow link for x". I see a confirmation of the utterance but the action never occurs.

<img width="764" alt="Screen Shot 2020-03-24 at 9 52 47 AM" src="https://user-images.githubusercontent.com/428245/77454081-4efe0580-6db5-11ea-8d0c-2

[2020-03-24 17:50] ianb commented on #901
@annlinros Note you can't actually open the sidebar spontaneously with the sidebarAction API. It's the same as with popups – you can't open the popup spontaneously either. To get around this we had to make our own API: https://github.com/mozilla/firefox-voice/blob/master/extension/experiments/voice/api.js#L32-L40 (note each of those functions is also in schema.json)

It would probably look similar

[2020-03-24 17:53] ianb commented on #1359
@awallin Sure, though those could be part of the first PR or not.

We should probably have a note that this is just the local copy of the history. We don't have a way to delete the Telemetry history currently (the Telemetry team is still working on it I think), and if you've disabled Telemetry utterance saving then we might want to include something that says it is saved locally but not uploaded.

[2020-03-24 18:46] dave-ok commented on #1373
May I be assigned this issue? I am assuming the expected result is to dictate at the cursor position?

[2020-03-24 18:51] annlinros commented on #901
Ok. I will give it a shot.. Thank you. :)

[2020-03-24 20:19] ianb commented on #1373
@dave-ok you got it. I probably put code in to specifically append when there wasn't a focused input element (and there wasn't a clear position to add the text), but if the element is focused then the text should go wherever the cursor is.

[2020-03-24 20:22] ianb commented on #1213
@JM-Mendez: @alexandra-martin wanted to verify the fix but wasn't clear what needed to be verified.

[2020-03-24 20:34] GangaChatrvedi commented on #1339
@ianb I am trying to console the result after this line and getting <unavailable>

https://github.com/mozilla/firefox-voice/blob/master/extension/content/helpers.js#L48

According to me, Array of DOM elements should have been printed but may be I'm getting it wrong.
can you please help me with this.

[2020-03-24 21:10] dave-ok commented on #1373
Thanks. I'm on it

[2020-03-24 22:03] #1369 closed

[2020-03-24 22:06] vandnakapoor19 commented on #580
@ianb I'd like to check this issue.

[2020-03-24 22:08] vandnakapoor19 commented on #483
@ianb @awallin Waiting for feedback. Please let me know if this is expected behavior?

[2020-03-24 22:59] noi5e commented on #1372
Hi, I'm not sure if this one is appropriate for me (Outreachy intern applicant), but can I be assigned if so?

Some leads on how to fix too would be appreciated. Thank you! @ianb

[2020-03-24 23:23] saucekode commented on #1266
@awallin you said to use favicons for the image but it comes out blurry since it's a favicon. @ianb what do you think would be a better option?

[2020-03-24 23:57] saucekode commented on #1269
@awallin please take a look at this and review. Thank you

[2020-03-24 23:59] saucekode commented on #1367
@awallin please take a look at this. Thank you

[2020-03-25 00:00] saucekode commented on #1368
@ianb please take a look at this. Thank you

[2020-03-25 11:53] alexandra-martin commented on #1369
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-25).

![1](https://user-images.githubusercontent.com/54401091/77533582-cf993080-6e9f-11ea-9546-41009cdccaea.gif)

[2020-03-25 14:26] alexandra-martin commented on #1353
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-25).

![2](https://user-images.githubusercontent.com/54401091/77547006-4bea3e80-6eb5-11ea-94a4-11baaa0498a3.gif)

[2020-03-25 14:39] alexandra-martin commented on #1194
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-25).

![3](https://user-images.githubusercontent.com/54401091/77548268-fe6ed100-6eb6-11ea-88df-45dc9f795ca0.gif)

[2020-03-25 15:58] alexandra-martin opened #1377 ""Submit" command not working to log in on certain sites"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
The website where the user wants to log in is opened in a tab and made active.

### STR:
1. Fill out the necessary information in the login fields.
2. Use the shortcut or click on the mic icon from the browser toolbar.
3. Say or write the "Su

[2020-03-25 16:27] awallin commented on #1266
A few of thoughts.
* Display the image at the native size for favicons (most commonly 16x16 or 32x32)
* Look highest res versions of the favicon and display at it's native size (with a max size of 100x100). Some sites have 48x48, 96x96, and even 144x144 sizes.
* We could use the logo for each music service which we support, which will be added in #1268. While this won't scale to every site that co

[2020-03-25 16:52] saucekode commented on #1266
Okay! will do that. Thank you for this

[2020-03-25 19:00] ianb commented on #1266
For the icon there's a favicon attribute on tabs: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/Tab (`favIconUrl`). Note it can be null.

But maybe we should add icon detection to `pageMetadata-contentScript.js` – then it would be able to find higher-resolution icons. But Spotify for instance only has 32x32 as `<link rel="icon">`, though in the file linked to from

[2020-03-25 19:54] awallin commented on #1331
@vandnakapoor19 Can you submit the CSS changes as a PR so I can take a look?

[2020-03-25 20:15] amandhamija98 commented on #1377
Hi, I am an outreachy applicant, may I please be assigned this

[2020-03-25 20:25] GangaChatrvedi commented on #858
@ianb can you please asign this issue to me.

[2020-03-25 21:08] awallin commented on #1269
@saucekode This look great. So fun. @ianb take a look and merge if it looks good to you.

[2020-03-25 22:44] ianb opened #1379 "[Timer] Use Chrono"
Followup to #1360:

Currently it gets the numbers explicitly from the phrases, but we could use [Chrono](https://github.com/wanasit/chrono) to parse times. It seems to handle many of the cases appropriate for this: time in the future, minutes, minutes and seconds, etc.

In the phrase we'd just capture an untyped `[time]` slot, and then use Chrono to parse that time, instead of having separate hour

[2020-03-25 22:47] ianb opened #1380 "[Timer] Add audio for alarm"
Followup to #1360:

That PR uses the chime sound for the alarm, but we should have a separate alarm.

@jcambre found that if the audio file was in the extension it wouldn't play, and so we've put it onto our site. I guess we should do the same for this one too (which is something I'd have to do via a gh-pages deployment, but the actual audio would still go alongside the chime).

Assigning to @awal

[2020-03-26 05:01] vandnakapoor19 commented on #1331
@awallin  Please check my last one titled "feedback is not centered" and please confirm if it resolved the issue.

Thanks

[2020-03-26 06:09] dave-ok commented on #1365
@ianb May I work on this?

[2020-03-26 06:12] Simpcyclassy commented on #1250
I was not able to reproduce the bug, all seemed to occur at the same time interval but I will keep trying. Sorry for my partial absence due to work, I am fully engaged here now.

[2020-03-26 11:40] alexandra-martin commented on #76
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-25).
After making a "Timer" command, the timer display is not shown. If the doorhanger is closed, it will open again in the "Listening" state, when the timer should be done, but a new "Timer" command can't be made afterwards, as the "Only one timer can be active." error text is displayed.
"Pause timer", "Unpause timer", "Stop timer", "Rese

[2020-03-26 11:50] danielamormocea commented on #76
@alexandra-martin did you run npm run build:jsx? from what you described it seems like just the changes in the jsx are not seen, and the ones in the timer.js are

[2020-03-26 12:04] danielamormocea commented on #1379
@ianb  Could I work on this issue?

[2020-03-26 12:33] alexandra-martin commented on #76
@danielamormocea I initially just did a git pull and a npm start. Now after running npm run build:jsx followed by npm start, I can see the changes.
Issues that I mentioned before and am still experiencing though are that, if the timer is stoped with commands like "Cancel timer" or "Stop timer", the "Only one timer can be active." error text is displayed after trying to make another "Timer" command

[2020-03-26 13:02] danielamormocea commented on #76
@alexandra-martin No problem; I fixed the problem you were talking about, in the above PR; Also, I did not implement the timer to be visible in other states, but the listening one; If this should be done, I will get back on it 🙂

@ianb when you have time, take a look at the above PR for the fix;

[2020-03-26 14:31] alexandra-martin opened #1387 "[Intermittent] Negative feedback display for "Timer" command not shown"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Timer" command, e.g. "Set timer for 20 seconds", "Timer for 10 seconds".
3. Click the sad emoticon from "Did we get this right" section.

###

[2020-03-26 14:47] naima-shk commented on #1387
@ianb  Can i try this one please?

[2020-03-26 14:53] alexandra-martin opened #1389 "Doorhanger resets after the finished "Timer" display is shown"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Timer" command, e.g. "Set ti

[2020-03-26 15:01] alexandra-martin opened #1390 "Negative feedback display for "Timer" command shows different command transcription"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
Make a command before following the bellow steps, e.g. "Define voice".

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Timer" command, e.g. "Set timer for 20 seconds", "Timer for 10 seconds"

[2020-03-26 15:18] alexandra-martin opened #1391 "No warning that the timer will be canceled is displayed if Firefox is closed completely"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Timer" command, e.g. "Set timer for 1 minute", "Timer for 1 minute".
3. Quit Firefox completely.

### Expected result:
A warning that the time

[2020-03-26 15:33] alexandra-martin opened #1392 "Timer Follow up"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Timer" command, e.g. "Set timer for 20 seconds", "Timer for 10 seconds" and wait for the finished "Timer" display.

### Expected result:
The f

[2020-03-26 15:38] alexandra-martin opened #1393 ""Timer" animation not displayed in the doorhanger"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Timer" command, e.g. "Set timer for 20 seconds", "Timer for 1 minute".
3. Check "Timer" display after it is first made and when it's placed in

[2020-03-26 15:47] Simpcyclassy commented on #1243
So currently the most recently added bookmark opens when there are more than one good match, instead of sorting to open the latest, I can just sort and iterate through the array, and open each bookmark in a new tab. But then I also have to first do a check that the length of the array of bookmarks is less than a certain amount, so you don't end up opening like over 20 tabs😹Lemme see how this works

[2020-03-26 15:52] Simpcyclassy commented on #1243
With the current implementation, it seems the most recently added bookmark opens when there is more than 1 good match. So instead of sorting and opening this way, I can just sort it and iterate through the array, and open each bookmark (element) in a new tab see. I guess I can first do a check that the length of the array of bookmarks is less than a certain amount so I don't end up opening over 50

[2020-03-26 16:14] dave-ok commented on #1373
I didn't place the "fixes #" properly. This should have closed after merge. @alexandra-martin @ianb Can you please close this issue if resolved. Thanks

[2020-03-26 17:42] GangaChatrvedi commented on #919
@ianb @awallin as pr is merged for this. should we close this issue?

[2020-03-26 17:58] GangaChatrvedi commented on #82
@ianb Can you suggest some apis that we can use for this. The one I am looking at is https://deepai.org/machine-learning-model/summarization

[2020-03-26 19:17] ianb commented on #82
@GangaChatrvedi I'm not really sure, I haven't thought it through too much.

Though the first part will be getting the text of the web page. I would recommend using [Readability](https://github.com/mozilla/readability), which is the same library Firefox uses for its Reader Mode. But we'd want to install our own version and use it to extract the text from the page (and exclude navigation and other

[2020-03-26 19:17] ianb commented on #919
@GangaChatrvedi Good catch, yes

[2020-03-26 19:17] #919 closed

[2020-03-26 19:31] GangaChatrvedi commented on #82
@ianb One way we can solve the api key problem is that we do not package it with app itself. We ask user to add api with a given link to create one and give it to our extension for us to use it on their behalf.

[2020-03-26 19:47] ianb commented on #82
People need to try things out before committing to signing up for accounts and whatnot. It's no fun if you have to sign up, and I think this could be a fun feature!

It would be fine to put my key in; I've saved it here if you want to try that: https://gist.github.com/ianb/46363208bbf446de507fba41ff5e2dd1

Otherwise we could use a local summarizer (e.g., [node-summarizer](https://www.npmjs.com/pac

[2020-03-26 20:14] GangaChatrvedi commented on #82
Taking a look into it. will respond by tomorrow if i feel comfortable doing it.

[2020-03-26 21:20] vandnakapoor19 commented on #690
@awallin In current flow when we are trying to say or write a long string, e.g. "Search fiction history adventure old books" or "Search fiction history adventure fantasy old books".

The result is showing on a new tab in google search.

![search_books](https://user-images.githubusercontent.com/45131874/77697906-13666580-6f86-11ea-9949-a65d2c60c4a4.gif)

[2020-03-26 21:29] #915 closed

[2020-03-26 22:00] #1115 closed

[2020-03-26 22:01] #76 closed

[2020-03-26 22:02] ianb commented on #1379
@danielamormocea You got it

[2020-03-26 22:18] danielamormocea commented on #1391
@alexandra-martin  I've looked into this and I did not find a way to know when Firefox is closed. I don't think there is one.

[2020-03-26 22:21] danielamormocea commented on #1392
@alexandra-martin  I've actually let this slide because it should be implemented after the follow-ups are implemented and merged. I am not sure if this should be a bug, but rather a further issue of the Timer..

[2020-03-27 02:24] saucekode commented on #1393
Hello @ianb can I work on this, please?

[2020-03-27 09:30] naima-shk commented on #1389
@ianb  @awallin  Can i take this one please?

[2020-03-27 10:55] alexandra-martin commented on #1351
@LilyLME @ianb or @awallin can asign people.

[2020-03-27 13:42] naima-shk commented on #1390
@ianb @awallin  I would like to work on it.

[2020-03-27 15:03] alexandra-martin commented on #76
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-27).

![5](https://user-images.githubusercontent.com/54401091/77769602-bbdefd00-704c-11ea-9b0e-f840c0c5dd94.gif)

[2020-03-27 15:18] alexandra-martin commented on #690
@vandnakapoor19 the "Search" commands mentioned in step 2 now seem to do Google searches instead of opening any sites. If "fiction history adventure old books" or "fiction history adventure fantasy old books" commands are made, it will open sites in new tabs.
Currently if the command transcription is too long, it will be shortened. @awallin do you think it should remain like this, or should the wh

[2020-03-27 15:20] alexandra-martin commented on #522
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-27) and the issue is not reproduced anymore.

![2](https://user-images.githubusercontent.com/54401091/77771309-33159080-704f-11ea-87c8-738d72ca31b4.gif)

[2020-03-27 15:36] alexandra-martin opened #1397 "Doorhanger with wrong result and a new tab with right result open at the same time when making a command"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write commands that should open cards

[2020-03-27 16:08] alexandra-martin commented on #1373
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-27).
On notepads like [anotepad](anotepad.com), [rapidtables](www.rapidtables.com/tools/notepad.html) and [shrib](shrib.com) the issue is not reproduced anymore. But on notepads like [calmlywriter](www.calmlywriter.com/online/) and [memonotepad](https://www.memonotepad.com/) the issue is still reproducing.

![1](https://user-images.githubu

[2020-03-27 16:13] dave-ok commented on #1373
@alexandra-martin Thanks for pointing this out. I will look into this right away

[2020-03-27 16:33] awallin commented on #1397
We should preference displaying content in a doorhanger whenever possible. Meaning if a card is available in Google (or other search engine) we should display that in the doorhanger and not open a new page.

[2020-03-27 16:39] awallin commented on #690
In the case of displaying at the top of the doorhaner we should shorten if it would wrap onto a second line. The user will have already seen the full transcript displayed in the doorhanger a moment before.

[2020-03-27 17:10] farhatcode opened #1398 ""Play" or "Play music" does not work for the first time in audio music services"
**STR:**
1. Open soundcloud.com
2. Select any track by clicking its title (don't click the play button) so that it only get selected/opened, not played.
3. Say or write "Play" or "Play music" command.

**Expected result:**
The music should be played successfully.

**Actual result:**
Nothing happens.

**Note:** "Play" or "Play music" commands work for the paused music only, to unpause it.
For the f

[2020-03-27 17:25] farhatcode opened #1399 ""Play audio", "Pause audio" should work"
"Play audio" command should play the paused music as done by “play music”.
"Pause audio" command should pause the playing music as done by “pause music”.

This can be done by adding phrase matches in `music.toml` 

[2020-03-27 18:11] farhatcode commented on #1095
Soundcloud is not using any HTMLMediaElement to play music. It is done somewhere from js code. I tried it many ways, but was unable to access/manipulate the volume property of audio.
I have simulated the shortcut key for volumeup and volumedown for soundcloud. @ian can you suggest any better ways to do that? Or is it fine this way?

[2020-03-27 19:20] awallin commented on #1392
The follow up commands are depend on #962. Let's use this ticket to implement the follow up when implemented,

[2020-03-27 19:22] awallin commented on #1391
@danielamormocea I was hoping we could implement something similar the warning many websites provide when closing tab/or navigating away from a partially completed form. Is that not possible?

[2020-03-27 19:38] GangaChatrvedi commented on #858
@ianb I was drafting PR for this but was not able to create selector so I was thinking can I use XPath for selectors. I am using XPath for now and it is working fine. Should I continue with this?

[2020-03-27 19:45] farhatcode opened #1401 ""Play" command may display appropriate message for unsupported audio/video services"
The utterances **"play", "play music”, "play video"** which works fine for all supported audio/video services. May display some error message for unsupported music services.

**Prerequisites:**
This is reproduced if no soundcloud / youtube tabs are open.
OR only one existing tab of soundcloud / youtube is opened.

I have tried this on primevideo.com

**STR:**
1. Open any video on primevideo.com
2.

[2020-03-28 08:49] danielamormocea commented on #1391
@awallin usually I think this is done by catching the event "beforeunload" but this doesn't work from a background script; I can look more into this and maybe I'll find something;

[2020-03-28 14:42] dave-ok commented on #1365
@alexandra-martin I do not know if you test out PRs, but if you can I have created a PR #1403 that should solve this issue and probably also solve #1364 and #1351. Thanks

[2020-03-28 22:29] dave-ok commented on #1373
@alexandra-martin If you can could you please check out this PR #1405. It should fix the issues you just mentioned. Thanks

[2020-03-29 05:51] farhatcode commented on #1401
For unsupported music services, it was happening that when no service found from existing music services, service was being detected from history using `detectServiceFromHistory()` in `serviceList.js`. In my case `detectServiceFromHistory()` returned soundcloud (as I was working on soundcloud volume controls, so soundcloud was the mostly used service in my history), **detected service can vary for

[2020-03-29 14:12] vandnakapoor19 commented on #690
@awallin @alexandra-martin Should we close this issue? Because this is working exactly the same as @awallin has mentioned.

[2020-03-29 17:54] Simpcyclassy opened #1407 "[browser command] view page source"
Let me work on this @ianb

[2020-03-29 17:56] Simpcyclassy opened #1408 "[browser command] bookmark all tabs"
Please could you assign to me @ianb?

[2020-03-29 18:04] Simpcyclassy opened #1409 "[browser command] minimize and zoom window"
Let me fix this @ianb

[2020-03-29 18:20] Simpcyclassy commented on #1387
Let me work on this please @ianb

[2020-03-29 18:27] Simpcyclassy commented on #286
Please assign this to me @ianb

[2020-03-29 18:44] Simpcyclassy commented on #388
There is an API to open preferences @ianb . If you assign it to me I will add it.

[2020-03-29 18:54] Simpcyclassy commented on #724
I used a command that opened a private window today when I was playing around with the commands. Let me work on this @ianb

[2020-03-30 13:08] alexandra-martin opened #1410 "Pocket commands give "Please login." even if account is logged in"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Pocket account is logged in.
A website that is to be saved in Pocket is opened and made active, e.g. https://en.wikipedia.org/wiki/Vincent_van_Gogh.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or

[2020-03-30 15:43] alexandra-martin opened #1414 "No search results are shown when making a "Search Google Slides" command"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Google Drive account is logged in.
Have a Google Slides document created.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Search Google Slides" command for the created Google Slides docume

[2020-03-30 15:45] Simpcyclassy commented on #373
I am more confident about how some of these things work now, lemme fix this @ianb . I just tried it out and the API worked, it opens a modal

[2020-03-30 15:52] annlinros commented on #373
I think this issue aims to do the same thing as #901 for which I have made a PR.

[2020-03-30 15:54] farhatcode commented on #373
@Simpcyclassy Yes sure you can work on it. At that time I didn't knew but now I also know that we can do it by using experiments.voice api.
But I am in the middle of some other issue, I have not started working on it yet. It's open and you can take it.

[2020-03-30 16:07] alexandra-martin opened #1415 ""Search"/"Play" SoundCloud commands give error when autoplay is disabled and user is not logged in"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
No SoundCloud account is logged in.
Autoplay is disabled.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a SoundCloud command, e.g. "Search SoundCloud for Green Day", "Play Green Day on SoundC

[2020-03-30 16:19] alexandra-martin opened #1417 ""Previous song" command not working in SoundCloud"
### Prerequisites:
Mic permissions and autoplay are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A "Play" command is made in SoundCloud and a few songs are played or skipped.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Previous song" command.

### Expected result:
The

[2020-03-30 16:25] Simpcyclassy commented on #373
OK will check the PR out

[2020-03-30 16:26] alexandra-martin opened #1419 ""Access To Website Blocked" when making a "Search Ticketmaster" command"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Search Ticketmaster" command, e.g. "Search Ticketmaster for design".

### Expected result:
Ticketmaster opens in a new tab and a search is mad

[2020-03-30 16:30] annlinros commented on #373
Its not finished as I am waiting for feedback from Ian..
I have actually run into the commands for Bookmarks and History in serachfox.org like you did.
But I was not sure which way should I go.

May be you could also mention your PR under #901, so that @ianb can look at both.

[2020-03-30 16:31] Simpcyclassy commented on #373
Yeah I agree @annlinros but yours looks like it just opens the sidebar, mine opens bookmarks and history specifically

[2020-03-30 16:31] Simpcyclassy commented on #373
Sure I will

[2020-03-30 16:34] Simpcyclassy commented on #901
This is very much similar to [#373](https://github.com/mozilla/firefox-voice/issues/373), I created a fix for that too. You could compare also https://github.com/mozilla/firefox-voice/pull/1418 @awallin  @ianb

[2020-03-30 16:35] alexandra-martin opened #1420 ""Search Amazon Maps for London" makes a "maps for London" search in Amazon"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Search Amazon Maps for London" command.

### Expected result:
Amazon Maps opens in a new tab and displays result without issues.

### Actual

[2020-03-30 16:36] annlinros commented on #373
Yes I know. I was actually trying to open a sidebar like popup as Ian had asked me to.

[2020-03-30 16:42] alexandra-martin opened #1421 ""Search openstreetmap for London" command makes a Google search"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Search openstreetmap for London" command.

### Expected result:
Openstreetmap opens in a new tab and a search for "London" is made.

### Act

[2020-03-30 16:55] melvin2016 commented on #1417
Let me look at it

[2020-03-30 18:07] GangaChatrvedi commented on #82
@ianb  I am able to summarize the text on the web page using Readability for getting the text of the web page and node-summarizer to summarize the text.

As we are using TextRank approach in node-summarizer so according to me, navigation and other non-article text would not get enough rank so these will be ignored if we have enough text.

[2020-03-30 18:08] GangaChatrvedi commented on #82
@ianb can you please asign this issue to me.

[2020-03-30 18:55] Simpcyclassy commented on #1421
I will like to work on this @ianb

[2020-03-30 18:56] Simpcyclassy commented on #1420
And this too, I will love to work on @ianb

[2020-03-30 18:57] annlinros commented on #1410
I will check it @alexandra-martin

[2020-03-30 18:58] Simpcyclassy commented on #1414
These bugs all seem to me like they are linked sort of, I really would love to get busy with them @ianb

[2020-03-30 19:03] Simpcyclassy commented on #334
I will like to take this as well @ianb .

[2020-03-30 19:10] Simpcyclassy commented on #904
I fixed this in this PR https://github.com/mozilla/firefox-voice/pull/1413

[2020-03-30 19:11] Simpcyclassy commented on #904
Maybe I will add extra examples along the line

[2020-03-30 19:11] #954 closed

[2020-03-30 19:12] Simpcyclassy commented on #975
I believe this PR https://github.com/mozilla/firefox-voice/pull/1413 covers this intent

[2020-03-30 20:05] #353 closed

[2020-03-30 20:07] Simpcyclassy commented on #392
Let me work on this as well. I just tested the API. It brings out a sidebar that shows the page info like this one
![image](https://user-images.githubusercontent.com/34488930/77956782-63b52e80-72ca-11ea-8634-093cc49b141a.png)

[2020-03-30 20:08] ianb opened #1423 "Add album/playlist search to SoundCloud"
#1293 added album and playlist support to Spotify and YouTube, it could also be added to SoundCloud

[2020-03-30 20:08] ianb opened #1424 "Add album/playlist search to Deezer"
#1293 added album and playlist support to Spotify and YouTube, it could also be added to Deezer

[2020-03-30 20:09] annlinros commented on #1423
I would love to do this! @ianb

[2020-03-30 20:11] annlinros commented on #1410
@ianb I checked into the issue and realised the bookmarklet function that I added will only work for my account.
It is such that, pocket provides distinct bookmarklet for each accounts.
Is there any other work-around for it ?

https://help.getpocket.com/article/1061-bookmarklet-error-wrong-account

[2020-03-30 21:30] #1327 closed

[2020-03-30 21:33] #397 closed

[2020-03-30 22:12] espertus commented on #981
I did not properly merge this branch before moving my files into the firefox-voice repo. I am in the process of fixing this.

[2020-03-30 22:20] #981 closed

[2020-03-30 22:33] #1095 closed

[2020-03-30 22:40] espertus opened #1429 "Android app uses first transcription only"
The Google speech recognition service usually provides multiple transcriptions, starting from the one it deems likeliest. Currently, the app uses only the first transcription. The app should be modified to try later transcriptions if no matching intent is found for the first one.

[2020-03-30 22:40] farhatcode commented on #1095
@ianb May you create a new issue for adding volume controls for spotify?
I was unable to add that because of service unavailable in my country.

[2020-03-30 23:51] IkkyOdufade opened #1430 "Adding macOS installation for development to INSTALL.md"
The INSTALL.md currently outlines installation guidelines for just Windows and Linux. I think macOS should be included.

[2020-03-31 03:24] vandnakapoor19 commented on #1415
@ianb  I'd like to work on it.

[2020-03-31 04:02] vandnakapoor19 commented on #483
@alexandra-martin  Please check my comment above and let me know in case I've to make any change in the process.

[2020-03-31 11:41] alexandra-martin opened #1431 ""Search"/"Play" SoundCloud commands give various errors in doorhanger"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a SoundCloud command, e.g. "Search SoundCloud for Green Day", "Play Green Day on SoundCloud", "Search SoundCloud for Coldplay".

### Expected res

[2020-03-31 14:21] alexandra-martin commented on #954
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).

![3](https://user-images.githubusercontent.com/54401091/78037233-f1008d80-7373-11ea-81ad-3f3ee1e7b19e.gif)

[2020-03-31 14:28] alexandra-martin opened #1433 "Scrolling not working on Wikipedia and other pages"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)
Have an active Wikipedia tab opened.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or

[2020-03-31 14:45] dave-ok commented on #1419
@alexandra-martin I am unable to reproduce the bug

![Search for page bug](https://user-images.githubusercontent.com/19638455/78039879-93197900-7366-11ea-8ee7-59b493b233eb.gif)

[2020-03-31 14:59] alexandra-martin commented on #1327
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).
"Paste" commands are not working in Google Docs and Google Slides, like in #1326, but image is copied with the paste keyboard shortcut.

![4](https://user-images.githubusercontent.com/54401091/78041390-4b501d00-7379-11ea-8a2d-a01bb1ab05a1.gif)

[2020-03-31 15:01] annlinros commented on #1419
@alexandra-martin I also failed to reproduce the bug and got the same results as @dave-ok

[2020-03-31 15:39] alexandra-martin opened #1435 ""Open Intent Viewer" opens a blank Intent Viewer tab"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Open Intent Viewer" command.

### Expected result:
Intent Viewer opens in a new tab without issues.

### Actual result:
Intent Viewer opens

[2020-03-31 16:00] alexandra-martin commented on #1246
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).

![6](https://user-images.githubusercontent.com/54401091/78047937-a8e86780-7381-11ea-87f3-d5a9f3f85833.gif)

[2020-03-31 16:15] #1321 closed

[2020-03-31 16:25] #1351 closed

[2020-03-31 16:25] #1364 closed

[2020-03-31 16:48] awallin commented on #1390
Go for it @naima-shk

[2020-03-31 16:49] awallin opened #1437 "Feedback border on timer"
When the timer is displayed there should not be a white boarder around the feedback section.

![timer-with-border](https://user-images.githubusercontent.com/428245/78053374-5d0fd100-7335-11ea-9921-cdaec7cec8b5.jpg)

![Confirm timer](https://user-images.githubusercontent.com/428245/78053368-5b460d80-7335-11ea-8caa-be6d8db196dc.jpg)

[2020-03-31 17:18] awallin commented on #1421
I was able to get "search open street maps" to work but "search open street map" returns a Google search. Can we create an alias for the plural?

[2020-03-31 17:26] awallin commented on #1387
Go for it @Simpcyclassy

[2020-03-31 17:34] awallin commented on #690
Closing

[2020-03-31 17:34] #690 closed

[2020-03-31 17:39] awallin commented on #1391
If you can find anything that'd be great @danielamormocea

[2020-03-31 18:26] awallin commented on #1380
Attaching audio for alarm.

[Alarm.mp3.zip](https://github.com/mozilla/firefox-voice/files/4410892/Alarm.mp3.zip)

[2020-03-31 18:47] awallin commented on #1166
Design for a new home page is ready. This new home page is focused on two audiences.

1. Existing [Common Voice](http://voice.mozilla.com) contributors. Our hope is they'll be excited to use Firefox Voice and be open to allowing their voice recordings to be saved and used as training data for Deep Speech’s SST model.

2. General public who discovers the extension through the add-on store, promotio

[2020-03-31 19:01] annlinros commented on #1380
Is this open to work on? Then I would like to do it..@awallin  @ianb

[2020-03-31 19:07] Simpcyclassy commented on #1387
Alright, looking into it now

[2020-03-31 19:19] Simpcyclassy commented on #1367
@saucekode You will need to add an `Alternative` matching intent to get this to work.

Line 4 `read.toml` may read something like
`(can you |) read (me | ) (this | the |) (out content |)(article | articles | text |) (on this| )(tab | page |) (for me | to me |) (aloud |)`

[2020-03-31 19:23] awallin commented on #1380
Go for it @annlinros

[2020-03-31 19:44] Simpcyclassy commented on #1421
I will love to work on the alias if that will be the fix.

[2020-03-31 19:46] awallin commented on #1421
It's yours @Simpcyclassy

[2020-03-31 19:49] Simpcyclassy commented on #1368
The same thing I mentioned in https://github.com/mozilla/firefox-voice/issues/1367 goes here

Line 87 will be

`(open | launch | create) (a | the |) (new | blank |) tab (for me|)`

[2020-03-31 19:54] dave-ok commented on #1433
@ianb Can I take a look at this?

[2020-03-31 19:58] Simpcyclassy commented on #1270
@JanviMahajan14  will you still love to work on this issue or may I take it up?

[2020-03-31 20:00] Simpcyclassy commented on #1270
@JanviMahajan14  will you still love to work on this issue or may I take it up? But if you still feel positive about it, this is a task for `extension/intents/self`

[2020-03-31 20:01] awallin commented on #1149
@ianb Any other details to add here?

[2020-03-31 20:09] noi5e commented on #1437
I can work on this one today!

[2020-03-31 20:16] awallin commented on #1437
Go for it @noi5e

[2020-03-31 20:25] awallin commented on #1393
This animation should appear on both the lager display when the timer is first set and the smaller display next to the feedback section when triggered the doorhanger when a timer is in progress.

Give it a try @saucekode

[2020-03-31 20:29] awallin opened #1439 "Timer controls 'Cancel', 'pause', and 'reset'"
When a timer is in progress a tip appears next to the timer at the bottom of the doorhanger informing the user they can say 'cancel', 'pause' or 'reset'. Currently all those utterances must be followed by "timer". They should work even if "timer" is not part of the utterance.

<img width="403" alt="Screen Shot 2020-03-31 at 1 26 55 PM" src="https://user-images.githubusercontent.com/428245/78072240

[2020-03-31 20:33] awallin opened #1440 ""Start presentation" Google Slides"
Similar to #1115 a user should be able to start the presentation of a Google Slide deck by saying things like.

* Start slideshow
* Present
* Start presentation
* Presenter view

[2020-03-31 21:47] dave-ok commented on #1433
@ianb I was thinking of solving this using a PageDown/Up event trigger. I don't know if there is any particular reason why it is not currently used. The keyboard event seems to be consistent across various sites. And it looks like the current scroll state is not returned or used anywhere else, hence, there may not be real need for it. So I was wondering maybe this direction might work? Please, whe

[2020-03-31 22:17] #1338 closed

[2020-03-31 22:43] #373 closed

[2020-03-31 22:44] #1407 closed

[2020-03-31 22:45] #1435 closed

[2020-03-31 22:51] IkkyOdufade commented on #992
Hi, @ianb. I've been trying to work on this and I added `npm run jest` to config.yml. This was the result, the tests passed. I know this is not solving the issue :(, so can I get more help?
![image](https://user-images.githubusercontent.com/47696080/78082086-13150280-73aa-11ea-9c4c-3d3ca9a4699e.png)

[2020-03-31 23:34] Simpcyclassy opened #1443 "[Alias] bookmarks and history intents"
Creating aliases as suggested on my previous PR https://github.com/mozilla/firefox-voice/pull/1418

[2020-04-01 00:13] #1243 closed

[2020-04-01 01:15] Simpcyclassy commented on #1421
One of the things I have seen while looking at this issue is that there is some kinda clash because of similar matching words in `navigation.bangSearch` and the intents in `extension/intents/search`. So first I will suggest that a keyword differentiate these searches. I am not sure what that keyword should be yet. Secondly, the `query` aspect of the command seems like it is going to need some fixi

[2020-04-01 09:02] alexandra-martin commented on #1435
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).

![1](https://user-images.githubusercontent.com/54401091/78119094-923d2180-7410-11ea-9d58-9fb40ff8f3c8.gif)

[2020-04-01 09:03] alexandra-martin commented on #1338
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).

![2](https://user-images.githubusercontent.com/54401091/78119211-c0226600-7410-11ea-8e18-efd4ec649786.gif)

[2020-04-01 10:09] dave-ok commented on #1440
Can I work on this @ianb

[2020-04-01 10:15] alexandra-martin commented on #1275
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31) and the issue is still reproduced.

![4](https://user-images.githubusercontent.com/54401091/78126148-b7cf2880-741a-11ea-9a5e-393afdf60a04.gif)

[2020-04-01 10:39] alexandra-martin commented on #690
Verified again on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).

![5](https://user-images.githubusercontent.com/54401091/78128168-2366c500-741e-11ea-9b86-be2e24c022e2.gif)

[2020-04-01 12:15] alexandra-martin commented on #1364
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).

![6](https://user-images.githubusercontent.com/54401091/78135970-7b57f880-742b-11ea-9458-3287600852ff.gif)

[2020-04-01 12:20] alexandra-martin commented on #1351
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).

![8](https://user-images.githubusercontent.com/54401091/78136427-3bdddc00-742c-11ea-9a48-7e40e7b96d6f.gif)

[2020-04-01 12:26] alexandra-martin commented on #1365
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-03-31).
Not reproduced when "Open Google" is placed first in a routine, but after the routine command is made, Google makes a search for "open".
Reproduced when "Open Google.com", "Go to Google" or "Go to Google.com" is placed first in a routine.

![7](https://user-images.githubusercontent.com/54401091/78136847-f53cb180-742c-11ea-98ed-f846122

[2020-04-01 14:23] naima-shk commented on #1275
@alexandra-martin
![image](https://user-images.githubusercontent.com/28563415/78148364-385b4c80-744e-11ea-81d3-14b4c112d430.png)

[2020-04-01 14:40] alexandra-martin commented on #1275
@naima-shk indeed if the string is broken (have spaces between words), the whole transcription is visible. In this instance it could be nice if the transcription is centered, like the rest of the text from the doorhanger.
If the string is unbroken (no spaces between words), then the transcription is still cut off.

<img width="1280" alt="Screenshot 2020-04-01 at 17 31 37" src="https://user-images.

[2020-04-01 15:40] #1443 closed

[2020-04-01 16:09] #1379 closed

[2020-04-01 16:13] dave-ok commented on #1365
Thanks @alexandra-martin for pointing this out. @ianb I have created a separate PR #1446 that fixes this issue

[2020-04-01 16:25] #1429 closed

[2020-04-01 16:26] ianb commented on #1433
@dave-ok Sure, but I don't know what exactly the fix for this will be. #1229 fixed some of this. I attempted to fix this with `runCommand("cmd_scrollPageDown")` in #1003 which didn't work. Maybe there's something else, or maybe one of these techniques just need to be tweaked for wikipedia, but... I'm not sure?

[2020-04-01 16:26] Simpcyclassy commented on #1439
This is a quick one,  I am taking it please

[2020-04-01 16:39] dave-ok commented on #1433
Thank you @ianb. I'll try a different approach and anticipate your thoughts on it

[2020-04-01 16:46] espertus opened #1447 "A navigation request on Firefox for Android should open the navigation app"

[2020-04-01 16:50] awallin commented on #1440
Go for it @dave-ok

[2020-04-01 16:51] danielamormocea commented on #1391
@awallin  I found a way to introduce what you described above (using content scripts) but the warning appears when the user navigates away, or when the user closes the window, or closes the tab where the timer was created, and I can't differentiate between these.
There is one more additional problem, if the user doesn't interact with the page first, I can't add the desired code using content scrip

[2020-04-01 17:00] Simpcyclassy commented on #1439
Here are the constraints I found while working on this. `cancel` is already an inbuilt command that closes the doorhanger and so does not work for timer. `pause` is a command in `music.toml` so does not work on `timer`. `reset` works fine.

I went ahead to search for synonyms for `cancel` and `pause`, so I tried `exit` and `wait` respectively. Please, let me know if these are OK then I will go ahe

[2020-04-01 17:08] awallin commented on #1439
Is it possible to preference control of the timer (when it's active) for `cancel` and `pause`?

[2020-04-01 17:10] Simpcyclassy commented on #1439
I will look into that and get back to you

[2020-04-01 17:13] Simpcyclassy commented on #1439
@ianb I will be needing your help here, please. May I know if there is a way I can set a preference for commands?

[2020-04-01 17:46] ianb commented on #1439
@Simpcyclassy There's no preference really, instead you'll have to add some code to "cancel" and "pause" to call the other intent if there's an active timer.

Probably the simplest way for now is to export a `canPause` and `canCancel` function from intents/timer/timer.js and use those in `self.cancelIntent` and `music.pause` to decide what it should do.

[2020-04-01 17:50] Simpcyclassy commented on #693
Since this is added now, please let me go ahead and add the aliases

[2020-04-01 17:54] Simpcyclassy commented on #1439
OK thanks. It's a little tricky for me though, once I am able to work it through I will request your request your review.

[2020-04-01 18:21] Simpcyclassy commented on #1387
This is a weird bug cause in some instances especially when the timer is up to 1 minute it does show. I think this instability is somehow calling cancel in a way I am still trying to figure out. I am taking a closer look at popupView as to how the Feedback component is being called

[2020-04-01 19:27] Simpcyclassy commented on #869
I just tested the fix for this and it works. Please lemme fix this

[2020-04-01 20:53] dave-ok commented on #1433
I have created a PR #1451 that should fix this issue

[2020-04-01 20:54] dave-ok commented on #1440
Thanks @awallin I'm on it

[2020-04-01 21:50] dave-ok commented on #1440
@ianb Where do you suggest that I place this intent?

[2020-04-02 05:05] #1408 closed

[2020-04-02 05:38] michael-mml commented on #1359
Hi @ianb and @awallin, I'm nearing completion for this feature and realize I will need an icon for the History tab. I don't believe one currently exists.

Also, I had to make a couple of changes to @OliviaRuyinZhang's PR, but we can discuss in the actual PR itself.

Thanks!

[2020-04-02 06:32] melvin2016 commented on #1417
@ianb @alexandra-martin Please verify.

[2020-04-02 06:35] melvin2016 commented on #1431
This was shown to Spotify, Soundcloud when trying to open it from a `about:blank` page.

[2020-04-02 07:59] melvin2016 commented on #1431
@alexandra-martin I can't seem to generate the issue might have been fixed I think.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22199666/78224315-f7af1200-74e5-11ea-9354-2c10846a3673.gif)

[2020-04-02 08:03] melvin2016 commented on #1431
@alexandra-martin I can't seem to generate the issue. Might have been fixed along the way.
![Screen-Recording-2020-04-02-at-1](https://user-images.githubusercontent.com/22199666/78224646-858afd00-74e6-11ea-9a1c-8fcbc14e73a4.gif)

[2020-04-02 08:41] Simpcyclassy commented on #389
I just tested it and `Tools:Sanitize` is the command that brings up that dialogue box. Please lemme fix this quickly and go back to my other debugging issues

[2020-04-02 10:17] alexandra-martin commented on #1431
@melvin2016 yes seems like it, I am not getting the errors anymore. Will check on it tomorrow as well, in case of any changes. But if all is alright, I will close the issue.

[2020-04-02 10:34] alexandra-martin commented on #1419
@dave-ok @annlinros Seems I might have been blocked intentionally, because Ticketmaster thought I was a bot :)). On forums people are saying that it should go away after 24 hours, but I am still not able to reach the website. I'm wondering if it has something to do with my location, as well.

[2020-04-02 10:53] alexandra-martin commented on #483
@vandnakapoor19 I think this issue and #1250 might be duplicates. #481 and this issue have the same date and I most probably had muted the active tab manually, before performing the "Unmute" command.
I will close this bug for now.

[2020-04-02 10:53] #483 closed

[2020-04-02 11:37] alexandra-martin opened #1457 ""Close browser", "Close the browser" don't close Firefox"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Close browser", "Close the browser" command.

### Expected result:
Firefox quits without issues.

### Actual result:
Depending on the comman

[2020-04-02 11:42] alexandra-martin commented on #919
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-04-01) for the current intent.
#1319 is a follow up for possibly having the confirmation window before Firefox is closed.
#1457 is a follow up for adding "(the) browser" in the intent.

![1](https://user-images.githubusercontent.com/54401091/78245359-039fd180-74f0-11ea-960a-bfe50a6b907d.gif)

[2020-04-02 12:14] melvin2016 commented on #1424
I would like to do this.

[2020-04-02 12:19] dave-ok commented on #1419
@alexandra-martin Sorry you were locked out. Does this mean this issue can be closed?

[2020-04-02 12:22] alexandra-martin opened #1459 ""Next" shows result for the previous doorhanger command and not for the current Google "Search" command"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a command that opens a card in

[2020-04-02 12:38] alexandra-martin commented on #1443
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-04-01).

![4](https://user-images.githubusercontent.com/54401091/78250061-fa1a6780-74f7-11ea-942e-af22b457f30d.gif)

[2020-04-02 12:49] alexandra-martin commented on #1407
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-04-02).

![5](https://user-images.githubusercontent.com/54401091/78251008-5cc03300-74f9-11ea-9bce-0ac3c00f7d30.gif)

[2020-04-02 20:24] awallin opened #1465 "[Android] Phone call - multiple matches"
When a request to make a phone call results in multiple matches Firefox Voice should prompt to ensure the correct person is called.

Additional details include:
* User can tap or say (mic stays open) from a list of matches to identify the correct contact entry
* Ability to save clarification so future requests can skip this step. By default this should be option should be enabled.
* Tapping X canc

[2020-04-02 21:00] awallin opened #1466 "[Android] Phone call - No match"
When a request to make a phone call results in no matches Firefox Voice should prompt to identify the correct person to call.

Additional details include:

* User can tap or say (mic stays open) from a list of matches to identify the correct contact entry
* Ability to search through the list using keyboard input
* Ability to save clarification so future requests can skip this step. By default this

[2020-04-02 22:23] #1433 closed

[2020-04-03 04:20] Simpcyclassy commented on #1166
I believe these issues are same https://github.com/mozilla/firefox-voice/issues/126

[2020-04-03 11:33] alexandra-martin commented on #1342
@GangaChatrvedi thank you, what you said is right. Will close the bug as invalid.

[2020-04-03 11:33] #1342 closed

[2020-04-03 12:17] alexandra-martin commented on #1431
Verified again on Mac 10.14 with Firefox Nightly 76.0a1 (2020-04-03) and the issue is not reproducing anymore.
Will close the bug for now.

![4](https://user-images.githubusercontent.com/54401091/78359596-0c5ed900-75be-11ea-90c5-7a6b349425d7.gif)

[2020-04-03 12:17] #1431 closed

[2020-04-03 12:20] alexandra-martin commented on #1433
Verified on Mac 10.14 with Firefox Nightly 76.0a1 (2020-04-03).

![1](https://user-images.githubusercontent.com/54401091/78359842-80997c80-75be-11ea-90b9-f93eb559ad4d.gif)

[2020-04-03 12:27] alexandra-martin commented on #1235
#### Update:
All "Scroll" commands seem to be reproducing intermittently in a Youtube tab.
When the tab is first opened, commands are doing nothing, but if tab is left inactive for some time, the commands will work.
The same happens for every new Youtube tab opened.
Refreshing the page, going back and forth don't seem to make the commands work.

![2](https://user-images.githubusercontent.com/54401

[2020-04-03 12:52] alexandra-martin commented on #1247
Verified again, but the bug is still reproducing.

![5](https://user-images.githubusercontent.com/54401091/78362483-e0922200-75c2-11ea-8a11-21371c5c4d58.gif)

[2020-04-03 14:53] alexandra-martin commented on #1419
@dave-ok yes, since it's only from my end. Will contact Ticketmaster to solve the issue.

[2020-04-03 14:53] #1419 closed

[2020-04-03 15:01] #522 closed

[2020-04-03 15:13] alexandra-martin opened #1469 ""Increase\Decrease volume" not supported on Spotify"
### Prerequisites:
Mic permissions and autoplay are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Spotify account is logged in, the Spotify tab is active and music is playing.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Increase volume" or "Decrease volume" command.

[2020-04-03 16:25] dave-ok commented on #1440
I have created a PR #1470 which should solve this.
@awallin I created the match phrases you suggested but I skipped "Start slideshow" because slideshow is reserved for the "Slideshow" intent. I couldn't come up with more aliases right now

[2020-04-03 17:42] Simpcyclassy commented on #1421
Further looking into the problem made me realize that only specific services that have been added to `searchServices.toml` can be searched, which explains why you can search `open street maps` and not `open street map` from line 85. This was a bit workaround for just 3 lines code.

[2020-04-03 17:52] Simpcyclassy commented on #1420
@alexandra-martin I tried to fix this and just as you rightly said there is no dedicated website for "Amazon Maps" Google search.
Would the expected result here still be that `Amazon Maps opens in a new tab and displays result without issues`. If could you send me a specific url of the expected result cause maybe because of my region I cannot get this even on a normal search

[2020-04-03 17:53] Simpcyclassy commented on #1420
@alexandra-martin I tried to fix this and just as you rightly said there is no dedicated website for "Amazon Maps"  on Google search.
Would the expected result here still be that `Amazon Maps opens in a new tab and displays result without issues`. If so could you send me a specific url of the expected result cause maybe because of my region I cannot get this even on a normal search?

[2020-04-03 18:09] #962 closed

[2020-04-03 18:16] ianb opened #1473 "Followup feature disables settings/feedback"
A regression from #1296

If and only if I enable "keep the microphone on for follow up responses" the popup looks like this:

<img width="448" alt="image" src="https://user-images.githubusercontent.com/44390/78392141-54c1cb00-75ad-11ea-81e1-3346d1d79aeb.png">

Note that the settings link and feedback link are gone. Turning off the pref restores them.

[2020-04-03 18:18] ianb opened #1474 "Card display broken"
I believe this is a regression from #1296

If I start the browser fresh, and say "weather in seattle" it does not show the card in the popup. Note that the followup preference doesn't effect this, but I did (I think) confirm it regressed specifically with #1296. I believe it's just the display of the card that is broken, as it otherwise acts like it would if there was a card (i.e., it doesn't open

[2020-04-03 18:24] ianb opened #1475 "Search page is reused for fallback searches"
I think this regressed with some of the recent search changes, but there's been too many for me to be certain where or when.

To reproduce:

1. Say "search for weather"
2. Say "weather in boston"

This *should* open a search page for 1, and then do a search in a hidden page for 2, and use the result in 2 to show a card. At this moment the card doesn't display, but that is tracked in #1474.

What *

[2020-04-03 19:33] awallin commented on #1424
Go for it @melvin2016

[2020-04-03 19:36] awallin commented on #1359
@michael-mml let's use the standard history icon for Firefox which I've attached.

[History.svg.zip](https://github.com/mozilla/firefox-voice/files/4429524/History.svg.zip)

[2020-04-03 19:47] #1144 closed

[2020-04-03 20:58] farhatcode commented on #1469
@alexandra-martin, I have added the volume controls for youtube, soundcloud and deezer in PR #1375 .
Volume controls for spotify are not added yet. You can see this here:
https://github.com/mozilla/firefox-voice/issues/1095#issuecomment-606289061

[2020-04-03 22:40] saucekode commented on #1166
Yea sure. Still interested!

On Fri, Apr 3, 2020, 8:25 PM Abraham Wallin <notifications@github.com>
wrote:

[2020-04-03 23:16] noi5e commented on #1363
I'd like to work on this if possible. I've started to do research in the codebase, would appreciate any leads as well!

[2020-04-04 00:11] noi5e commented on #1372
Decided to work on #1363 instead for now, if someone else wants to take this one over.

[2020-04-04 05:32] melvin2016 commented on #1424
@awallin I have added a PR :) .

[2020-04-04 08:28] annlinros commented on #1469
@alexandra-martin I am working on Spotify's volume control..

[2020-04-04 12:44] naima-shk commented on #1275
@alexandra-martin
![image](https://user-images.githubusercontent.com/28563415/78450963-d98b1280-769b-11ea-8028-d3a2967a6cbc.png)

[2020-04-04 13:36] JM-Mendez commented on #1473
@ianb hi can you assign this to me. Already know where the fix is

[2020-04-05 07:29] amandhamija98 commented on #1474
hi, @ianb may I please be assigned this

[2020-04-05 07:30] amandhamija98 commented on #1398
@ianb may i please be assigned this

[2020-04-05 17:25] naima-shk commented on #1389
@ianb  can i take this one please?

[2020-04-05 19:09] maverick-27 opened #1478 "Card Gives Internal Error while running same query multiple Times"
Steps to follow  to Reproduce:-
Open the Fresh Browser .

1.Search for some query "Fastest Bullet"
2. Give the result
3. Search again same query

Actual Result : Internal Error : Error Communicate is not defined

[2020-04-05 19:32] shreyajain25 opened #1479 "Fixes #905 - Tab selection"
"Select all tabs to the left"
"Select all tabs to the right"
"Select the last three tabs"
"Select the first two tabs"
"Select all the tabs"
Selecting multiple tabs according to the queryies

#1481

extension/intents/tabs/tabs.js
extension/intents/tabs/tabs.toml

[2020-04-05 19:32] maverick-27 opened #1480 "Search "Close All Tabs" commands make a new Search"
Open The fresh Browser
 Speak "Close All Tabs"

Actual Response : Makes a new Search

[2020-04-05 20:04] shreyajain25 commented on #905
I just gave a PR #1481 ..... @ianb  Can you review it please..
Sorry, I know i got so late to it

[2020-04-05 20:14] #1479 closed

[2020-04-06 03:25] vandnakapoor19 commented on #1331
@awallin @ianb Please let me know if there is you have merged the requestor if there is any issue with my pull request?

Thanks

[2020-04-06 06:58] danielamormocea commented on #1392
@awallin I'll start working on this, as the follow-ups are implemented;

[2020-04-06 10:53] awuorm commented on #1480
@ianb can I pick this task?

[2020-04-06 14:27] alexandra-martin opened #1482 "Doorhanger result card disappears or error is displayed depending if command is vocal or written"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say a command that displays the result in th

[2020-04-06 14:53] alexandra-martin commented on #1469
@farhatcode thank you for the work done so far. I saw your comment that you don't have Spotify available, which is why I wrote the report so someone else can help with that. I should have mentioned the previous report in notes, sorry about that.
The new or follow-up reports logged are not meant to be made in a critical way, as we appreciate every help we get and by collaborating we ensure that we

[2020-04-06 15:21] alexandra-martin commented on #1480
@maverick-27, for me the command closes only the active tab, but it's not making a search.

![2](https://user-images.githubusercontent.com/54401091/78574920-5c92a100-7833-11ea-8570-059145a9884f.gif)

[2020-04-06 16:30] awuorm commented on #1480
Same here. It closed the current active tab without making a search. I am on windows 10 using Firefox Nightly Version 75.0a1
![image](https://user-images.githubusercontent.com/53653844/78581306-62d94b00-783c-11ea-85b5-e7903ec88bf7.png)

[2020-04-06 16:45] #808 closed

[2020-04-06 16:47] ianb opened #1483 "Create registerPageName function in intentRunner"
This is a followup to #1302 (per this comment: https://github.com/mozilla/firefox-voice/pull/1302#discussion_r396027674)

Right now `navigation.js` is directly accessing `browser.storage`, but instead it should call functions in `intentRunner`. These new functions would use the same pattern as `intentRunner.registerNickname()`

[2020-04-06 16:51] ianb opened #1484 "Create namedPage type"
This is a followup to #1302:

Right now there's some special handling of named pages, but instead we'd like to put "named page" into other phrases. For instance `open [name:namedPage]` that would match named pages.

To do this we need a new page type (in `entityTypes.js`) that is dynamically filled with the available names. This would also mean that page names would respect aliases and ignore stop

[2020-04-06 16:53] ianb opened #1485 "Create named page phrase matches"
This is a followup to #1302:

Right now the code only matches the exact named page phrase, but we potentially want that "name" to be usable in other contexts, such as `open [name:pageName]`

#1484 should be done before this issue, which adds the `pageName` type.

The first part of this issue is to determine what phrases should take page names.

[2020-04-06 16:55] annlinros commented on #1484
Hi @ianb this seems interesting. I would like to work on this.

[2020-04-06 19:04] #1368 closed

[2020-04-06 19:13] farhatcode commented on #1398
Actually this is not a bug. The implementation is done this way that the "Play" or "Play music" commands are catched by **music.unpause** intent.
We need @ianb's suggestion about this, if this thing needs to stay same or we can do some phrase match adjustments about it.

[2020-04-06 19:17] amandhamija98 commented on #1398
Aah ok , I had noticed this for YouTube as well. The first time one says play, it does not work

[2020-04-06 19:38] Simpcyclassy commented on #1485
I will love to work on this once the ux is ready

[2020-04-06 19:43] #1339 closed

[2020-04-06 19:45] #1331 closed

[2020-04-06 19:46] farhatcode commented on #1398
It only happens when the music is not auto-played.
And during the implementation, may be it was considered to play the music from code, for the very first time when opening a track.

[2020-04-06 19:47] amandhamija98 commented on #1398
Aah, perhaps so

[2020-04-06 20:03] farhatcode commented on #1401
It appears that using the player controls from the background is allowed.
So the only thing needs attention here is the creation of a new soundcloud or youtube tab, if not opened already.  Seems it is the only unintended part.

[2020-04-06 21:25] vandnakapoor19 commented on #1482
@ianb I'd like to work on it.

[2020-04-06 22:00] farhatcode commented on #1401
@ianb I was doing the fix for this issue in #1400 , which I didn't knew, is an intended feature to allow music player commands in the background. That is why it is making no sense to you.
Then I also came to know, I was doing the wrong thing, blocking an intended behavior.
Now I need your suggestions, how to fix the problem described in [the above comment](https://github.com/mozilla/firefox-voice/

[2020-04-06 23:46] ianb commented on #1401
Supporting control of background services is important for our product experience. In general voice has an advantage when you can talk about something you can't see, and in this case controlling a music service in the background is a good example of that. Also we always want to prefer doing something to giving an error message.

So while it's certainly possible that a user will try to control an u

[2020-04-06 23:46] #1401 closed

[2020-04-06 23:48] #1373 closed

[2020-04-07 00:45] ianb opened #1487 "Add "maximize window" alias"
#1434 adds "zoom window", but I think "maximize window" should also be allowed.

[2020-04-07 00:46] ianb opened #1488 "Add maximize support to Windows"
I'm pretty sure the "zoom window" command in #1434 is Mac-specific (at least my search in the code seemed to show that). We should find an equivalent way to do it on WIndows.

[2020-04-07 00:46] #1409 closed

[2020-04-07 01:22] #1193 closed

[2020-04-07 01:45] #693 closed

[2020-04-07 01:47] #869 closed

[2020-04-07 01:49] #961 closed

[2020-04-07 01:57] #1437 closed

[2020-04-07 02:01] #1417 closed

[2020-04-07 02:09] #1457 closed

[2020-04-07 02:50] #1397 closed

[2020-04-07 02:54] #1459 closed

[2020-04-07 03:53] farhatcode commented on #1487
May be fixed by #1492

[2020-04-07 04:11] vandnakapoor19 commented on #1480
I've also checked this issue. @alexandra-martin and @awuorm are correct. Right now it is just closing the active tab.

My concern is If we Speak/Write "Close All Tabs" it should close only the active tab or all the tabs?

As per my understanding, it should close all the tabs. Please let me know so I can implement the same.

[2020-04-07 08:57] alexandra-martin commented on #1459
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-06).

![1](https://user-images.githubusercontent.com/54401091/78649977-edff2300-78c6-11ea-9518-91ab5fcbdea6.gif)

[2020-04-07 12:10] alexandra-martin commented on #1397
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-06).
For the commands mentioned in the steps, the issue is not reproducing anymore. If other commands will reproduce the issue I will reopen the report, but for now it seems fine.

![2](https://user-images.githubusercontent.com/54401091/78667389-7ee2f800-78e1-11ea-9c56-1281a50d014d.gif)

[2020-04-07 13:11] alexandra-martin opened #1494 "Feedback emoticons not displayed properly in doorhanger"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar in the blank new tab.
2. Say or write a command

[2020-04-07 13:45] alexandra-martin commented on #1246
It seems this bug has resurfaced with current updates.
Reproduced on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-07).
Also for some reason the doorhanger changes size when the Google tab is opened. Maybe it wants to display a card, but there isn't one available in the Google tab?

![4](https://user-images.githubusercontent.com/54401091/78675889-5ca3a700-78ee-11ea-880c-8ebd2704799e.gif)

[2020-04-07 13:55] alexandra-martin commented on #1457
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-07).

![5](https://user-images.githubusercontent.com/54401091/78677465-7219d080-78f0-11ea-8d30-499a052545cc.gif)

[2020-04-07 14:01] awuorm commented on #1480
I have fixed this issue with pull #1495. Now the command close all tabs closes firefox instead of closing the active tab only.

[2020-04-07 14:05] alexandra-martin commented on #1417
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-07).

![7](https://user-images.githubusercontent.com/54401091/78678571-cec9bb00-78f1-11ea-9f74-f82c606b6847.gif)

[2020-04-07 14:51] awuorm commented on #1478
@maverick-27 @ianb  I am picking this task.

[2020-04-07 15:00] #388 closed

[2020-04-07 15:19] ianb opened #1496 "Full followup needs cancel/done"
If you turn on followups in the preferences (so you can say anything), there's no hands-free way to stop. It just goes on and on and listens to everything you say until you close the popup.

I think at least these, maybe others:

- cancel
- done
- close
- finish / finished
- stop

Note that "cancel" is used in bookmark.remove, but closing the popup will accomplish the same thing.

[2020-04-07 15:32] Simpcyclassy commented on #1496
I will like to fix this

[2020-04-07 19:52] #1399 closed

[2020-04-07 19:57] vandnakapoor19 opened #1497 ""Play previous" command not working for Spotify is not working as expected #01"
**Prerequisites:**
Mic permissions and autoplay are enabled.
Have a Spotify or Youtube tab open and active. Have several songs/videos played in the tab?

**STR:**
Click on the mic icon from the browser toolbar.
Say or write a "Play previous" command.
Expected result:
The previous song/video starts playing.

**Actual result:**
It skips previous songs and plays song before of previous.

**Notes:**

[2020-04-07 20:16] vandnakapoor19 commented on #1497
I've fixed the issue and made my pull request

https://github.com/mozilla/firefox-voice/pull/1499

[2020-04-07 21:51] awallin commented on #1494
Padding below smile icons should be 10px.

[2020-04-07 21:58] awallin opened #1500 "Alias for extensions"
Add alias `extensions` as an alias to open extensions.

[2020-04-07 22:08] #1440 closed

[2020-04-07 22:10] #389 closed

[2020-04-07 22:11] #1488 closed

[2020-04-07 22:15] awallin opened #1501 "Volume control alias"
Add aliases for volume control
* Volume up/down
* Lower the volume
* Make it louder/softer

[2020-04-07 22:17] vandnakapoor19 commented on #1494
@ianb I'd like to work on this. Please assign this task to me.

Please check PR https://github.com/mozilla/firefox-voice/pull/1502
@alexandra-martin I have made some changes in CSS for adjusting Feedback emoticons. Have a look once and let me know in case it is fine now.

Sample:
![emotions_fix](https://user-images.githubusercontent.com/45131874/78724424-73042f80-78fb-11ea-9d40-f2c39e09983b.gif)

[2020-04-07 23:01] farhatcode commented on #1501
I will add these aliases with my followup PR for volume.

[2020-04-08 00:46] Simpcyclassy commented on #1500
This PR fixes it https://github.com/mozilla/firefox-voice/pull/1498

[2020-04-08 00:56] Simpcyclassy commented on #1483
I will like to look into this

[2020-04-08 08:24] danielamormocea commented on #955
@ianb Could you take a look, please, when you have the time, at the above question? :)

[2020-04-08 12:31] alexandra-martin commented on #389
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-08).

![1](https://user-images.githubusercontent.com/54401091/78784449-072ecf00-79ae-11ea-919b-55136554ce5a.gif)

[2020-04-08 12:50] alexandra-martin opened #1504 "Timer feedback display clean up"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar in the blank new tab.
2. Say or write a "Timer"

[2020-04-08 13:12] rohanharikr commented on #1504
Would like to work on this!

[2020-04-08 13:19] alexandra-martin opened #1505 "Doorhanger display issue when doing a "Search" command"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar in the blank new tab.
2. Say or write a "Search"

[2020-04-08 13:39] alexandra-martin opened #1506 "[object Object] present in "Type Input" when "Developer tip" link is accessed from doorhanger"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar and wait a few seconds until the doorhanger extends.
2. Click the link under "Developer tip".

### Expected result:
"Type Input" doesn't have display issues.

###

[2020-04-08 14:06] alexandra-martin opened #1507 ""Go to"/ "Open" commands give error in doorhanger"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Go to New York Times" command.

### Expected result:
New York Times opens in a new tab.

### Actual result:
"Internal error: TypeError: can'

[2020-04-08 14:22] alexandra-martin commented on #1440
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-08).

![6](https://user-images.githubusercontent.com/54401091/78795278-7fe95780-79bd-11ea-8a66-5263411d62d8.gif)

[2020-04-08 14:40] alexandra-martin commented on #1399
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-08) for Spotify, Youtube and Soundcloud.

![8](https://user-images.githubusercontent.com/54401091/78797184-099a2480-79c0-11ea-8ca9-055f038ce3d8.gif)

[2020-04-08 14:55] vandnakapoor19 commented on #1505
@ianb @awallin I'd like to work on this.

[2020-04-08 14:58] alexandra-martin commented on #1497
From what I remember "Play previous" has in the code the option to go to previous 2 times, because normally when clicking the previous button on Spotify, Soundcloud and Youtube (when in a playlist) it starts the played song/video again, if it has played more than some seconds.
Currently if the music is at the beginning it goes back 2 songs, but if the music has played more along the way, the comma

[2020-04-08 15:20] alexandra-martin opened #1508 "Music from Spotify/Soundcloud is not paused when a Youtube tab starts playing"
### Prerequisites:
Mic permissions and autoplay are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A user account is logged in on Spotify or Soundcloud and music is playing from that tab.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a Youtube "Play" command, e.g. "Play foo on

[2020-04-08 17:02] danielamormocea opened #1509 "Feedback card is shown when typing in doorhanger"
Now, in some cases, the card with "Did we get this right?" is shown and some errors appear when clicking on the feedback faces.

Steps to reproduce:

1. Have in the preferences the "Keep the microphone on for follow up responses" checked
2. Open the doorhanger
3. Type anything

Expected result:
No feedback card is displayed.

Actual result:
Feedback is displayed.

![bug](https://user-images.github

[2020-04-08 17:54] #1447 closed

[2020-04-08 17:55] melvin2016 opened #1510 "Cannot install extension in android"
![Screenshot_20200408-232434](https://user-images.githubusercontent.com/22199666/78817073-3e25d480-79f0-11ea-9253-2be529180e16.jpg)
This is the error occured.

[2020-04-08 17:58] jofish opened #1511 "Weather on Android App"
Bug: A query like "What's the weather in San Francisco" is interpreted as a request for directions to San Francisco.

I don't know if there's a category for default weather apps on Android; this might be a good thing to just fire off directly into the browser, but we should handle this.

[2020-04-08 18:28] espertus commented on #1511
Thanks! It's a false positive for the phrase "What's the [something] in [place]", which we created for questions like "What's the best sushi in San Francisco?"

[2020-04-08 19:57] awallin commented on #1504
Additionally there should be 10px of padding above "Did we get this right?" the visual of the feedback display for other utterances.

[2020-04-08 19:57] awallin commented on #1504
Go for it @rohanharikr

[2020-04-08 20:00] awallin commented on #1505
Go for it @vandnakapoor19

[2020-04-08 20:04] awallin commented on #1494
Go for it @vandnakapoor19

[2020-04-08 20:37] rohanharikr commented on #1504
@awallin Facing an issue. Stuck here:
<img width="387" alt="Screenshot 2020-04-09 at 2 05 52 AM" src="https://user-images.githubusercontent.com/12775813/78831072-a8497400-7a06-11ea-89bd-68c02851b787.png">

Firefox 76.0b2 (64-bit), Mac 10.15.3 (19D76)
Permission are enabled in browser and also under Privacy tab.

[2020-04-08 20:39] fleur101 commented on #1507
Oops. This is coming from my recent pull request, I'll fix it.

[2020-04-08 20:48] awallin commented on #1504
@rohanharikr are you unable to get any utterance to work? Does it not execute an action when you say something?

[2020-04-08 20:50] rohanharikr commented on #1504
This is happening in startup.

[2020-04-08 21:01] awallin commented on #1504
You might be encountering #860. @ianb any thoughts?

[2020-04-08 21:25] fleur101 commented on #1507
So, the problem was that I missed an additional check when implementing a page naming feature. Now it is there. Could you please check it? @alexandra-martin

[2020-04-08 22:12] Simpcyclassy commented on #1506
I will like to fix this @ianb

[2020-04-08 22:21] vandnakapoor19 commented on #1494
@awallin Thanks for assigning me. I've already worked on this issue.
Please check pull request  https://github.com/mozilla/firefox-voice/pull/1502

Thanks

[2020-04-08 22:32] vandnakapoor19 commented on #1505
@alexandra-martin  I've made some CSS changes and tested on Local Machine.
Please have a look and confirm.
**System Configuration: -**
OS: Windows 10x64
Firefox Nightly: Version 75.0a1
Node: v12.16.1

![scroll_issue](https://user-images.githubusercontent.com/45131874/78839678-f0e13d00-79c6-11ea-851d-726483d7b8fe.gif)

[2020-04-09 07:20] amandhamija98 commented on #1508
Hi, @ianb can I please be assigned this

[2020-04-09 09:16] awuorm commented on #1478
@maverick-27 I am trying to reproduce this bug. Did you close the tab with the result when making the second search? Which OS and firefox nightly version are you on? I was able to do 4 searches on "fastest bullet" without getting the error. I am on windows 10, using firefox nightly 75.0a1
![image](https://user-images.githubusercontent.com/53653844/78878998-f89ef100-7a5b-11ea-8972-4437889ac135.png)

[2020-04-09 12:21] alexandra-martin commented on #1509
Can confirm, using the described steps, I am able to reproduce the issue on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-08).

![1](https://user-images.githubusercontent.com/54401091/78894467-c0a4a780-7a75-11ea-8da9-ba9b33487540.gif)

[2020-04-09 12:46] alexandra-martin commented on #388
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-08) for commands regarding the browser's Settings and Add-ons pages.

![2](https://user-images.githubusercontent.com/54401091/78896467-32cabb80-7a79-11ea-8622-e4eb9cd43397.gif)

[2020-04-09 13:05] alexandra-martin commented on #1437
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-09).
#1504 has been made for follow-ups.

![3](https://user-images.githubusercontent.com/54401091/78897937-a4a40480-7a7b-11ea-88bf-2cfff6624831.gif)

[2020-04-09 13:45] alexandra-martin commented on #961
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-09).

![4](https://user-images.githubusercontent.com/54401091/78901663-55f96900-7a81-11ea-92cd-8a7d2bc29c4b.gif)

[2020-04-09 14:12] alexandra-martin commented on #693
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-09).

![5](https://user-images.githubusercontent.com/54401091/78904409-277d8d00-7a85-11ea-8605-ef170130b138.gif)

[2020-04-09 15:22] alexandra-martin commented on #1373
Thanks @dave-ok for the fix. Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-09).

![6](https://user-images.githubusercontent.com/54401091/78911422-f6a25580-7a8e-11ea-8cc3-1c81047d007a.gif)

[2020-04-09 15:30] alexandra-martin commented on #1339
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-09).

![7](https://user-images.githubusercontent.com/54401091/78912280-12f2c200-7a90-11ea-9f95-6f416416d3c5.gif)

[2020-04-09 17:06] melvin2016 commented on #1497
@vandnakapoor19 @alexandra-martin
After playing with the Spotify player I understood that the previous button works in 2 ways:

1. if the previous button is clicked before reaching the 0:29 seconds the song goes back to the previous song with one click.

2. if the song goes beyond 0:29 seconds we need to click twice.

These are my assumptions I don't know if this is the correct way.  🙂

[2020-04-09 17:48] vandnakapoor19 commented on #1497
@melvin2016 Yes, you are correct! I've to just make a change in the logic where we are just checking for 0.03 seconds.

[2020-04-09 21:05] JM-Mendez opened #1516 "Inform users about required permissions before installing the extension"
A user in the chat room stated that it was a bit shocking seeing all the permissions that were requested on the first use of the extension. The suggestion they proffered was to link to the privacy policy on the page where a user installs the extension, so that a user can read it beforehand.

Not sure if others have had a similar experience, so I created this issue in their behalf to track it in ca

[2020-04-09 21:32] rohanharikr commented on #1504
@awallin I have made the padding fixes for the footer.

I was not able to pinpoint where the white line was coming from in the css.
But on removing the first two .css imports from popup.css file,
/*@import url("../assets/css/inter.css");
@import url("../assets/css/gui.css");*/

the issue seems to be fixed.
<img width="440" alt="Screenshot 2020-04-10 at 2 59 57 AM" src="https://user-images.githubus

[2020-04-10 14:29] alexandra-martin commented on #1409
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-09).

"Minimize window" is working properly, but I am not sure what "Zoom window" should do, as currently nothing happens. "Zoom in tab" and "Zoom out tab" are made for zooming tab information. If the command is meant to re-show the minimized window again, it should be possible only if more windows are opened and the user has access to the

[2020-04-10 15:16] alexandra-martin commented on #901
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-10).

![2](https://user-images.githubusercontent.com/54401091/79001558-55330680-7b57-11ea-8461-168fe6f7df17.gif)

[2020-04-10 15:23] alexandra-martin commented on #1331
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-10).

<img width="366" alt="Screenshot 2020-04-10 at 18 18 51" src="https://user-images.githubusercontent.com/54401091/79002068-5add1c00-7b58-11ea-88d7-fd8da1c62a6e.png">

[2020-04-10 15:50] alexandra-martin commented on #1367
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-10).
The command "Read out content to me" does a Google search for "out content".

![3](https://user-images.githubusercontent.com/54401091/79003822-0cca1780-7b5c-11ea-96f7-461189eaa967.gif)

[2020-04-10 15:52] saucekode commented on #1367
Will look into it and fix

On Fri, Apr 10, 2020, 4:50 PM Alexandra Martin <notifications@github.com>
wrote:

[2020-04-10 15:54] alexandra-martin commented on #1368
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-10).

![4](https://user-images.githubusercontent.com/54401091/79004099-b6a9a400-7b5c-11ea-934a-10cbdcde1074.gif)

[2020-04-10 16:01] Simpcyclassy commented on #1409
Just like the third (green) button on the top left of the browser window in your gif, it zooms in the window

[2020-04-10 16:09] jcambre commented on #1166
@saucekode are you still working on this? I think we're hoping to have the new home page implemented pretty soon, so I'm happy to take it on if you don't have the time in the next few days.

[2020-04-10 16:11] saucekode commented on #1166
Hey dear, sure. I'm currently on a project. Can we kick off by say Monday?

On Fri, Apr 10, 2020, 5:09 PM Julia Cambre <notifications@github.com> wrote:

[2020-04-10 17:53] brianrhea opened #1518 "Options page says data is "deleted after x months""
The supporting copy under "Allow Firefox Voice to send anonymized transcripts of your audio request" on the Options page reads:

"x months" should be updated to reflect current storage policies.

[2020-04-10 20:58] brianrhea opened #1519 "Links to "Things you can say" and "Privacy" result in 404 after following the "How Mozilla Protects Your Voice Privacy" link on the Options page."
**Steps to Reproduce:**
- Open the popup window by clicking the icon or with the keyboard shortcut
- Click the Settings gear icon in the bottom left of the popup window
- Scroll down and follow the "How Mozilla Protects Your Voice Privacy" link in the About section
- Click either of the "Things you can say" or "Privacy" links at the top of the page

**Expected Result:**
- "Things you can say" woul

[2020-04-10 23:58] #1511 closed

[2020-04-11 17:10] Githubuxer opened #1523 "Failed commands and feedback loop suggestion."
When commands fail or do nothing, no information is being communicated to the user as to why nothing happened, other than just showing the checkmark and the words but not performing any subsequent action.

There needs to be a better voice command feedback loop that explains why nothing happened, explains what happened, or suggests how to make something happen.

[2020-04-11 17:12] Githubuxer opened #1524 "Sorry, there was an issue' text recommendation for misheard commands"
When Firefox Voice doesn't hear a proper audio command, it says 'Sorry, there was an issue' with a red exclamation mark below. Shouldn't it be something more casual like 'I did not hear that, please try again' or simply 'Please try again', or 'Can you repeat that'

The text 'Sorry, there was an issue' makes it seem like a technical issue vs just needing the user to repeat or speak a command.

[2020-04-13 04:40] awallin commented on #1518
Thanks for finding that @brianrhea. We'll get the correct x in there.

[2020-04-13 11:14] alexandra-martin commented on #1409
Thank you @Simpcyclassy for the clarification. In this case the intents are working properly.
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-12).

![1](https://user-images.githubusercontent.com/54401091/79116349-f062f080-7d90-11ea-9f6f-bec34ffd48ef.gif)

[2020-04-13 12:03] alexandra-martin opened #1526 "Commands that need to go through "Redirect Notice" to open a page are not working properly"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Go to Goodreads" command.

### Expected result:
Goodreads opens in a new tab.

### Actual result:
The tab doesn't go through the "Redirect N

[2020-04-13 14:54] alexandra-martin opened #1527 ""Bring me to (page name)" gives "No matching tab found" in doorhanger"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A name is given to a page, by making the command "Name this page (name)" when that page is active, e.g. make the "Name this page social" command when the Facebook tab is active.
Have another tab active.
The Facebook tab can either be opened i

[2020-04-13 15:21] alexandra-martin commented on #808
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-13).
Initial testing was made for this intent and most commands are working. So far only #1527 was logged, but will log new reports if other issues are found.

![4](https://user-images.githubusercontent.com/54401091/79131703-b2c28f80-7db1-11ea-8523-a66b01b3f341.gif)

[2020-04-13 15:42] #904 closed

[2020-04-13 15:42] #1367 closed

[2020-04-13 15:49] #1507 closed

[2020-04-13 15:51] #1475 closed

[2020-04-13 16:39] ianb opened #1529 "Put history pagination controls at top and bottom"
I think in the History view (#1453) the pagination controls could be at the top and bottom. Especially if you increase the page size (e.g., show 100 items at a time) it's awkward at the bottom.

[2020-04-13 16:41] ianb opened #1530 "Add tooltip & confirmation for history delete"
The history delete button added in #1453 doesn't have a tooltip and also has no confirmation.

I think just using `window.confirm()` would be find for confirmation. For a tooltip, `title="Delete all Firefox Voice history"`

@awallin may have thoughts about the button as well (maybe it should be larger and more clearly labelled?) Currently looks like:

<img width="1020" alt="image" src="https://use

[2020-04-13 16:43] ianb opened #1531 "Change "utterance" label in history"
In the history added in #1453 it uses the term "utterance", which I think is an insider term that we shouldn't show to users:

<img width="1033" alt="image" src="https://user-images.githubusercontent.com/44390/79139406-dff44b00-7d7b-11ea-82a1-cc8aee5d2366.png">

@awallin Label thoughts? I can imagine calling it "You said...", or "Your command"

[2020-04-13 16:44] #1430 closed

[2020-04-13 19:20] #1424 closed

[2020-04-13 19:28] awallin commented on #1531
Let's go with "You said..."

[2020-04-13 20:20] awallin commented on #1166
Here's an InVision prototype for the homepage.
https://mozilla.invisionapp.com/share/9XWU20C2DVB#/413305292_Home_-_1056

[2020-04-13 20:41] #1531 closed

[2020-04-14 11:01] alexandra-martin commented on #1275
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-13).
For the example made in the screencast (this.test.is.a.test.to.test.how.the.addon.works.while.testing.in.current.build.and.current.firefox.profile), the transcription in the negative feedback display only shows "e.addon.works.while.testing.in.current.".

![2](https://user-images.githubusercontent.com/54401091/79217761-0d162b80-7e58-11

[2020-04-14 11:10] alexandra-martin opened #1537 "Command transcription and black background are not shown together in doorhanger when making commands that open websites"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "How to make fish tacos" command or other commands that open a website tab.

### Expected result:
Doorhanger doesn't have display issues.

##

[2020-04-14 11:30] alexandra-martin opened #1538 "Longer command transcriptions from negative feedback are not centered"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a longer command, e.g. "How to make fish tacos with tuna garlic and basil".
3. Click on the sad emoticon when the "Did we get this right?" sectio

[2020-04-14 11:38] alexandra-martin commented on #1367
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-13).

![6](https://user-images.githubusercontent.com/54401091/79220854-79475e00-7e5d-11ea-8cf1-6c896ce27652.gif)

[2020-04-14 13:09] alexandra-martin commented on #1365
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-14).
Unfortunately the issue is still reproducing when "open Google", "open Google.com", "go to Google", "go to Google.com" is placed first in a routine.

![7](https://user-images.githubusercontent.com/54401091/79228508-38a21180-7e6a-11ea-8890-34aa97c680eb.gif)

[2020-04-14 13:14] alexandra-martin commented on #1507
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-14).

![5](https://user-images.githubusercontent.com/54401091/79228962-f4634100-7e6a-11ea-9ac8-7aa70f003edf.gif)

[2020-04-14 13:26] alexandra-martin commented on #1504
#### Update:
Additional display issue is observed:
- There is a white border on the right side of the black feedback background when doing a "Timer" command, which may cause the black background to not be centered in the doorhanger.

![8](https://user-images.githubusercontent.com/54401091/79229787-435da600-7e6c-11ea-9be1-22908c26371b.gif)

[2020-04-14 13:48] alexandra-martin commented on #1340
Currently when doing a "Play Green Day on Deezer" command, I am not getting the error anymore in the doorhanger, but it still just opens Deezer without doing anything more. If the command is made again in the Deezer tab, then music starts playing.

![9](https://user-images.githubusercontent.com/54401091/79231383-a4867900-7e6e-11ea-800f-670da65495c0.gif)

![10](https://user-images.githubusercontent

[2020-04-14 13:54] alexandra-martin commented on #1424
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-14).
Commands work if made in the Deezer tab. If commands are made from other tabs, it acts like in #1340.
Will verify the intent again after #1340 is fixed.

[2020-04-14 14:14] alexandra-martin commented on #397
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-14).

![12](https://user-images.githubusercontent.com/54401091/79234260-af430d00-7e72-11ea-8358-39d15e07f1e5.gif)

[2020-04-14 14:19] alexandra-martin commented on #1475
Verified on Mac 10.14 with Firefox Nightly 77.0a1 (2020-04-14).

![13](https://user-images.githubusercontent.com/54401091/79235182-f251b000-7e73-11ea-94bf-cbc323542503.gif)

[2020-04-14 15:52] melvin2016 commented on #1424
@alexandra-martin

This was working till the [commit](7b5c1eec4f773083177b96bf4165139d548beb8f).

![Screen-Recording-2020-04-14-at-9](https://user-images.githubusercontent.com/22199666/79245489-ca734400-7e95-11ea-97e2-dde6f4fae712.gif)

[2020-04-14 17:42] Simpcyclassy commented on #1527
I am unable to replicate this issue for "go to social". Is there anything I need to set on my browser. I am using mac 10.15.4, Firefox nightly  76.0a1 (2020-03-25)

[2020-04-14 19:11] rohanharikr commented on #1504
@alexandra-martin I'm unable to reproduce the padding issue.

<img width="1440" alt="Screenshot 2020-04-15 at 12 39 43 AM" src="https://user-images.githubusercontent.com/12775813/79264162-b9d0c700-7eb1-11ea-851f-a483165e4317.png">

[2020-04-14 19:50] awallin commented on #1504
I was able to reproduce using Version 0.19.5327.

<img width="1359" alt="Screen Shot 2020-04-14 at 12 49 51 PM" src="https://user-images.githubusercontent.com/428245/79267711-7729d300-7e4e-11ea-8efe-28b265df7a82.png">

[2020-04-14 20:47] rohanharikr commented on #1504
@awallin @alexandra-martin got the issue when taking a pull. working on the fix!

[2020-04-14 21:11] awallin opened #1542 "Visual clean up History"
These are visual specific fixes (and a couple minor functional tweaks) for the display of voice history in preferences. See attached mockup.

Separate issues are being added for larger functional additions. #1543 #1544 #1545

* Remove drop shadow around table
* Remove hover state on rows
* Update row style & size. Height 38px, alternative background color of #F2F2F2
* Change order of columns. "You

[2020-04-14 21:16] awallin opened #1543 "Enable feedback from history"
Let's leverage the display of history as another opportunity to gather feedback on how the system performed.

- Add smile icons to each row of history.
- When clicked the icons should store feedback via a telemetry ping (same as in the doorhanger)
- If negative feedback popup the doorhanger with the "What went wrong" prompt to collect additional feedback.
- If positive feedback display doorhanger

[2020-04-14 21:17] awallin opened #1544 "Enable repeat action from history"
By clicking on a link in their history the utterance should be triggered again (in a new window).

![history](https://user-images.githubusercontent.com/428245/79275241-aba38c00-7e5a-11ea-9ae1-b0dca4100f8d.jpg)

[2020-04-14 21:20] awallin opened #1545 "Disable voice history"
For people concerned about their voice utterance being visible in preference there should be an option to prevent the saving and display of voice history.

Options in the drop down should be:
* Remember what you said
* Forget what you said

[2020-04-14 21:22] rohanharikr commented on #1504
Open another PR #1546 to fix this issue

<img width="1440" alt="Screenshot 2020-04-15 at 12 39 43 AM" src="https://user-images.githubusercontent.com/12775813/79275608-205ee080-7ec4-11ea-95fa-4d1061b56afb.png">

[2020-04-14 21:24] annlinros commented on #1542
@awallin  I would really like to work on this!

[2020-04-14 21:25] awallin commented on #1542
All yours @annlinros

[2020-04-14 21:25] annlinros commented on #1542
Thanks :)

[2020-04-14 21:32] awallin commented on #1543
Attaching blue filled icons to use when feedback has already been given.
[icons-active.zip](https://github.com/mozilla/firefox-voice/files/4477880/icons-active.zip)

[2020-04-14 21:37] awallin commented on #1268
Another utterance to match for this:
* what streaming radio do you have

[2020-04-15 09:18] dave-ok commented on #1365
@ianb This issue was reintroduced by a regression in PR #1378
https://github.com/GangaChatrvedi/firefox-voice/blob/c6de989edec418a6d5d25633430f8c60651b607e/extension/background/intentRunner.js#L226-L228.
I am guessing calling `browserUtil.loadUrl()` was in an effort to compensate for the issue that was fixed in PR #1403 , but I can't confirm this because spotify web is not available in my region y

[2020-04-15 13:40] alexandra-martin commented on #1527
@Simpcyclassy "Go to social" works as expected. I only reproduced the issue with "Bring me to social".

[2020-04-15 14:01] alexandra-martin opened #1547 "Chime and alarm sounds are heard when "Timer" finishes but doorhanger needs to open"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"Play chime when opening mic" is enabled from the "Preferences" page.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Set timer for 10 seconds" command.
3. Close the doorhanger and wait un

[2020-04-15 14:42] alexandra-martin commented on #904
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-15).

![1](https://user-images.githubusercontent.com/54401091/79350651-66f22080-7f40-11ea-8a09-134158f58ff8.gif)

[2020-04-15 14:53] alexandra-martin commented on #1488
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-15).

![3](https://user-images.githubusercontent.com/54401091/79351992-f9df8a80-7f41-11ea-8906-6957556d6698.gif)

[2020-04-15 15:02] alexandra-martin commented on #1188
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-15).
I will reopen this report, as the "Type Input" suggestion from the "Preferences" page should also be implemented like in the mock-up displayed above.

![Annotation 2020-04-15 175639](https://user-images.githubusercontent.com/54401091/79352786-f4cf0b00-7f42-11ea-9c6a-5acbf0d57afd.png)

[2020-04-15 15:06] alexandra-martin commented on #1380
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-15).

![4](https://user-images.githubusercontent.com/54401091/79353500-cd2c7280-7f43-11ea-8210-1ad7799b85b6.gif)

[2020-04-15 15:18] alexandra-martin opened #1548 ""Zoom window" gives "Internal error: Error: An unexpected error occurred" when made on Windows"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Zoom window" command.

### Expected result:
If the command is not supported on the used device, a message stating that is displayed in the d

[2020-04-15 15:23] alexandra-martin commented on #1548
@awallin what do you think that doorhanger message should be like?

[2020-04-15 15:35] awallin opened #1549 "When alarm finishes play audio twice"
Currently the audio for a completed alarm only plays once. As it's only a couple seconds we should play it twice heard even if the user is a few feet away from their computer.

[2020-04-15 16:04] annlinros commented on #1543
@awallin I will soon submit a PR for this..

[2020-04-15 17:22] awallin commented on #1543
@annlinros I suppose multiple quick succession positive feedback clicks would be a less than ideal situation with the confirmation. Do you have suggestions for improvements? We could skip the confirmation and just change the color of the icon. Might be sufficient to indicate the positive feedback has been recorded.

[2020-04-15 17:44] awallin commented on #1524
@ianb The more causal and clear language of "I didn't hear that, please try again" is a good suggestion. Can we be confident when this error message is displayed the issue is garbled or no audio?

[2020-04-15 17:50] awallin commented on #1548
Instead of an error message we should probably execute a similar command on Windows.

Can we not maximize the active window or zoom in on Windows?

[2020-04-15 18:14] alexandra-martin commented on #1548
@awallin from what I understood, on Windows "Maximize window" is the equivalent of "Zoom window" which was first implemented for Mac. Now I'm not sure about the code behind the commands, but on Mac I was able to use both commands correctly, while on Windows only "Maximize window" works, while "Zoom window" gives that error in the doorhanger.

[2020-04-16 07:32] annlinros commented on #1543
@awallin  I think your suggestion of changing the icon color only would be a better user experience..and for negative responses we can show them the "what went wrong" feedback box..

[2020-04-16 09:31] dave-ok commented on #1365
@ianb I came across issue #1526 which should also be fixed by applying the suggestion above

[2020-04-16 14:40] alexandra-martin opened #1552 ""View bookmarks sidebar" displays a card in doorhanger"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "View bookmarks sidebar" command.

### Expected result:
The bookmark sidebar is displayed in the window.

### Actual result:
A Google card is

[2020-04-16 14:46] alexandra-martin commented on #373
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-16).

![1](https://user-images.githubusercontent.com/54401091/79469990-899c3c00-8009-11ea-9327-3ce96bf37f8a.gif)

[2020-04-16 14:48] Simpcyclassy commented on #1552
I will fix this

[2020-04-16 14:49] Simpcyclassy commented on #1552
I will like to fix this

[2020-04-16 15:27] Simpcyclassy commented on #1548
Please I will like to look into this

[2020-04-16 15:30] Simpcyclassy commented on #1548
I  see that different commands handle the "zoom window" and "maximize window". The fix should be to make one command handle both utterances

[2020-04-16 15:47] kelimuttu opened #1554 "Keypress for Firefox Voice is overlapping with 1Password"
On Mac, when you use 1Password, you can use a combination of command + period to unlock the app so you can fill out your password. However, today I just realized that it overlaps with Firefox Voice keypress. So, when I  press command + period, it triggers Firefox Voice instead of unlocking 1Password. I have to disable Firefox Voice in order to continue using 1Password.

[2020-04-16 16:42] awallin commented on #1543
@annlinros Great, let's go with that.

[2020-04-16 16:48] awallin commented on #1554
@kelimuttu Unfortunately there are a number of app with conflicting keyboard shortcuts. For both Firefox Voice and 1Password you can set a custom keyboard shortcut in the preferences section. Try changing the keyboard shortcut for either one of them and they'll happily co-exist.

[2020-04-16 16:48] #1554 closed

[2020-04-16 17:00] kelimuttu commented on #1554
I didn't know if we're able to do that. Thanks, @awallin

[2020-04-16 17:32] awallin commented on #1554
@kelimuttu In Firefox Voice try these steps:

- Click the mic icon to trigger listening
- In the popup click the gear icon in the lower left
- In the preferences screen you should see a "Keyboard shortcut" section (see attached screenshot)
- Click in the input box and type a new keyboard shortcut of your choice

<img width="1298" alt="Screen Shot 2020-04-16 at 10 30 28 AM" src="https://user-images

[2020-04-16 20:22] awallin opened #1555 "Long form dictation"
We received multiple requests for long form dictation into a Google Doc or email. See:
https://github.com/mozilla/firefox_voice_community/issues/375
https://github.com/mozilla/firefox_voice_community/issues/341
https://github.com/mozilla/firefox_voice_community/issues/284

This requires enabling a start + stop phrase so the mic can remain open. It would also require live transcription so the user

[2020-04-16 20:52] awallin commented on #1526
@ianb We should solve this before the next release.

[2020-04-16 20:59] awallin commented on #1474
I'm seeing this as well. The doorhanger with the transcript and confirmation remain in place but the card never appears. See attached.

We should fix before the next release.

<img width="1453" alt="Screen Shot 2020-04-16 at 1 57 35 PM" src="https://user-images.githubusercontent.com/428245/79506268-847bc480-7fea-11ea-9b25-b1f54f8aa3b4.png">
<img width="1453" alt="Screen Shot 2020-04-16 at 1 56 43

[2020-04-16 21:00] awallin commented on #1474
@amandhamija98 you're welcome to take a look.

[2020-04-16 21:04] awallin opened #1556 "'Look up...' should return search result"
A phrase like `Lookup fish taco recipes` should return a result from the default search engine. At some point this was change to return the first result. @ianb we should correct this before the next release.

[2020-04-17 00:57] vandnakapoor19 commented on #1526
@ianb @awallin I'd like to work on this.

[2020-04-17 01:06] vandnakapoor19 commented on #1556
@awallin @ianb I'd like to look on this issue.

[2020-04-17 06:12] kelimuttu commented on #1554
I've managed from the Manage Extension Shortcuts menu in Firefox. Thanks, though!

[2020-04-17 12:33] awuorm commented on #1556
@awallin  I am trying to work on this issue, would this be a preferable scenario where the command `Lookup fish taco recipes on food network` returns the fish taco recipes on food network vs `Lookup fish taco recipes` should return the results from the search engine.

[2020-04-17 12:59] awuorm commented on #1556
I have opened a PR for this issue #1558. The results for the diferrent phrases now have these results
`Lookup for houses on pinterest`
![Screenshot (1881)](https://user-images.githubusercontent.com/53653844/79571625-29b69b80-80c4-11ea-818d-b89bc53e2645.png)
vs `Lookup for houses`
![Screenshot (1882)](https://user-images.githubusercontent.com/53653844/79571706-510d6880-80c4-11ea-92e0-089d6beb4afc.p

[2020-04-17 17:12] awallin commented on #1526
Go for it @vandnakapoor19

[2020-04-17 17:19] awallin commented on #1556
Looking good @awuorm. When I tested the PR I noticed not all modifier (e.g. "...on pinterest") resulted in a search on that site. Does it only use the modifier if there is a bang search available?

[2020-04-17 17:23] awuorm commented on #1556
Yes it looks like it only works if the bang search is available, I also tried `lookup fish taco recipes on delish" and it returned a google search page instead of opening the site.

[2020-04-17 17:38] awallin commented on #1556
Makes sense. Works great.

[2020-04-17 18:38] #1548 closed

[2020-04-17 18:40] #1542 closed

[2020-04-17 19:48] awallin opened #1559 "'show options' intent"
Based on telemetry users are saying 'show options' expecting to see a list of what they can say.

`show options` should be an alias for 'help' which opens the lexicon.

[2020-04-17 19:57] awallin opened #1560 "'Sign in' and 'sign out' intent"
Sign in and sign out are common links/functionality on many websites. To make the process more efficient Firefox Voice could click the link for a user.

When a user says `Sign in` (or login, log me in, sign me in) Firefox Voice should look for a matching link/button on the page and click it taking the user to the appropriate page/form.

When a user says `Sign out` (or log out, log me out, sign me

[2020-04-17 20:07] Simpcyclassy commented on #1559
I will like to fix this

[2020-04-17 20:09] Simpcyclassy commented on #1560
May I look at this?

[2020-04-17 20:26] awallin opened #1561 "Educate post navigation"
After a user navigate to a page by saying things like "go to The New York Times" we have an opportunity to teach additional utterances they can use.

The confirmation doorhanger should stay open for a few seconds with the mic on #962 and suggestions to "scroll" and "follow link" should appear. The doorhanger should close after a few seconds if no audio is detected.

![navigation-educate](https://u

[2020-04-17 20:27] awallin commented on #1559
Go for it @Simpcyclassy

[2020-04-17 20:28] awallin commented on #1560
Go for it @Simpcyclassy

[2020-04-17 20:32] amandhamija98 commented on #1474
Thank you, could you please point me where to look in the codebase, i believe i should look in popupView.js

[2020-04-17 21:22] awallin commented on #989
@espertus I've started thinking about this one. Questions for you.
- Can we detect what messaging apps are available on the phone (whats app, FB messenger, etc)?
- If so, can we detect/match contacts in those apps?
- Can we understand which messaging app is used most frequently by the user?
- From the default messaging app can we understand which contact are messaged frequently?

[2020-04-20 15:40] ianb commented on #1549
To do this reliably we should probably just turn the file into the length we want.

[2020-04-20 15:59] #1559 closed

[2020-04-20 20:22] #1519 closed

[2020-04-20 20:25] #1530 closed

[2020-04-21 08:46] alexandra-martin commented on #1548
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-20).

![1](https://user-images.githubusercontent.com/54401091/79845415-aea3fc80-83c5-11ea-9b13-83f743a7b7b0.gif)

[2020-04-21 08:57] alexandra-martin commented on #1559
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-20).

![2](https://user-images.githubusercontent.com/54401091/79846491-2f172d00-83c7-11ea-9dad-a35221ba5776.gif)

[2020-04-21 08:59] alexandra-martin commented on #1519
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-20).

![3](https://user-images.githubusercontent.com/54401091/79846788-874e2f00-83c7-11ea-9aa5-7e019ded7a32.gif)

[2020-04-21 09:35] alexandra-martin opened #1566 ""Increase\ Decrease volume" gives "Internal error: Error: No handler for adjustVolume" in Spotify"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Spotify account is logged in and autoplay is enabled.
The Spotify tab is made active and a song is playing, while the volume button is placed in the middle of the sound bar.

### STR:
1. Use the shortcut or click on the mic icon from the br

[2020-04-21 09:55] alexandra-martin opened #1567 "Volume resets if the Youtube player sound button is manually muted and unmuted"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Youtube tab is made active and a video is playing, while the volume button is placed in the middle of the sound bar.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Decrease volume", or

[2020-04-21 10:58] alexandra-martin opened #1568 "Youtube sound bar moves if volume is at maximum\minimum and "Increase\ Decrease volume" is made"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Youtube tab is made active and a video is playing while the player's sound bar is placed at maximum level.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Increase volume" command.

###

[2020-04-21 12:31] alexandra-martin opened #1569 "Doorhanger is not displaying Google cards"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write commands that should open cards

[2020-04-21 12:47] alexandra-martin opened #1570 ""Bookmark has been removed"\ "Command cancelled" are displayed in doorhanger if new command is made right after a "Remove bookmark" follow up "Yes"\ "Cancel" command"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up needs to be clicked.
"A privacy reminder from Google" is reviewed and agreed and the yellow language pop-up is closed. (if applicable)
"Keep the microphone on for follow up responses" from "Settings" page is enabled.
A page is bookmarked and that page is

[2020-04-22 12:38] alexandra-martin opened #1571 "Making "Play"\ "Unpause" command two times will pause song again in Soundcloud"
### Prerequisites:
Mic permissions and autoplay are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Soundcloud tab is active and a song is paused.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Play" or "Unpause" command.
3. Repeat step 1 and 2.

### Expected result:
Soun

[2020-04-22 13:01] alexandra-martin opened #1572 "Making "Play Spotify" command two times from another window pauses Spotify"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A Spotify tab is opened in a window, an account is logged in, autoplay is enabled and a song is paused.
A second window is opened and a tab is made active from where commands are made.

### STR:
1. Use the shortcut or click on the mic icon fr

[2020-04-22 14:07] alexandra-martin opened #1573 "[Intermittent] Making "Play"\ "Unpause" after "Pause" command from another window doesn't unpause Soundcloud music"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
Soundcloud is set as the default "Music service" from the Firefox Voice "Preferences" page.
A Soundcloud tab is opened in a window and made active in that window, autoplay is enabled and a song is playing.
At least one other music tab is open

[2020-04-22 15:35] alexandra-martin opened #1574 "Linguee "Search" command makes a Google search"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a Linguee "Search" command, e.g. "Search voice on Linguee", "Look up voice on Linguee", "Look up Linguee for voice".

### Expected result:
Lingue

[2020-04-22 15:44] alexandra-martin opened #1575 "Command duplicates in "Lexicon""
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Lexicon" command, e.g. "Help", "Show options".
3. Scroll down to "Browser control" section.

### Expected result:
There are no display issues

[2020-04-22 15:50] alexandra-martin opened #1576 ""Settings" page opens every time a "Settings" command is made"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write a "Settings" command, e.g. "Open settings" or click on the bottom left "Settings" button.
3. Repeat steps 1 and 2.

### Expected result:
"Setting

[2020-04-22 16:01] awallin commented on #1575
Fixed in #1577

[2020-04-22 16:01] #1575 closed

[2020-04-22 18:37] #1529 closed

[2020-04-23 15:00] #1474 closed

[2020-04-23 15:00] #1569 closed

[2020-04-23 15:32] alexandra-martin commented on #1575
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-22).

![new lexicon](https://user-images.githubusercontent.com/54401091/80118248-d1364100-8590-11ea-848b-186d5e05ee39.png)

[2020-04-23 15:33] ianb opened #1581 "Do JS redirect on homepage"
We can't really keep our homepage on mozilla.github.io from being indexed and viewable. So to keep it from being a confusing clone, let's just put in a little code like:

[code]

[2020-04-23 15:36] alexandra-martin commented on #1529
Verified on Mac 10.14 and Windows 10x64 with Firefox Nightly 77.0a1 (2020-04-22).

![3](https://user-images.githubusercontent.com/54401091/80118606-502b7980-8591-11ea-9ff9-a0e9e7d3c444.gif)

[2020-04-23 15:55] alexandra-martin opened #1582 ""Previous result" doesn't show search results in case of returning from a "Next" command"
### Prerequisites:
Mic permissions are enabled.
"Allow" or "Don't Allow" button from “Allow Firefox Voice to Collect Voice Transcriptions” pop-up is clicked.
A "Search" command is made that opens a Google search result tab, e.g. "Search hiking in Denver".

### STR:
1. Use the shortcut or click on the mic icon from the browser toolbar.
2. Say or write the "Next" command.
3. Repeat steps 1 and 2.
4.

[2020-04-23 17:22] ianb commented on #1125
Also zero volume error should report to Sentry

[2020-04-23 21:01] ianb opened #1583 "[homepage] Add ids to FAQ questions"
I'd like to be able to link to FAQ items. Adding an `id` attribute to each would help.

It would be nice if the section could open if it is linked to. It's unclear to me how Prototype actually manages this. Though it looks like the existence of an `open` attribute does it. I guess this requires changing `<details>` to a React class, and using a combination of its id, `location.hash`, and I guess a

[2020-04-23 21:51] #1125 closed

[2020-04-24 15:38] dave-ok commented on #1574
@alexandra-martin Linguee had not been implemented yet. I have created a PR towards this

[2020-04-24 15:45] ianb commented on #860
Closing here, as there's no more we can do in Firefox Voice.

[2020-04-24 15:45] #860 closed

[2020-04-24 16:27] alexandra-martin commented on #1574
@dave-ok Oh ok. I thought it was, since it appears in the "Lexicon" page in the supported sites. Thank you for making the PR.

[2020-04-24 17:50] annlinros commented on #1574
I have also made a PR for this way back🙈

On Fri 24. Apr 2020 at 18:27, Alexandra Martin <notifications@github.com>
wrote:

--
Mit freundlichen Grüßen

Anna Nidhin

[2020-04-24 23:03] dave-ok commented on #1574
Yes @annlinros I saw your PR. Unfortunately, you worked on the suggested followup but missed the original issue. I guess that was why the PR had not been merged yet. I realized this when trying to fix the bug. Maybe you could try to create a separate issue for the followup and make a PR towards that

[2020-04-24 23:27] dave-ok commented on #1414
@alexandra-martin I found out this bug is actually from duckduckgo's bangsearch service. I have reported the bug on duckduckgo's website. I will give you feedback as soon as I hear back from them

[2020-04-25 11:10] annlinros commented on #1574
no @dave-ok my PR also addressed the bang search for linguee, if you check the changed files you will find that..And the search works actually.

[2020-04-25 11:47] dave-ok commented on #1574
@annlinros Oh! Sorry I missed that. Hopefully your PR will get merged first and the one I raised will be redundant

[2020-04-25 12:03] annlinros commented on #1574
No worries!!
 If you would like, you could make another PR for the other intent , say [query] on linguee.
My event listeners are not working properly and that functionality is not complete. I would love to see your solution.

[2020-04-25 12:10] dave-ok commented on #1574
@annlinros Cool. Maybe I will

[2020-04-25 19:33] vandnakapoor19 commented on #1505
@awallin  If everything is working fine then please close this issue. Let me know in case I've to make any other changes?

[2020-04-25 19:35] vandnakapoor19 commented on #1494
@awallin If everything is working fine then please close this issue. Let me know in case I've to make any other changes?

[2020-04-27 11:59] awuorm commented on #1527
Hi @alexandra-martin @ianb I have been working on this issue this past weekend.I have managed to get "bring me to [named page]" to bring up the correct tab. The command "open [named page]" and "go to [named page]" also works as expected as shown below.
![Screenshot (1901)](https://user-images.githubusercontent.com/53653844/80368449-730da480-8895-11ea-8940-f67d7b80e156.png)
![Screenshot (1899)](htt

[2020-04-27 16:36] awallin commented on #1505
Looks good. Closing.

[2020-04-27 16:36] #1505 closed

[2020-04-27 16:39] awallin commented on #1494
Looks good closing.

[2020-04-27 16:39] #1494 closed

[2020-04-27 17:08] awallin opened #1588 "Add bang search for video sites"
Based on user request (https://github.com/mozilla/firefox_voice_community/issues/388) we should add the ability to search the following sites using DuckDuckGo bang searches.

JustWatch.com > !justwatch
reelgood.com > !reelgood

[2020-04-27 17:14] awallin commented on #1217
Closing this as it's a duplicate of this wakeword implementation.
https://github.com/mozilla/firefox-voice/issues/1037

[2020-04-27 17:14] #1217 closed

[2020-04-27 19:13] #1526 closed

[2020-04-27 19:17] ianb commented on #1556
I believe this is fixed (at least "Lookup fish taco recipes" opens a search page).

[2020-04-27 19:17] #1556 closed

[2020-04-27 19:23] #1581 closed

[2020-04-27 19:44] virgilt commented on #1010
@ianb May I work on this?

[2020-04-27 21:29] virgilt commented on #1588
@awallin May I work on this?

[2020-04-28 01:11] jcambre opened #1593 "Support the `speakable` structured data property"
Based on https://developers.google.com/search/docs/data-types/speakable:

The feature seems to still be in beta, but indicates to assistants which portions of a webpage are suitable for reading aloud (e.g. for a news article). We should consider investigating how prevalent these tags are on news sites (or elsewhere), and whether it would be feasible to incorporate these tags into a more streamline

[2020-04-28 09:07] awuorm commented on #1556
Glad I could help :)

[2020-04-28 15:58] #1571 closed

[2020-04-28 17:02] ianb opened #1595 "Create architecture document"
The README doesn't really cover architecture, a separate document would be helpful to give guidance about the code.

[2020-04-28 19:26] ianb opened #1596 "Remove Porcupine"
It doesn't look like we want to use Porcupine, and should remove the code. The basic page functions can be left in (for keeping a wakeword page open), they just won't be backed by anything currently.

[2020-04-28 20:39] #1596 closed

[2020-04-28 20:42] ianb commented on #1595
Oh geez, I actually wrote one a long time ago. Just needs some updating I guess...

[2020-04-28 23:09] ianb opened #1598 "Remove URL-based execution"
We aren't using it in the extension now, and it's kind of dangerous-feeling.

[2020-04-29 16:48] ianb opened #1600 "Refactorings"
Some things that would be nice to do:

- [ ] Simplify content script loading
- [x] Get rid of some helpers in IntentContext, use browserUtils directly instead #1764
- [x] Move `background/language/` up a directory (has no background-specific code) #1766
- [ ] Move some built files into clearer locations (e.g., `build/`):
  - [ ] `background/intentImport.js`
  - [x] All files generated from `.jsx`

[2020-04-29 16:48] #1598 closed

[2020-04-29 16:49] ianb commented on #1038
We decided to remove Porcupine (#1596), so this is moot

[2020-04-29 16:49] #1038 closed

[2020-04-29 16:49] #1595 closed

[2020-04-29 17:23] ianb opened #1601 "Add user linking to generate-commit-log"
If a user isn't part of a whitelist (which we can hardcode) I'd like `bin/generate-commit-log` to include a link to the user as part of the changelog. Note this will have to lookup usernames through the [commit API](https://developer.github.com/v3/repos/commits/), e.g., `curl https://api.github.com/repos/mozilla/firefox-voice/commits/HASH` (should also create a local cache of the email addresses a

[2020-04-29 23:21] Vuelos opened #1602 "Spotify Play command only works with Spotify on English"
![imagen](https://user-images.githubusercontent.com/8868919/80655652-98491100-8a55-11ea-97a2-def601730c3b.png)

Here is a screen capture where you can see the error:

`Internal error: Error: Could not find element a[aria-label='Search']`

with the command "Play Madonna in Spotify", the Insperctor in the Button shows:

`<a class="link-subtle navBar-link ellipsis-one-line navBar-link--active" aria-l

[2020-05-01 16:40] ianb opened #1604 "Update npm packages"
There's a lot of outdated packages (see `npm outdated`), we should update them:

[code]

None of them are super important, so I don't care about getting everything perfect, but there's a lot of them and it would be easy to do it all at once. I think the best way to update is just `npm i PACKAGE@latest`

[2020-05-04 11:42] melvin2016 commented on #1602
Let me look at it.

[2020-05-04 12:46] alexandra-martin commented on #1526
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 77.0a1 (2020-05-03).

![1](https://user-images.githubusercontent.com/54401091/80966839-f68f3e80-8e1d-11ea-9673-012f970decea.gif)

[2020-05-04 13:15] alexandra-martin commented on #1556
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 77.0a1 (2020-05-03).

![2](https://user-images.githubusercontent.com/54401091/80969470-54258a00-8e22-11ea-9ff6-39930a502c71.gif)

[2020-05-04 13:20] alexandra-martin commented on #1571
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 77.0a1 (2020-05-03).

![3](https://user-images.githubusercontent.com/54401091/80969950-19702180-8e23-11ea-88fd-1e8ac48f688e.gif)

[2020-05-04 13:24] alexandra-martin commented on #1552
Verified on Mac 10.14 and Win 10x64 with Firefox Nightly 77.0a1 (2020-05-03).

![4](https://user-images.githubusercontent.com/54401091/80970302-9c917780-8e23-11ea-97b8-b8934e1e8ff2.gif)